<div id="myModal" class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width:1000px;top:65px;">
      <div class="modal-header">
        <button type="button" ng-click="stopVideo('vidHome')" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      </div>
      <div class="modal-body">
        <iframe ng-if="::(data.userInfo.isPeopleConnect || data.userInfo.isHeadOfPeopleConnect || data.userInfo.isValidator || data.userInfo.isManagement)" id="vidHome" src="https://player.vimeo.com/video/193745413?autoplay=0" style="width:950px;height:535px"
          frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <iframe ng-if="::(!data.userInfo.isPeopleConnect && !data.userInfo.isHeadOfPeopleConnect && !data.userInfo.isValidator && !data.userInfo.isManagement)" id="vidHome" src="https://player.vimeo.com/video/193745413?autoplay=0" style="width:950px;height:535px"
          frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="maintopbar">
  <div id="navbar-selector" class="navtopbar navbar-default">
    <ul id="topNavUl" class="nav navbar-nav">
      <li class="topNavbar" ng-repeat="macro in data.competencies" ng-class="{'active': macro.name === data.competencies[currentMacroIndex].name}">{{macro.name}}
      </li>
    </ul>
    <div class="buttons">
      <button class="btn btn-default Save" data-toggle="modal" data-target="#waitingModal" ng-click="save()">
        <img src="save_.svg" class="buttonIcon"> SAVE
      </button>
      <div class="divider"></div>
      <button class="btn btn-default Submit" data-toggle="modal" data-target="#waitingModal" ng-class="{'submitDisabled':!submitEnabled}" ng-click="submit()">
        <img src="submiticon.svg" class="buttonIcon"> SUBMIT
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="waitingModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modalImg">
          <img src="http://www.lettersmarket.com/uploads/lettersmarket/blog/loaders/common_metal/ajax_loader_metal_512.gif" />
        </div>
        <div class="modalTxt">
          <span>Saving your competencies...</span>
          <br>
          <span class="smallTxt">Please wait until this process is finished</span>
        </div>
      </div>
    </div>
  </div>
	<div class="modal-backdrop fade in"></div>
</div>
<!-- <script type="text/ng-template" id="modalTemplate">

        <div class="modal-content">
            <div class="panel-heading" style='display: flex;align-items: flex-start;height: 60px;background-color: #069a48;box-shadow: 0 2px 0 0 #003618;font-family: "Open Sans", sans-serif;font-size: 12px;font-weight: 600;font-style: normal;font-stretch: normal;letter-spacing: .1px;color: #ffffff;'>
                <h4 class="modal-title" id="myModalLabel">PLEASE WAIT</h4>
            </div>
            <div class="modal-body" style='display:flex;justify-content:center;flex-direction:column;'>
                  <p>Please wait.</p>
      <p>Don't close this window. Your changes are being saved/submitted.</p>
  </div>
        </div>
</script> -->
