$mobile-portrait: "(min-width: 321px) and (max-width: 750px)";
$desktop: "(min-width: 1025px)";
$tablet: "(min-width: 750px) and (max-width: 1024px)";
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
  }

  .modal.in .modal-dialog {
    text-align: -webkit-center !important;
    margin: 50px auto !important;
  }

  .modal-dialog {
    width: auto !important;
  }
	#waitingModal {
	  .modal-dialog {
	    top: 50%;
	    .modal-content {
	      width: 340px;
	      margin:auto;
	      .modal-body {
	        display:flex;
	        color:white;
	        background-color:black;
	        padding: 0;
	        align-items:center;
	        .modalImg {
	          padding: 15px 15px 15px 15px;
	          border-right: solid 1px grey;
	          img {
	            height:50px;
	            width:50px;
	            margin:auto;
	          }
	        }
	        .modalTxt {
	          width: 100%;
	          margin-left: 15px;
	          .smallTxt {
	            font-size:10px;
	          }
	        }
	      }
	    }
	  }
	}

@mixin flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

%flexbox { @include flexbox; }

//----------------------------------

@mixin inline-flex {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

%inline-flex { @include inline-flex; }

//----------------------------------------------------------------------

// Flexbox Direction
//
// The 'flex-direction' property specifies how flex items are placed in
// the flex container, by setting the direction of the flex container's
// main axis. This determines the direction that flex items are laid out in.
//
// Values: row | row-reverse | column | column-reverse
// Default: row
//
// http://w3.org/tr/css3-flexbox/#flex-direction-property

@mixin flex-direction($value: row) {
	@if $value == row-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: horizontal;
	} @else if $value == column {
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
	} @else if $value == column-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: vertical;
	} @else {
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
	}
	-webkit-flex-direction: $value;
	-moz-flex-direction: $value;
	-ms-flex-direction: $value;
	flex-direction: $value;
}
	// Shorter version:
	@mixin flex-dir($args...) { @include flex-direction($args...); }

//----------------------------------------------------------------------

// Flexbox Wrap
//
// The 'flex-wrap' property controls whether the flex container is single-line
// or multi-line, and the direction of the cross-axis, which determines
// the direction new lines are stacked in.
//
// Values: nowrap | wrap | wrap-reverse
// Default: nowrap
//
// http://w3.org/tr/css3-flexbox/#flex-wrap-property

@mixin flex-wrap($value: nowrap) {
	// No Webkit Box fallback.
	-webkit-flex-wrap: $value;
	-moz-flex-wrap: $value;
	@if $value == nowrap {
		-ms-flex-wrap: none;
	} @else {
		-ms-flex-wrap: $value;
	}
	flex-wrap: $value;
}

//----------------------------------------------------------------------

// Flexbox Flow (shorthand)
//
// The 'flex-flow' property is a shorthand for setting the 'flex-direction'
// and 'flex-wrap' properties, which together define the flex container's
// main and cross axes.
//
// Values: <flex-direction> | <flex-wrap>
// Default: row nowrap
//
// http://w3.org/tr/css3-flexbox/#flex-flow-property

@mixin flex-flow($values: (row nowrap)) {
	// No Webkit Box fallback.
	-webkit-flex-flow: $values;
	-moz-flex-flow: $values;
	-ms-flex-flow: $values;
	flex-flow: $values;
}

//----------------------------------------------------------------------

// Flexbox Order
//
// The 'order' property controls the order in which flex items appear within
// their flex container, by assigning them to ordinal groups.
//
// Default: 0
//
// http://w3.org/tr/css3-flexbox/#order-property

@mixin order($int: 0) {
	-webkit-box-ordinal-group: $int + 1;
	-webkit-order: $int;
	-moz-order: $int;
	-ms-flex-order: $int;
	order: $int;
}

//----------------------------------------------------------------------

// Flexbox Grow
//
// The 'flex-grow' property sets the flex grow factor. Negative numbers
// are invalid.
//
// Default: 0
//
// http://w3.org/tr/css3-flexbox/#flex-grow-property

@mixin flex-grow($int: 0) {
	-webkit-box-flex: $int;
	-webkit-flex-grow: $int;
	-moz-flex-grow: $int;
	-ms-flex-positive: $int;
	flex-grow: $int;
}

//----------------------------------------------------------------------

// Flexbox Shrink
//
// The 'flex-shrink' property sets the flex shrink factor. Negative numbers
// are invalid.
//
// Default: 1
//
// http://w3.org/tr/css3-flexbox/#flex-shrink-property

@mixin flex-shrink($int: 1) {
	-webkit-flex-shrink: $int;
	-moz-flex-shrink: $int;
	-ms-flex-negative: $int;
	flex-shrink: $int;
}

//----------------------------------------------------------------------

// Flexbox Basis
//
// The 'flex-basis' property sets the flex basis. Negative lengths are invalid.
//
// Values: Like "width"
// Default: auto
//
// http://www.w3.org/TR/css3-flexbox/#flex-basis-property

@mixin flex-basis($value: auto) {
	-webkit-flex-basis: $value;
	-moz-flex-basis: $value;
	-ms-flex-preferred-size: $value;
	flex-basis: $value;
}


@mixin flex($fg: 1, $fs: null, $fb: null) {

	// Set a variable to be used by box-flex properties
	$fg-boxflex: $fg;

	// Box-Flex only supports a flex-grow value so let's grab the
	// first item in the list and just return that.
	@if type-of($fg) == 'list' {
		$fg-boxflex: nth($fg, 1);
	}

	-webkit-box-flex: $fg-boxflex;
	-webkit-flex: $fg $fs $fb;
	-moz-box-flex: $fg-boxflex;
	-moz-flex: $fg $fs $fb;
	-ms-flex: $fg $fs $fb;
	flex: $fg $fs $fb;
}



@mixin justify-content($value: flex-start) {
	@if $value == flex-start {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
	} @else if $value == flex-end {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
	} @else if $value == space-between {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
	} @else if $value == space-around {
		-ms-flex-pack: distribute;
	} @else {
		-webkit-box-pack: $value;
		-ms-flex-pack: $value;
	}
	-webkit-justify-content: $value;
	-moz-justify-content: $value;
	justify-content: $value;
}
	@mixin flex-just($args...) { @include justify-content($args...); }



@mixin align-items($value: stretch) {
	@if $value == flex-start {
		-webkit-box-align: start;
		-ms-flex-align: start;
	} @else if $value == flex-end {
		-webkit-box-align: end;
		-ms-flex-align: end;
	} @else {
		-webkit-box-align: $value;
		-ms-flex-align: $value;
	}
	-webkit-align-items: $value;
	-moz-align-items: $value;
	align-items: $value;
}


@mixin align-self($value: auto) {
	-webkit-align-self: $value;
	-moz-align-self: $value;
	@if $value == flex-start {
		-ms-flex-item-align: start;
	} @else if $value == flex-end {
		-ms-flex-item-align: end;
	} @else {
		-ms-flex-item-align: $value;
	}
	align-self: $value;
}

@mixin align-content($value: stretch) {
	// No Webkit Box Fallback.
	-webkit-align-content: $value;
	-moz-align-content: $value;
	@if $value == flex-start {
		-ms-flex-line-pack: start;
	} @else if $value == flex-end {
		-ms-flex-line-pack: end;
	} @else {
		-ms-flex-line-pack: $value;
	}
	align-content: $value;
}







.topNavbar{
  padding-right: 20px;
  letter-spacing: 0.2px;
  font-family: "Open Sans", sans-serif;
}
.maintopbar{
	display: table;
    height: 85px;
    overflow: hidden;
    width: 100%;
      margin-left: .5%;
}
#topNavUl{
  display:flex;
}
#topNavUl li{
  line-height: 25px;
}

#navbar-selector{
  height: 85px;
  min-height: 10px;
  line-height: 45px;

}
#navbar-selector > ul > li{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    color: black;
    float: left;
    list-style: none;
    text-align: center;

    margin-right: 14px;
    max-width: 200px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    height: 35px;


  background-image: linear-gradient(-180deg, #FFFFFF 0%, #FCFCFC 100%);
border: 1px solid #D4D5D6;
box-shadow: 0px 2px 0px 0px #D4D5D6;
border-radius: 4px;
}

#navbar-selector > ul > li.active{
  	box-shadow: 0px 2px 1px #003e5b;
  	border-color: #003e5b;
	background: #0a77a9;
  	color: white;
}

.navtopbar{
    min-height: 10px;
    line-height: 45px;
    display: table-cell;
    vertical-align: middle;
	background-color: #ededed;
}
.Save{
    width: 100%;
    font-family: "Open Sans", sans-serif;
    color: #53565a;
    font-size: 12px;
    letter-spacing: 0.2px;
	background-image: linear-gradient(-180deg, #FFFFFF  0%, #FCFCFC  100%);
    border: 1px solid rgba(175,177,178,0.52);
    box-shadow: 0px 2px 0px 0px #D4D5D6 ;
    border-radius: 4px;
}
.Submit{
  	width: 100%;
    color: white;
    font-size: 12px;
    letter-spacing: 0.2px;
	background: #86BC25 ;
    border: 1px solid #6FA214 ;
    box-shadow: 0px 2px 0px 0px #6FA214 ;
    border-radius: 4px;
  	font-family: "Open Sans", sans-serif;
  &.submitDisabled {
    background: #63605F;
    border: 1px solid #63605F;
    box-shadow: 0 2px 0 0 black;
    pointer-events: none;
    cursor: default;
  }
}
.Save:hover{
    font-family: "Open Sans", sans-serif;
    color: #53565a;
    font-size: 12px;
    letter-spacing: 0.2px;
	background-image: linear-gradient(-180deg, #FFFFFF  0%, #FCFCFC  100%);
    border: 1px solid #000000 ;
    box-shadow: 0px 2px 0px 0px #000000 ;
    border-radius: 4px;
}
.Save:active{
    font-family: "Open Sans", sans-serif;
    color: #53565a;
    font-size: 12px;
    letter-spacing: 0.2px;
	background-image: linear-gradient(-180deg, #FFFFFF  0%, #FCFCFC  100%);
    border: 1px solid #000000 ;
    box-shadow: inset 0px 3px 0px 0px #000000 ;
    border-radius: 4px;
}

.divider{
	width: 20px;
}
.Submit:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
.Submit:hover:disabled{
  border-color: transparent;
  background-color: #86bc25;
}
.buttons{
  	    margin-right: 4px;
	float: right;
    display: inline-flex;
}
.counterList{
  color:white;
	position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(228,35,19,1);
	@include flexbox;
	@include justify-content(center);
  @include align-items(center);
    top: -10px;
    right: -10px;
}
.buttonIcon{
 padding-right: 5px;
  height: 15px;
}

@media #{$tablet}{
  .hideTablet{
  	display:none;
  }
   div.myModal{
    display:none !important;
  }
}
@media #{$mobile-portrait} {
  .maintopbar{
    display:none;
  }
   div.myModal{
    display:none !important;
  }
}
