<div id="schedulingHomeMaster">
  <div class="schedulingHomeHeader">
    <div class="left">
      <md-select ng-model="filterProjects" md-container-class="filterOpts" data-toggle="tooltip" data-placement="bottom" title="Filter projects by status">
        <md-option ng-value="f" ng-repeat="f in data.filterOptionsProjs">{{f.label}}</md-option>
      </md-select>
      <md-select ng-model="filterRequests" md-container-class="filterOpts" data-toggle="tooltip" data-placement="bottom" title="Filter requests by status">
        <md-option ng-value="f" ng-repeat="f in filterProjects.requestFilters">{{f.label}}</md-option>
      </md-select>
      <div ng-hide="filter.value!='active'" class=" hideMobile checkbox checkbox-primary allCheckboxDiv align-allow-outsourcing">
        <input id="checkboxAll" class="align-checkbox" type="checkbox" ng-model="filteringActiveProjects" checked>
        <label class="outsourcing-desc outsourcing" for="checkboxAll">Show only Projects with Active Requests</label>
      </div>
    </div>

    <div class="controls">
      <button ng-if="!activateGridLayout" class="toggle-grid-button hideNonDesktop hidden-xs hidden-md" data-toggle="tooltip" data-placement="bottom" title="Grid View" ng-click="toggleGridLayout()">
        <span class="glyphicon glyphicon-th"></span>
      </button>
      <button ng-if="activateGridLayout" class="toggle-grid-button hideNonDesktop hidden-xs hidden-md" data-toggle="tooltip" data-placement="bottom" title="Table View" ng-click="toggleGridLayout()">
        <span class="glyphicon glyphicon-list"></span>
      </button>
      <a href="/sp?id=_u__scheduling_new_project">
        <button class="new-project-button">
          <div data-toggle="tooltip" data-placement="bottom" title="Create New Project">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="glyphicon glyphicon-folder-open"></span>
          </div>
        </button>
      </a>
    </div>

  </div>
  <div class="schedulingHomeBody">

    <div class="projectsContainer">

      <div class="projectRow" ng-repeat="project in data.projects | filter:projectFilter" ng-init="projIndex = $index">
        <!--ng-repeat per project-->
        <div class="projectName">
          <span class="projectTitle">{{project.name | limitTo:projectTitleLimit() }}{{(project.name.length > projectTitleLimit()) ? "...":""}}</span>
          <div class="projectControls">
            <button class="edit-request-button" ng-click="editProject(project.sys_id)">
              <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit Project"></span>
            </button>
            <button ng-class="{'hideButton':(project.status.value !== 'open')}" class="new-request-button" data-toggle="modal" data-target="{{modalToUse()}}" ng-click="selectRequest(project, $index) ">
              <div data-toggle="tooltip" title="Add New Request">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="glyphicon glyphicon-user"></span>
              </div>
            </button>
            <img src="open_request_gray.svg" data-toggle="tooltip" title="Show Requests" class="projectButton" ng-click="showProject(project)" ng-if="showingProject !== project" ng-class="{'hideButton': requestsNDraftsForProject(project,currentPage).length == 0}"
            />
            <img src="close_request_gray.svg" data-toggle="tooltip" title="Hide Requests" class="projectButton" ng-click="showProject()" ng-if="showingProject == project" ng-class="{'hideButton': requestsNDraftsForProject(project,currentPage).length == 0}" />
          </div>
        </div>
        <div class="projectRequests row" ng-if="showingProject == project && requestsNDraftsForProject(project).length > 0">

          <div class="rowContainer col-md-6 col-sm-12 col-lg-3" ng-repeat="request in requestsNDraftsForProject(project) | filter:requestPaginationFilter | orderBy:'request.st_date'" ng-show="activateGridLayout">
            <div class="requestRowSquare">
              <div class="topBar">
                <div class="status">
                  <div class="content" ng-class="{'draftRequestText': request.status.value === 'draft', 'pcApprovalRequestText': request.status.value === 'pconnect_approval',
                                   'managerApprovalRequestText': request.status.value === 'pmanager_approval', 'communicationRequestText': request.status.value === 'communication_out',
                                   'closedRequestText': isClosed(request), 'cancelledRequestText': (request.status.value === 'cancelled')}">{{request.status.label}}</div>

                </div>
                <div class="requestOptions">
                  <div class="editSquareButton" ng-click="selectRequest(project, projIndex, request, $index)" data-toggle="modal" data-target="{{modalToUse()}}" ng-if="dependsOnMe(request) || communicationIsActive(request, project)">
                    <img src="editRequest.svg" data-toggle="tooltip" title="Edit Request" />
                  </div>

                  <div class="viewSquareButton" ng-click="selectRequest(project, projIndex, request, $index)" data-toggle="modal" data-target="{{modalToUse()}}" ng-if="!dependsOnMe(request)" ng-hide="communicationIsActive(request, project)">
                    <img src="viewRequest.svg" data-toggle="tooltip" title="View Request" />
                  </div>
                  <div class="cancelSquareButton" ng-click="cancelRequest(selectRequest(project,projIndex, request, $index))" ng-class="{'cancelDisabled': !dependsOnMe(request)}">
                    <img src="close.png" data-toggle="tooltip" title="Cancel Request" />
                  </div>
                </div>

              </div>
              <div class="line">
                <div class="title">#Role:</div>
                <div class="content">{{request.numResources.toString() + " " + request.role}}</div>
              </div>
              <div class="line">
                <div class="title">Category:</div>
                <div class="content">{{request.categoryShow | limitTo:characterLimit}}{{request.categoryShow.length > characterLimit ? '...' : ''}}</div>
              </div>
              <div class="line">
                <div class="title">Start date:</div>
                <div class="content">{{request.st_date | date: 'dd-MM-yyyy'}}</div>
              </div>
              <div class="line">
                <div class="title">End date:</div>
                <div class="content">{{request.end_date | date: 'dd-MM-yyyy'}}</div>
              </div>
              <div class="line">
                <div class="title">Engagement:</div>
                <div class="content">{{request.engagement}}</div>
              </div>
              <div class="line">
                <div class="title">Assigned to:</div>
                <div class="content">-</div>
              </div>
              <div class="line">
                <div class="title">Days left:</div>
                <div class="content">{{request.daysLeft}}</div>
              </div>
            </div>

          </div>

          <div class="tableHeader" ng-show="!activateGridLayout">

            <div id="statusHeader">STATUS</div>
            <div id="numberHeader">#</div>
            <div id="roleHeader">ROLE</div>
            <div id="categoryHeader">CATEGORY</div>
            <div id="startDateHeader">START DATE</div>
            <div id="endDateHeader">END DATE</div>
            <div id="engagementHeader">ENGAGEMENT</div>
            <div id="assignedHeader">ASSIGNED TO</div>
            <div id="daysLeftHeader">DAYS LEFT</div>
          </div>
          <div class="requestRow" ng-show="!activateGridLayout" ng-repeat="request in requestsNDraftsForProject(project) | filter:requestPaginationFilter | orderBy: st_date" ng-show="!activateGridLayout">
            <div class="requestStatus requestCell">
              <div ng-class="{'draftRequest': request.status.value === 'draft', 'pcApprovalRequest': request.status.value === 'pconnect_approval',
                             'managerApprovalRequest': request.status.value === 'pmanager_approval', 'communicationRequest': request.status.value === 'communication_out',
                             'closedRequest': isClosed(request), 'cancelledRequest': (request.status.value === 'cancelled')}"></div>
              <div ng-class="{'draftRequestText': request.status.value === 'draft', 'pcApprovalRequestText': request.status.value === 'pconnect_approval',
                             'managerApprovalRequestText': request.status.value === 'pmanager_approval', 'communicationRequestText': request.status.value === 'communication_out',
                             'closedRequestText': isClosed(request), 'cancelledRequestText': (request.status.value === 'cancelled')}">
                {{request.status.label}}
              </div>
            </div>
            <div class="requestNumber requestCell">{{request.numResources}}</div>
            <div class="requestRole requestCell">{{request.role}}</div>
            <div class="requestCategory requestCell">{{request.categoryShow | limitTo:characterLimit}}{{request.categoryShow.length > characterLimit ? '...' : ''}}</div>
            <div class="requestStartDate requestCell" ng-bind="request.st_date | date: 'dd-MM-yyyy'"></div>
            <div class="requestEndDate requestCell" ng-bind="request.end_date | date:'dd-MM-yyyy'"></div>
            <div class="requestEngagement requestCell">{{request.engagement}}</div>
            <div class="requestAssigned requestCell">-</div>
            <div class="requestDaysLeft requestCell">{{request.daysLeft}}</div>
            <div class="requestOptions requestCell">
              <div class="editSquareButton" ng-click="selectRequest(project, projIndex, request, $index)" data-toggle="modal" data-target="{{modalToUse()}}" ng-if="dependsOnMe(request) || communicationIsActive(request, project)">
                <img src="editRequest.svg" data-toggle="tooltip" title="Edit Request" />
              </div>
              <div class="viewSquareButton" ng-click="selectRequest(project, projIndex, request, $index)" data-toggle="modal" data-target="{{modalToUse()}}" ng-if="!dependsOnMe(request)" ng-hide="communicationIsActive(request, project)">
                <img src="viewRequest.svg" data-toggle="tooltip" title="View Request" />
              </div>
              <div class="cancelSquareButton" ng-click="cancelRequest(selectRequest(project,projIndex, request, $index))" ng-class="{'cancelDisabled': !dependsOnMe(request)}">
                <img src="close.png" data-toggle="tooltip" title="Cancel Request" />
              </div>
            </div>
          </div>
          <ul class="pagination col-sm-12 paginationUL" ng-if=" pagesArray(requestsNDraftsForProject(project).length).length > 1">
            <li ng-class="{active:p.current,disabled:(!p.active)}" ng-repeat="p in pagesArray(requestsNDraftsForProject(project).length)">
              <a href="#" ng-click="paginationButtonClicked(p.pageNr,project)">{{p.pageNr}}</a>
            </li>
          </ul>

        </div>

        <div class="projectRequests" ng-if="showingProject == project && (project.requests.length == 0 && project.requests.length == 0)">
          No requests to show
        </div>
      </div>

    </div>

  </div>
</div>

<div class="modal fade" id="desktopProjModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="panel-heading">
        <span class="modal-title" id="myModalLabel">{{selectedRequest.project.name}}</span>
        <button type="button" class="btn closedTop" data-dismiss="modal" ng-click="restoreRequest()">
          <div data-toggle="tooltip" title="Close">
            <span class="glyphicon glyphicon-remove"></span>
          </div>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-footer">
          <span class="red-text">* Required fields</span>
          <div class="modal-draftButtons">
            <button type="button" class="btn" ng-repeat="ac in selectedRequest.request.status.actions" ng-class="ac.classes" ng-click="ac.func()" ng-hide="ac.hidden(selectedRequest.request,selectedRequest.project)" ng-disabled="ac.disable(selectedRequest.request,selectedRequest.project)">
              <div data-toggle="tooltip" title="{{ac.tooltip}}">
                <span class="{{ac.icons}}">{{ac.icons ? "" : ac.title}}</span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade and carousel slide" id="desktopProjModalMobile" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="panel-heading">
        <span class="modal-title" id="myModalLabel">{{selectedRequest.project.name}}</span>
        <button type="button" class="btn closedTop" data-dismiss="modal" ng-click="restoreRequest()">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
      <div class="modal-body carousel slide" id="myCarousel" data-ride="carousel">
        <!-- Indicators -->
        <!--    <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol> -->

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

          <!-- Content will be injected here -->

        </div>

        <!-- Left and right controls -->
        <!--<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a> -->

        <div class="modal-footer" ng-if="!editing">
          <div class="red-text-mobile">* Required fields</div>
          <div class="carousel-buttons" ng-class="{'noPrev':!mobileModalShowPrevious}">
            <button type="button" class="left btn " role="button" data-slide="prev" ng-if="mobileModalShowPrevious">
              <a class="left" role="button" data-slide="prev" ng-click="changePageModal(false)">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
            </button>
            <button type="button" class="right btn " role="button" data-slide="next" ng-if="mobileModalShowNext">
              <a class="right" role="button" data-slide="next" ng-click="changePageModal(true)">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </button>
            <div class="mobileModalControls" ng-if="!mobileModalShowNext">
              <div class="draftControls">
                <button type="button" class="btn" ng-repeat="ac in selectedRequest.request.status.actions" ng-class="ac.classes" ng-click="ac.func()" ng-disabled="ac.disable(selectedRequest.request,selectedRequest.project)" ng-hide="ac.hidden(selectedRequest.request,selectedRequest.project)">
                  <span class="{{ac.icons}}">{{ac.icons ? "" : ac.title}}</span>
                </button>
              </div>

              <!--
              <div class="draftControls" ng-show="selectedRequest.request.status.value == 'draft'">
                <button type="button" class="btn closed" data-dismiss="modal" ng-click="restoreRequest()" ng-if="!editCancelled"><span class="glyphicon glyphicon-remove"></span></button>
                <button type="button" class="btn discard" data-dismiss="modal" ng-disabled="!editing" ng-click="cancelRequest()"><span class="glyphicon glyphicon-trash"></span></button>
                <button type="button" class="btn save" data-dismiss="modal" ng-click="saveRequest()" ng-if="!editCancelled"><span class="glyphicon glyphicon-floppy-disk"></span></button>
                <button type="button" class="btn submit" data-dismiss="modal" ng-click="submitRequest()"><span class="glyphicon glyphicon-save"></span></button>
                <button type="button" class="btn submitCreateNew" ng-click="submitAndNew()" ng-if="!editCancelled">Submit & Create New</button>
              </div>
              <div class="approvalControls" ng-show="selectedRequest.request.status.value == 'pmanager_approval'">
                <button type="button" class="btn closed" data-dismiss="modal" ng-click="restoreRequest()"><span class="glyphicon glyphicon-remove"></span></button>
                <button type="button" class="btn rejectApproval" data-dismiss="modal" ng-click="">Reject</button>
                <button type="button" class="btn acceptApproval" data-dismiss="modal" ng-click="">Accept</button>
              </div>
            -->
            </div>

          </div>
        </div>
      </div>

      <div class="modal-footer" ng-if="editing">
        <div class="red-text-mobile">* Required fields</div>
        <div class="carousel-buttons" ng-class="{'noPrev':!mobileModalShowPrevious}">
          <button type="button" class="left btn " role="button" data-slide="prev" ng-if="mobileModalShowPrevious">
            <a class="left" role="button" data-slide="prev" ng-click="changePageModal(false)">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
          </button>
          <button type="button" class="right btn " role="button" data-slide="next" ng-if="mobileModalShowNext">
            <a class="right" role="button" data-slide="next" ng-click="changePageModal(true)">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </button>
          <div class="mobileModalControls" ng-if="!mobileModalShowNext">
            <button type="button" class="btn closed" data-dismiss="modal" ng-click="restoreRequest()" ng-show="!dependsOnMe(selectedRequest.request)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
            <div class="draftControls">
              <button type="button" class="btn" ng-repeat="ac in selectedRequest.request.status.actions" ng-class="ac.classes" ng-click="ac.func()" ng-disabled="ac.disable(selectedRequest.request,selectedRequest.project)">
                <span class="{{ac.icons}}">{{ac.icons ? "" : ac.title}}</span>
              </button>
            </div>
          </div>

        </div>
      </div>
      <!-- /.modal-body -->
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="cancelReasonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="panel-heading">
        <h4 class="modal-title" id="myModalLabel">Cancellation Reason</h4>
        <button class="btn closedTop" type="button" data-dismiss="modal">
          <div data-toggle="tooltip" title="Close">
            <span class="glyphicon glyphicon-remove"></span>
          </div>
        </button>
      </div>
      <div class="modal-body">
        <textarea type="text" ng-model="cancellationReason" placeholder="Please state your reason for cancelling the request"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary save-btn" data-dismiss="modal" ng-click="performCancellation()" ng-disabled="cancellationReason == ''">Submit</button>
      </div>
    </div>
  </div>
</div>

<script id="modalBodyTemplate" type="text/html">
  <div class="item active projectInfoSection">
    <span class="main-resource-title sectionTitle">Project</span>
    <button type="button" data-toggle="tooltip" title="Clone Request" class="btn clone" ng-if="selectedRequest.request.status.value == 'cancelled'" ng-click="cloneRequest()">
      <span class="glyphicon glyphicon-duplicate"></span>
    </button>
    <hr>
    <div class="row">
      <div class="modal-half col-md-4 offset-md-6 col-xs-12">
        <div class="cardinal">Engagement<span class="red-text" ng-if="selectedRequest.request.status.mandatory">*</span>
        </div>
        <div class="dropdown">
          <button id="custom-select-desktop" class="btn dropdown-toggle" data-toggle="dropdown" ng-disabled="!isEditable(selectedRequest.request)">
            <div class="mainDiv">
              <div class="mainText ">{{selectedEngagement.engNumber | limitTo:characterLimit}}{{selectedEngagement.engNumber.length > characterLimit ? '...' : ''}}</div>
            </div>
            <div class="carret">
              <span class="glyphicon glyphicon-menu-down"></span>
            </div>
          </button>
          <ul class="dropdown-menu scrollable-menu">
            <li ng-repeat="eng in selectedRequest.project.engagements track by $index" ng-click="selectedEngagementChanged($index)">
              <a class="optContainer">
                <div class=optionMainText>{{eng.engNumber | limitTo:characterLimit}}{{eng.engNumber.length > characterLimit ? '...' : ''}}</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="modal-full col-md-12">
        <div class="cardinal">Description</div>
        <div class="input-group input-group-sm discription">
          <textarea name="textarea" id="projectDescription" readonly class="form-control" ng-bind="selectedRequest.project.description" rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="item selectedResourceAndRequestDetails" ng-show="selectedRequestNeedsSections(['allocatedResource','earlyLeave','requestDetails','pconnectProposal'])">

    <div class="requestInfo" ng-show="selectedRequestNeedsSections(['requestDetails'])">
      <div class="main-resource-title sectionTitle">Request Details</div>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <div class="cardinal">Requester</div>
          <input class="resource-info-title form-control" type="text" aria-describedby="sizing-addon3" ng-value="selectedRequest.request.requester" readonly>
        </div>
        <div class="col-md-3">
          <div class="cardinal">Request Date</div>
          <!-- set as date -->
          <div>

            <md-datepicker ng-disabled="true" ng-model="selectedRequest.request.requestDate"></md-datepicker>
          </div>
        </div>
      </div>
      <div ng-show="selectedRequestNeedsSections(['cancellationReason'])" class="cancellationInfo">
        <span class="main-resource-title sectionTitle">Cancellation Details</span>
        <hr>
        <div>
          <div class="cardinal">Cancellation Reason</div>
          <div class="input-group input-group-sm discription">
            <textarea name="textarea" readonly class="form-control" ng-model="selectedRequest.request.cancellationReason" rows="3"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="selectedRequestNeedsSections(['allocatedResource'])" class="selectedResourceContainer">
      <span class="main-resource-title">Selected Resource</span>
      <hr>
      <div class="cardinal">Resource Name</div>
      <input ng-readonly="true" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" id="selectedResource" ng-model="selectedRequest.request.allocatedResource" type="text" aria-describedby="sizing-addon3" aria-invalid="false">
      <div class="cardinal">Approval Comments</div>
      <div class="input-group input-group-sm discription">
        <textarea class="form-control" name="textarea" ng-model="selectedRequest.processedComments" readonly></textarea>
      </div>

    </div>
    <div class="modal-early-leave" ng-show="selectedRequestNeedsSections(['earlyLeave'])">

      <div class="main-resource-title sectionTitle">Left Early</div>
      <hr>

      <div class="row">
        <div class="col-md-3">
          <div class="cardinal">Communication Date</div>

          <md-datepicker ng-disabled="true" ng-model="selectedRequest.request.dateCommOut"></md-datepicker>
        </div>
        <div class="col-md-3">
          <div class="cardinal">Actual End Date</div>

          <md-datepicker ng-disabled="true" ng-model="selectedRequest.request.new_end_date"></md-datepicker>
        </div>
        <div class="col-md-offset-6"></div>
      </div>
      <div class="cardinal">Communication Comments</div>
      <div class="input-group input-group-sm discription">
        <textarea class="form-control" ng-readonly="true" name="textarea" id="draftSubtmitComments" ng-model="selectedRequest.request.commOutComments"></textarea>
      </div>
    </div>


    <div class="modal-communication_out" ng-show="selectedRequestNeedsSections(['commOutDetails'])" ng-class="{item:false}">
      <span class="main-resource-title">Communication Out Details</span>
      <hr>
      <div class="row">
        <div class="modal-half col-md-3">
          <div class="cardinal">Resource</div>
          <input ng-readonly="true" class="resource-info-title form-control" type="text" aria-describedby="sizing-addon3" ng-value="selectedRequest.request.allocatedResource">
        </div>
        <div class="col-md-3">
          <div class="cardinal">Communication Date<span class="red-text">*</span></div>
          <div>
            <md-datepicker ng-model="selectedRequest.request.dependantRequest.dateCommOut" ng-model="selectedRequest.request.dependantRequest.dateCommOut"></md-datepicker>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="cardinal">Communication Comments<span class="red-text">*</span></div>
          <div class="input-group input-group-sm discription">
            <textarea class="form-control" rows="3" name="textarea" id="communication_inComments" ng-model="selectedRequest.request.dependantRequest.commOutComments"></textarea>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="modal-approval item" ng-show="selectedRequestNeedsSections(['pconnectProposal'])">
    <span class="main-resource-title sectionTitle">People Connect Proposal</span>
    <hr>
    <!--Desktop table-->
    <div class="row hideMobile">
      <div class="modal-full col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-2 resourceContainer" ng-repeat="resource in selectedRequest.request.proposedResources">
          <div class="resourceName">
            <img src="resource_placeholder.svg" />
            <br> {{resource.name}}
          </div>
          <div class="resourceCategory">{{resource.cat}}</div>
        </div>
      </div>
    </div>

    <div class="row hideMobile">

      <div class="modal-full col-md-12">
        <div class="modal-full col-md-12 competencyTypeDivider">
          Mandatory Competencies
        </div>
        <div class="compRow" ng-repeat="competency in selectedRequest.request.proposedResources[0].mandComps" ng-init="mandCompIndex = $index">
          <div class="col-md-2 competencyName">
            {{competency.name}}
          </div>
          <div class="col-md-2 competencyProficiency" ng-repeat="resource in selectedRequest.request.proposedResources">
            <div>{{resource.mandComps[mandCompIndex].prof}}</div>
          </div>
        </div>
      </div>
      <div class="modal-full col-md-12">
        <div class="modal-full col-md-12 competencyTypeDivider">
          Optional Competencies
        </div>
        <div class="compRow" ng-repeat="competency in selectedRequest.request.proposedResources[0].optComps" ng-init="optCompIndex = $index">
          <div class="col-md-2 competencyName">
            {{competency.name}}
          </div>
          <div class="col-md-2 competencyProficiency" ng-repeat="resource in selectedRequest.request.proposedResources">
            <div>{{resource.optComps[optCompIndex].prof}}</div>
          </div>
        </div>
      </div>
    </div>
    <!--Mobile "table"-->
    <div class="hideNonMobile">
      <div>Resource {{viewPropResIndex+1}}
      </div>
      <div class="resourceNameMobile">{{selectedRequest.request.proposedResources[viewPropResIndex].name}}</div>
      <div class="resourceCategoryMobile">{{selectedRequest.request.proposedResources[viewPropResIndex].cat}}</div>
      <br>
      <div class="competencyTypeDivider">
        Mandatory Competencies
      </div>
      <div class="compRow" ng-repeat="competency in selectedRequest.request.proposedResources[viewPropResIndex].mandComps">
        <div class="competencyName">{{competency.name}}</div>
        <div class="competencyProficiency">{{competency.prof}}</div>
      </div>
      <br>
      <div class="competencyTypeDivider">
        Optional Competencies
      </div>
      <div class="compRow" ng-repeat="competency in selectedRequest.request.proposedResources[viewPropResIndex].optComps">
        <div class="competencyName">{{competency.name}}</div>
        <div class="competencyProficiency">{{competency.prof}}</div>
      </div>
      <div class="fake-carousel-buttons">
        <div>
          <button class="btn" ng-click="prevRes()" ng-hide="viewPropResIndex == 0">
            <</button>
        </div>
        <div>
          <button class="btn" ng-click="nextRes()" ng-hide="viewPropResIndex == (selectedRequest.request.proposedResources.length - 1)">></button>
        </div>
      </div>
    </div>
    <div>

      <div class="row hideMobile">
        <div class="modal-full col-md-12">
          <div class="availability-content">
            <div class="availability-resource">
              <div class="availability-row">
                <div class="cardinal">Availability</div>
              </div>
              <div class="resource-name">
                Date
              </div>
              <div class="resource-name">
                Week
              </div>
              <div ng-repeat="resource in selectedRequest.request.proposedResources">
                <div class="resource-name">
                  <span>{{resource.name}}</span>
                </div>
              </div>
            </div>
            <div class="availability-calendar">
              <div class="availability-buttons">
                <button class="av-back" ng-show="initialAvailability > 0" ng-click="backAvailability()">
                  <img src="arrow-left-black.svg">
                </button>
                <img src="calendar.svg">
                <button class="av-next" ng-class="{'hideButton': initialAvailability > (selectedRequest.request.proposedResources[0].availability.length / 4 - availabilityPagesNr)}" ng-click="nextAvailability()">
                  <img src="arrow-right-black.svg">
                </button>
              </div>
              <div class="date-week">
                <div class="availability-header" ng-class="{'availability-spaced': $index % 4 == 0}" ng-repeat="week in selectedRequest.request.proposedResources[0].availability | filter: availabilityPaginationFilter">
                  {{week.date}}
                </div>
              </div>
              <div>
                <div class="availability-header" ng-class="{'availability-spaced': $index % 4 == 0}" ng-repeat="week in selectedRequest.request.proposedResources[0].availability | filter: availabilityPaginationFilter">
                  {{week.week}}
                </div>
              </div>
              <div>
                <div ng-repeat="resource in selectedRequest.request.proposedResources">
                  <div class="availability" ng-class="{'availability-spaced': $index % 4 == 0}" ng-repeat="week in resource.availability | filter: availabilityPaginationFilter track by $index">
                    {{week.hours}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-full">
      <div class="cardinal">People Connect Comments</div>
      <div class="input-group input-group-sm discription">
        <textarea readonly class="form-control" rows="3" name="textarea" id="approverComments" ng-bind="selectedRequest.request.pcComments"></textarea>
      </div>
    </div>

    <div class="modal-approverComments" ng-show="selectedRequest.request.status.value == 'pmanager_approval'" ng-class="{item:false}">
      <span class="main-resource-title">Approval</span>
      <hr>
      <div class="row">
        <div class="modal-half col-md-3">
          <div class="cardinal sectionTitle">Selected Resource</div>
          <div class="dropdown">
            <button id="custom-select-desktop" class="btn dropdown-toggle" data-toggle="dropdown" ng-disabled="selectedRequest.request.parentRequestId">
              <div class="mainDiv">
                <div class="mainText ">{{selectedResource.name | limitTo:characterLimit}}{{selectedResource.name.length > characterLimit ? '...' : ''}}</div>
              </div>

              <div class="carret">
                <span class="glyphicon glyphicon-menu-down"></span>
              </div>

            </button>
            <ul class="dropdown-menu scrollable-menu">
              <li ng-repeat="resource in selectedRequest.request.proposedResources track by $index" ng-click="selectedResourceChanged($index)">
                <a class="optContainer">
                  <div class=optionMainText>{{resource.name | limitTo:characterLimit}}{{resource.name.length > characterLimit ? '...' : ''}}</div>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="cardinal">Approval Comments</div>
          <div class="input-group input-group-sm discription">

            <textarea placeholder="When rejecting the proposal, this field is mandatory" class="form-control" rows="3" name="textarea" ng-readonly="selectedRequest.request.parentRequestId" ng-model="selectedRequest.request.newApprovalComments" id="approverComments"></textarea>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="resourceDetails item" ng-show="selectedRequestNeedsSections(['resourceDetails'])">
    <div class="sectionHeader collapsable">
      <div class="main-resource-title sectionTitle">Resource Details</div>
      <div class="collapseControls">
        <span class="collapseBtn hideMobile" ng-click="collapseSection('resourceDetails')" ng-if="selectedRequestSectionIsCollapsable('resourceDetails')" collapse-button-hide='resourceDetails'><img src="close_request_gray.svg"/></span>
        <span class="collapseBtn hideMobile" ng-click="collapseSection('resourceDetails')" ng-if="selectedRequestSectionIsCollapsable('resourceDetails')" collapse-button-show='resourceDetails'><img src="open_request_gray.svg"/></span>
      </div>
    </div>
    <hr>

    <div class="resourceDetailsContent " collapse-target="resourceDetails">
      <div class="profissionalCategoryBox row" ng-class="{'inactiveBox': !isEditable(selectedRequest.request)}" ng-show="selectedRequestNeedsSections(['professionalMatrix'])">
        <div ng-repeat="(career, empType) in data.careers" class="empType col-xs-6">
          <div ng-repeat="(employeeType, category) in empType" class="career">
            <p class="career-title" ng-if="employeeType == 'Staff'">{{career}}</p>
            <div class="empCategory" ng-class="{'staff': employeeType == 'Staff', 'active': catIsSelected(cat.sys_id) }" ng-repeat="cat in category track by $index">
              <div class="category" ng-click="activeCategory($event,cat.label,cat.sys_id)">
                <span>{{cat.label | limitTo:empCategoryLimit()}}{{(cat.label.length > empCategoryLimit()) ? "...":""}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row resourceInfo">
        <div class="col-md-2">
          <div class="cardinal">Quantity<span class="red-text" ng-if="selectedRequest.request.status.mandatory">*</span>

          </div>

          <input ng-readonly="!isEditable(selectedRequest.request)" class="resource-info-title form-control" id="categoryQuantity" ng-model="selectedRequest.request.numResources" type="text" aria-describedby="sizing-addon3">
        </div>
        <div class="col-md-5">
          <div class="cardinal">Category<span class="red-text" ng-if="selectedRequest.request.status.mandatory">*</span>

          </div>
          <input class="resource-info-title form-control" id="chosenCategory" type="text" aria-describedby="sizing-addon3" ng-model="selectedRequest.request.categoryShow" readonly>
        </div>
        <div class="col-md-5">
          <div class="cardinal">Role<span class="red-text" ng-if="selectedRequest.request.status.mandatory">*</span>

          </div>
          <input ng-readonly="!isEditable(selectedRequest.request)" class="resource-info-title form-control" ng-model="selectedRequest.request.role" id="resourceRole" type="text" aria-describedby="sizing-addon3">
        </div>
      </div>


      <div class="cardinal">Responsibilities</div>
      <div class="input-group input-group-sm discription">
        <textarea ng-readonly="!isEditable(selectedRequest.request)" class="form-control" name="textarea" ng-model="selectedRequest.request.responsibilities" placeholder="Description of the responsibilities that the resource will have during the participation in the project"
          id="resourceResponsabilities"></textarea>
      </div>
      <div class="row hoursNLocation hideMobile">
        <div class="col-md-4 col-lg-3">
          <div class="cardinal">Location<span class="red-text" ng-if="selectedRequest.request.status.mandatory">*</span>
          </div>

          <!--  -->
          <div class="locationSelectionDiv" ng-show="isEditable(selectedRequest.request)">
            <span class="glyphicon glyphicon-search search-icon"></span>
            <md-autocomplete md-no-cached="true" md-selected-item="selectedLocation" md-search-text="currentWrittenLocation" md-items="el in locationResults()" md-item-text="el.location" md-min-length="0">
              <span>{{el.location}}</span>
            </md-autocomplete>

            <button class="btn btn-default addButton" type="button" ng-click="addLocationToSelectedRequest()" ng-disabled="!canAddCurrentWrittenLocation()">Add</button>
          </div>
          <div class="locationBoxes">
            <ul id="locationBoxList" class="box-list-wrapper" size="8">
              <li class="box-list" ng-repeat="el in selectedRequest.request.locationsAdded">{{el.location}}
                <button class="button-delete-box-in-list" type="button" ng-click=removeLocationFromSelectedRequest(el)>x</button>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="cardinal">Start Date<span class="red-text" ng-if="selectedRequest.request.status.mandatory">*</span>
          </div>
          <md-datepicker ng-disabled="!isEditable(selectedRequest.request)" md-min-date="selectedRequest.project.startDate" md-max-date="selectedRequest.request.end_date" ng-model="selectedRequest.request.st_date"></md-datepicker>
        </div>
        <div class="col-md-3">
          <div class="cardinal">End Date<span class="red-text" ng-if="selectedRequest.request.status.mandatory">*</span>
          </div>
          <md-datepicker ng-disabled="!isEditable(selectedRequest.request)" md-max-date="selectedRequest.project.endDate" md-min-date="selectedRequest.request.st_date" ng-model="selectedRequest.request.end_date"></md-datepicker>
        </div>
        <div class="col-md-2 col-lg-3">
          <div class="cardinal">Hours/Week<span class="red-text" ng-if="selectedRequest.request.status.mandatory">*</span>
          </div>
          <input ng-readonly="!isEditable(selectedRequest.request)" class="resource-info-title form-control" id="requestHours" type="number" min="0" max="40" aria-describedby="sizing-addon3" ng-model="selectedRequest.request.hoursPerWeek">
        </div>
      </div>
    </div>
  </div>

  <div class="row hoursNLocation hideNonMobile item">
    <div class="col-md-4 col-lg-3">
      <div class="cardinal">Location<span class="red-text" ng-if="selectedRequest.request.status.mandatory">*</span>
      </div>

      <!--  -->
      <div class="locationSelectionDiv" ng-show="isEditable(selectedRequest.request)">
        <span class="glyphicon glyphicon-search search-icon"></span>
        <md-autocomplete md-no-cached="true" md-selected-item="selectedLocation" md-search-text="currentWrittenLocation" md-items="el in locationResults()" md-item-text="el.location" md-min-length="0">
          <span>{{el.location}}</span>
        </md-autocomplete>

        <button class="btn btn-default addButton" type="button" ng-click="addLocationToSelectedRequest()" ng-disabled="!canAddCurrentWrittenLocation()">Add</button>
      </div>
      <div class="locationBoxes">
        <ul id="locationBoxList" class="box-list-wrapper" size="8">
          <li class="box-list" ng-repeat="el in selectedRequest.request.locationsAdded">{{el.location}}
            <button class="button-delete-box-in-list" type="button" ng-click=removeLocationFromSelectedRequest(el)>x</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="cardinal">Start Date<span class="red-text" ng-if="selectedRequest.request.status.mandatory">*</span>
      </div>
      <md-datepicker ng-disabled="!isEditable(selectedRequest.request)" md-min-date="selectedRequest.project.startDate" ng-model="selectedRequest.request.st_date"></md-datepicker>
    </div>
    <div class="col-md-3">
      <div class="cardinal">End Date<span class="red-text" ng-if="selectedRequest.request.status.mandatory">*</span>
      </div>
      <md-datepicker ng-disabled="!isEditable(selectedRequest.request)" md-max-date="selectedRequest.project.endDate" ng-model="selectedRequest.request.end_date"></md-datepicker>
    </div>
    <div class="col-md-2 col-lg-3">
      <div class="cardinal">Hours/Week<span class="red-text" ng-if="selectedRequest.request.status.mandatory">*</span>

      </div>

      <input ng-readonly="!isEditable(selectedRequest.request)" class="resource-info-title form-control" id="requestHours" type="number" min="1" max="40" aria-describedby="sizing-addon3" ng-model="selectedRequest.request.hoursPerWeek">
    </div>
  </div>


  <div class="modal-skills item">
    <div class="sectionHeader collapsable">
      <span class="main-resource-title sectionTitle">Competencies</span>
      <div class="collapseControls">
        <span class="collapseBtn hideMobile" ng-click="collapseSection('competencies')" ng-if="selectedRequestSectionIsCollapsable('competencies')" collapse-button-hide='resourceDetails'><img src="close_request_gray.svg"/></span>
        <span class="collapseBtn hideMobile" ng-click="collapseSection('competencies')" ng-if="selectedRequestSectionIsCollapsable('competencies')" collapse-button-show='resourceDetails'><img src="open_request_gray.svg"/></span>
      </div>
    </div>
    <hr>
    <div class="competenciesContent" collapse-target='competencies'>
      <div class="row selectRequestRow" ng-if="isEditable(selectedRequest.request)">

        <div class="input-group options-competencies-name">
          <span class="glyphicon glyphicon-search search-icon"></span>

          <md-autocomplete md-min-length="0" md-no-cache="true" md-selected-item="data.currentComp" md-items="c in compSearchOptions()" md-search-text="data.compSearchTerm" md-item-text="c.name">
            <span>{{ c.name }}</span>
          </md-autocomplete>

          <button type="button" class="btn btn-default addButton hideMobile" ng-disabled="!canAddComp()" ng-click="addCompetency()">{{'Add '+competencyType}}</button>
          <button type="button" class="btn btn-default toggleButton hideMobile" ng-click="toggleCompetencyType()">
            <span class="glyphicon glyphicon-retweet"></span>
          </button>
        </div>
        <div class="mobileAddButtons">
          <button type="button" class="btn btn-default addButton" ng-click="addCompetency()">{{'Add '+competencyType}}</button>
          <button type="button" class="btn btn-default toggleButton" ng-click="toggleCompetencyType()">
            <span class="glyphicon glyphicon-retweet"></span>
          </button>
        </div>

      </div>
      <div class="compotenciesRow">
        <div class="modal-half competenciesBoxes">
          <div class="competenciesBoxesOptionsMacro">
            <span class="competenciesBoxesOptions">Mandatory<span class="red-text" ng-if="selectedRequest.request.status.mandatory">*</span>
            </span>
          </div>
          <div>
            <div class="competenciesBoxesDivs">
              <span class="competenciesBoxesTitles">Technology</span>
            </div>
            <div class="scrollable-box-list">
              <ul class="box-list-wrapper" size="8">
                <li class="box-list" ng-repeat="comp in selectedRequest.request.mandatoryComps.technology track by $index">{{comp.name}}
                  <button ng-click="removeMT($index)" class="button-delete-box-in-list" type="button">x</button>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="competenciesBoxesDivs">
              <span class="competenciesBoxesTitles">Business</span>
            </div>
            <div class="scrollable-box-list">
              <ul class="box-list-wrapper" size="8">
                <li class="box-list" ng-repeat="comp in selectedRequest.request.mandatoryComps.business track by $index">{{comp.name}}
                  <button ng-click="removeMB($index)" class="button-delete-box-in-list" type="button">x</button>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="competenciesBoxesDivs">
              <span class="competenciesBoxesTitles">Languages</span>
            </div>
            <div class="scrollable-box-list">
              <ul class="box-list-wrapper" size="8">
                <li class="box-list" ng-repeat="comp in selectedRequest.request.mandatoryComps.languages track by $index">{{comp.name}}
                  <button ng-click="removeML($index)" class="button-delete-box-in-list" type="button">x</button>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="competenciesBoxesDivs">
              <span class="competenciesBoxesTitles">Client Knowledge</span>
            </div>
            <div class="scrollable-box-list">
              <ul class="box-list-wrapper" size="8">
                <li class="box-list" ng-repeat="comp in selectedRequest.request.mandatoryComps.clientKnowledge track by $index">{{comp.name}}
                  <button ng-click="removeMCK($index)" class="button-delete-box-in-list" type="button">x</button>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="modal-half competenciesBoxes">
          <div class="competenciesBoxesOptionsMacro">
            <span class="competenciesBoxesOptions">Optional</span>
          </div>
          <div>
            <div class="competenciesBoxesDivs">
              <span class="competenciesBoxesTitles">Technology</span>
            </div>
            <div class="scrollable-box-list">
              <ul class="box-list-wrapper" size="8">
                <li class="box-list" ng-repeat="comp in selectedRequest.request.optionalComps.technology track by $index">{{comp.name}}
                  <button ng-click="removeOT($index)" class="button-delete-box-in-list" type="button">x</button>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="competenciesBoxesDivs">
              <span class="competenciesBoxesTitles">Business</span>
            </div>
            <div class="scrollable-box-list">
              <ul class="box-list-wrapper" size="8">
                <li class="box-list" ng-repeat="comp in selectedRequest.request.optionalComps.business track by $index">{{comp.name}}
                  <button ng-click="removeOB($index)" class="button-delete-box-in-list" type="button">x</button>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="competenciesBoxesDivs">
              <span class="competenciesBoxesTitles">Languages</span>
            </div>
            <div class="scrollable-box-list">
              <ul class="box-list-wrapper" size="8">
                <li class="box-list" ng-repeat="comp in selectedRequest.request.optionalComps.languages track by $index">{{comp.name}}
                  <button ng-click="removeOL($index)" class="button-delete-box-in-list" type="button">x</button>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="competenciesBoxesDivs">
              <span class="competenciesBoxesTitles">Client Knowledge</span>
            </div>
            <div class="scrollable-box-list">
              <ul class="box-list-wrapper" size="8">
                <li class="box-list" ng-repeat="comp in selectedRequest.request.optionalComps.clientKnowledge track by $index">{{comp.name}}
                  <button ng-click="removeOCK($index)" class="button-delete-box-in-list" type="button">x</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-draftSubtmitComments" ng-show="true">

        <div class="cardinal">Requester Comments</div>
        <div class="input-group input-group-sm discription">
          <textarea class="form-control" ng-readonly="!isEditable(selectedRequest.request)" name="textarea" id="draftSubtmitComments" ng-model="selectedRequest.request.requesterComments"></textarea>
        </div>

        <div ng-show="selectedRequestNeedsSections(['separateProposalComments']) && selectedRequest.processedComments.trim().length > 0">
          <div class="cardinal">Previous Proposal Comments</div>
          <div class="input-group input-group-sm discription">
            <textarea class="form-control" name="textarea" ng-model="selectedRequest.processedComments" readonly></textarea>
          </div>

        </div>
      </div>
    </div>

  </div>


  <div class="modal-closedOrCancelledInfo " ng-show="false" ng-class="{item:false}">
    <hr>
    <div class="row">
      <div class="modal-half col-md-3">
        <div class="cardinal">Proposed Resource</div>
        <input class="resource-info-title form-control" type="text" aria-describedby="sizing-addon3" ng-value="data.proposed">
      </div>
      <div class="modal-half col-md-3">
        <div class="cardinal">Professional Category</div>
        <!-- set as date -->
        <input class="resource-info-title form-control" type="text" aria-describedby="sizing-addon3" ng-value="data.proposedCat">
      </div>
    </div>
  </div>

  <div class="modal-assignedTo" ng-if="false" ng-class="{item:false}">
    <hr>
    <div class="row">
      <div class="modal-half col-md-3">
        <div class="cardinal">Assigned To</div>
        <input class="resource-info-title form-control" type="text" aria-describedby="sizing-addon3" ng-value="data.assignedTo">
      </div>
    </div>
  </div>

</script>

<style>
  .md-pane-open {
    z-index: 1999;
  }
</style>
