<div id="rightPanel">
  <div class="sidebarContainer">
  <!-- 3 level hierarchy -->
  <ul class="sideUl hierarchy-top" ng-repeat="cat in data.competencies[currentMacroIndex].cats"
      ng-if="data.competencies[currentMacroIndex].numOfHierarchies === 3">
    <div ng-class="{catOpen: cat.name === data.competencies[currentMacroIndex].cats[currentCatIndex].name}" class='catTag'>
      <span ng-if="cat.name != data.competencies[currentMacroIndex].cats[currentCatIndex].name" class="chivron"><img  class="chivron-img" src="arrow.svg"/></span>
      <span ng-if="cat.name === data.competencies[currentMacroIndex].cats[currentCatIndex].name" class="chivron"><img  class="chivron-img" src="white%20arrow.svg"/></span>
      {{cat.name}}</div>
    <ul ng-class="{ showMe : cat.name === data.competencies[currentMacroIndex].cats[currentCatIndex].name ,
                  subCatOpen:  cat.name === data.competencies[currentMacroIndex].cats[currentCatIndex].name}" ng-repeat="sub in cat.subs track by $index"
        class="sideUl collapsable">
      <div class='catSubTag' ng-class="{subCatOpen: sub.name === data.competencies[currentMacroIndex].cats[currentCatIndex].subs[currentSubIndex].name}">
        <span class="chivron"><img src="arrow_direita.svg" class="chivron-img"/></span>
        {{sub.name}}</div>
    </ul>
  </ul>

<!-- 2 level hierarchy -->
  <ul class="sideUl hierarchy-top" ng-repeat="sub in data.competencies[currentMacroIndex].subs"
      ng-if="data.competencies[currentMacroIndex].numOfHierarchies === 2">
     <div class='catSubTag' ng-class="{subCatOpen: sub.name === data.competencies[currentMacroIndex].subs[currentSubIndex].name}">
       <span class="chivron"><img src="arrow_direita.svg" class="chivron-img"/></span>
       {{sub.name}}</div>
    </ul>
  </div>
</div>
