$mobile-portrait: "(min-width: 321px) and (max-width: 1024px)";
$desktop: "(min-width: 1024px)";

.searchContainer{
	display: flex;
	align-items: center;
	background-color: white;
	border: 1px solid #d0d0ce;
	svg{
		width: 18px;
		height: 18px;
		margin-left: 15px;
		margin-right: 15px;
	}
	input{
		color: #00a3e0;
	}
	::-webkit-input-placeholder {
		color: #00a3e0;
	}

	:-moz-placeholder { /* Firefox 18- */
		color: #00a3e0;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		color: #00a3e0;
	}

	:-ms-input-placeholder {
		color: #00a3e0;
	}
}

.compNameSearch{
	color: blue;
}
#searchResults{
	list-style: none;
  	padding-left: 0px;
  background-color: white;

  li{
    border: 1px solid rgba(208,208,206,1);
    padding-left: 10px;
  }

  .resultsWrapper{
    padding-top: 15px;
    display:flex;

a {color:black;
font-weight: normal;}      /* unvisited link */
a:visited {color:black;}  /* visited link */
a:hover {color:black;}  /* mouse over link */
a:active {color:black;}  /* selected link */

    .resultBox{
    	margin-right: 15px;
      width: 15px;
      height: 57px;
    }
  }
  .searchTree{
  	color: rgba(0,163,224,1);
  }
}
.sidebarContainer{
	.hierarchy-top{
		border: 1px solid rgba(208,208,206,1);
		margin-bottom: 0px;
		font-size:12pt;
		padding-left:0px;
	}

  .compTextWrapprer{
	display: flex;
  	align-items: center;

  .compTextBox{
  	display: flex;
    align-items: center;
    margin-top: 1px;
    margin-right: 10px;
  }

     .blue{
    	color: rgba(10,119,169,1);
    }
    .grey{
    	color: rgba(208,208,206,1);
    }
    .black{
    	color: black;
    }




}

}
.collapsable {
	display: none;
	height: auto;
	transition: height 1s;
	-webkit-transition: height 1s;
	-moz-transition: height 1s;
	-o-transition: height 1s;
	padding-left:0px;
}
.collapsable.showMe {
	display: block;
}
.addPossible {
	color : black;
	font-weight: bold;
}
#rightPanel {
	width:100%;
}
#searchBar{
	width:100%;
	height:40px;
	border: 0px solid rgba(208,208,206,1);
	font-size: 12pt;
}
.glyphicon-menu-right {
	width: 7.8px;
	height: 13.5px;
	color: #ffffff;
}
.sideUl {
	.chiv-blue{
		color: #006d96;
	}
	.catTag {
		color: rgba(176,190,197,1);
		background-color:white;
		min-height: 30px;
		line-height: 30px;
		&.catOpen{
			background-color: #006d96;
			color:white;
		}
	}

	.catSubTag{
		color: rgba(176,190,197,1);
		min-height: 30px;
		line-height: 30px;
		background-color: white;
		padding-left: 10px;
	}
	.subCatOpen{
		color:#006d96;
	}
	.chivron {
		margin-left:15px;
		margin-right: 15px;
	}
	.chivron-img{
		min-width:12px; height:12px;
	}
  .compsUl {
	margin-bottom: 0px;
	margin-top: 0px;
    //display: flex;
    align-items: center;
    margin-left: 25px;
}
  .checkboxDiv{
    display: flex;
    margin-right: 15px;
    margin-top: 1px;
  }
}

.categorie{
	display: table-cell;
	line-height: 29px;
	padding-left: 14px;
}

@media #{$mobile-portrait} {
 #rightPanel {
   display:none;
 }
}

@media #{$desktop} {

}
