  <div id="myModal" class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width:1000px;top: 65px;">
      <div class="modal-header">
        <button type="button" ng-click="stopVideo('vidNav')" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      </div>
      <div class="modal-body">
        <iframe id="vidNav" src="https://player.vimeo.com/video/195847453?autoplay=1" style="width:950px;height:535px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>

</div>
<div id="competencyDrop">

  <div class="major">
    <div class="comboBoxCol" ng-class="{'showingDelegated':showingDelegated}">
      <div class="checkbox checkbox-primary allCheckboxDiv hideNonMobile">
        <input id="checkboxAll" type="checkbox" ng-click="allSelected = !allSelected" ng-click="allowSubmit()">
        <label for="checkboxAll"> </label>
      </div>
      <div class="dropdown">
        <div id="custom-select-desktop" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ng-class="{'disabled': data.myApprovals.length === 0}">
          <div class="mainDiv">
            <div class="mainText ">{{selectedComp.label | limitTo:characterLimit}}{{selectedComp.label.length > characterLimit ? '...' : ''}}</div>
            <div class="nrDiv hideMobile" ng-class="{'emptyDiv': !hasApprovals || selectedComp.approvalsCounter == 0,'extraPadding': selectedComp.newApprovalsCounter == 0,}">
              <div class="nrInner">
                {{selectedComp.totalApprovals}}
              </div>
              <div class="remainingDiv" ng-class="{'emptyDiv': selectedComp.urgentsCounter == 0}">
                {{selectedComp.urgentsCounter}} URG
              </div>
            </div>
          </div>
          <div class="carret">
            <span class="glyphicon glyphicon-menu-down"></span>
          </div>
        </div>
        <ul class="dropdown-menu scrollable-menu">
          <li ng-click="viewAll()" class="viewAllli">
            <a class="optContainer">
              <div class=optionMainText>View All</div>
              <div class="nrDiv" ng-class="{'extraPadding': data.viewAllInfo.totalApprovals == 0,'emptyDiv' : data.viewAllInfo.totalApprovals == 0 }">
                <div class="nrInner">
                  {{data.viewAllInfo.totalApprovals}}
                </div>
                <div class="remainingDiv" ng-class="{'emptyDiv': data.viewAllInfo.urgentsCounter == 0}">
                  {{data.viewAllInfo.urgentsCounter}} URG
                </div>
              </div>
            </a>
          </li>
          <li ng-repeat="competency in data.competenciesList" ng-click="selectedCompetencyChanged($index, competency.label)" ng-if="competency.totalApprovals != 0">
            <a class="optContainer">
              <div class=optionMainText>{{competency.label | limitTo:characterLimit}}{{competency.label.length > characterLimit ? '...' : ''}}</div>
              <div class="nrDiv" ng-class="{'extraPadding': competency.urgentsCounter == 0,'emptyDiv' :competency.urgentsCounter == 0 }">
                <div class="nrInner">
                  {{competency.totalApprovals}}
                </div>
                <div class="remainingDiv" ng-class="{'emptyDiv': competency.urgentsCounter == 0}">
                  {{competency.urgentsCounter}} URG
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <button class="btn btn-default toggleDelegate hideNonMobile" ng-click="toggleDelegated()">
          <img class="top_delegate" src="delegate_top_ative.svg" />
        </button>
      </div>
    </div>
    <button data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="Show delegated approvals" class="btn btn-default toggleDelegate hideInLargeWidth hideMobile" ng-click="toggleDelegated()">
      <img class="top_delegate" src="top_delegate.svg" />
      <img class="top_delegate2" src="delegate_top_ative.svg" /> DELEGATED APPROVALS
    </button>
    <div class="button hideMobile hideInMediumWidth">
      <button data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="Show delegated approvals" class="btn btn-default toggleDelegate" ng-click="toggleDelegated()">
        <img class="top_delegate" src="top_delegate.svg" />
        <img class="top_delegate2" src="delegate_top_ative.svg" /> DELEGATED APPROVALS
      </button>
    </div>
  </div>
  <!-- these columns only appear in desktop -->

  <div class="buttons hideMobile hideInMediumWidth">
    <button class="btn btn-default Save" ng-click="save()" data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="Save all approvals">
      <img src="save_.svg" class="buttonIcon"> SAVE ALL
    </button>
    <div class="divider"></div>
    <button class="btn btn-default Submit" ng-class="{'disableSubmit' : $root.disableSubmit}" ng-click="submit()" data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="Submit checked approvals">
      <img src="submiticon.svg" class="buttonIcon"> SUBMIT
    </button>
  </div>

</div>
<div id="delegatedBar" ng-show="showingDelegated">
  DELEGATE
</div>
