$small-width: "(max-width: 750px)";
$non-small-width: "(min-width: 750px)";
$medium-width: "(min-width: 751px) and (max-width: 1024px)";
$large-width: "(min-width: 1025px)";

@media #{$small-width,$medium-width} {
   .myModal{
    display:none !important;
  }
}


.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  text-align: -webkit-center !important;
  margin: 50px auto !important;
}
.modal-dialog {
  width: auto !important;
}
.checkbox {
  display: inline-flex;
  vertical-align: middle;
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"] {
  opacity: 0;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: white;
  border-color: black;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: black;
}



#delegatedBar{
  display: none;
}

@media #{$small-width} {
  #delegatedBar{
    display: flex;
    align-items: center;
    margin: 0px -15px;
    background-color: #0a77a9;
    color:white;
    height:34px;
    line-height: 34px;
    width:calc(100% + 30px);
    padding-left: 10px;
    box-shadow: 0 2px 0 0 #003e5b;
    &.delegatedActive{

    }
    display: block;
  }
  div.myModal {
    display: none;
  }
  li.viewAllli {
    border-top: solid 2px black;
  }
  div.delegatedBar {
    height: 15px;
    background-color: #0a77a9;
    display: none;
  }
  div.comboBoxCol {
    background-color: #3d3f40;
  }
  div.allCheckboxDiv {
    margin-left: 13px;
    padding-right: 7px;
    margin-top: 14px;
  }
  div.delegatedBar.showingDelegated {
    border-bottom: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    display: block;
  }
  div.comboBoxCol.showingDelegated {
    border-bottom-width: 0;
  }
  div.comboBoxCol {
    border-bottom: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
  }
  ul.dropdown-menu.scrollable-menu {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    margin-top: 0;
    border: none;
  }
  .toggleDelegate:active img.top_delegate {
    display: inline-block;
  }
  button.toggleDelegate,
  button.toggleDelegate.active {
    padding-left: 16px;
    border-radius: 0;
    box-shadow: none;
    border: none;
    width: 45px;
    height: 45px;
    background-color: #0a77a9;
  }
  .dropdown div#custom-select-desktop {
    height: 45px;
  }
  div.nrDiv.hideMobile {
    visibility: hidden;
  }
  ul.scrollable-menu {
    max-height: 230px;
  }
  div#competencyDrop {
    padding-top: 0;
  }
  div#custom-select-desktop div.carret span {
    font-size: 12px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  div.dropdown.open ul.dropdown-menu {
    width: calc(100vw - 44px);
    padding-left: 46px;
    margin-left: -46px;
    background-color: #3d3f40;
  }
  div#custom-select-desktop div.carret {
    line-height: 0;
    border-left: none;
    width: 12px;
  }
  div.hideMobile {
    display: none;
  }
  .hideMobile {
    display: none;
  }
  div#custom-select-desktop.btn,
  div#custom-select-desktop.btn:active {
    width: 100%;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background-color: #53565a;
    color: white;
  }
  div#custom-select-desktop div.mainDiv {
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  div#custom-select-desktop div.mainDiv div.mainText {
    padding-right: 20px;
  }
  div#custom-select-desktop div.mainDiv div.nrDiv {
    background-color: #3a3a3a;
    color: white;
    height: auto;
  }
  li a.optContainer {
    color: white;
    background-color: #53565a;
    border-color: #3d3f40;
    border-width: 1px;
    height: 45px;
  }
  li a.optContainer > div {
    font-size: 12px;
    font-weight: 100;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
  }
  a div.nrDiv,
  div#custom-select-desktop div.mainDiv div.nrDiv {
    background-color: #3a3a3a;
    color: white;
  }
  div.dropdown {
    margin: 0;
    flex-grow: 1;
  }
  div.comboBoxCol {
    padding: 0;
    display: flex;
    width: calc(100% + 60px);
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media #{$non-small-width} {
  .toggleDelegate.active img.top_delegate {
    display: none;
  }
  div.comboBoxCol {
        display: flex;
  }
  div.delegatedBar {
    display: none;
  }
  .hideNonMobile {
    display: none;
  }
  .open > div#custom-select-desktop {
    background-color: white;
    color: black;
    border-color: #005177;
  }
  .open > div#custom-select-desktop div.carret,
  div#custom-select-desktop:active div.carret,
  div#custom-select-desktop:hover div.carret {
    color: white;
    background-color: #0a77a9;
    border-color: #005177;
  }
  div#custom-select-desktop,
  div#custom-select-desktop:active,
  div.btn-primary#custom-select-desktop:hover {
    width: 375px;
    text-align: left;
    box-shadow: 0 2px 0 0 #d4d5d6;
    background-color: white;
    color: black;
    border-color: #d4d5d6;
    border-width: 2px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    padding-top: 0;
    padding-bottom: 0;
    height: 38px;
    padding-right: 0;
    overflow: hidden;
  }
  ul.dropdown-menu {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: 0 2px 0 0 #d4d5d6;
  }
}

@media #{$medium-width} {
  div.hideInMediumWidth {
    display: none;
  }
}

@media #{$large-width} {
  .hideInLargeWidth {
    display: none;
  }
}

#competencyDrop {
  padding-top: 24px;
  display:flex;
  align-items: center;
  justify-content: space-between;

  .major{
    display: flex;
    justify-content: space-between;
    flex-grow:66.66667;
    .button{
      margin-right:48px;
    }
    .comboBoxCol > button.toggleDelegate.hideMobile{
      margin-right: 10px;
    }
  }
  .buttons{
    justify-content: flex-end;
    flex-grow:33.33334;
    @media #{$large-width} {
      display: flex;
    }
  }
  //position:relative;
}
div.remainingDiv.emptyDiv {
  visibility: hidden;
  display: block;
  width: 0;
  margin: 0;
  padding: 0;
}
.mainDiv div.extraPadding.nrDiv,
a > div.extraPadding.nrDiv {
  padding-left: 5px;
  padding-right: 4px;
}
.drop {
  position: relative;
  float: left;
}
/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
  display: none;
}
.drop:after {
  content: ">";
  font: 25px "Consolas", monospace;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  top: 7px;
  padding: 0 0 2px;
  border-bottom: 1px solid #d4d5d6;
  position: absolute;
  pointer-events: none;
  cursor: pointer;
  color: #000000;
}
.drop:hover:after {
  color: #0a77a9;
}
.drop select {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Add some styling */
  display: block;
  width: 100%;
  float: right;
  margin: 5px 0;
  padding: 0 15px;
  line-height: 1.75;
  -ms-word-break: normal;
  word-break: normal;
}
select option:hover {
  color: red;
}
#approvalsDropdown {
  width: 375px;
  height: 35px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #ffffff, #fcfcfc);
  box-shadow: 0 2px 0 0 #d4d5d6;
  border: solid 1px #d4d5d6;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  color: #000000;
  cursor: pointer;
}
.buttons {
  display: inline-flex;
  left: 2.2%;
}
.button {
  margin-left: -2px;
  display: inline-flex;
}
.Save {
  width: 125px;
  font-family: "Open Sans", sans-serif;
  color: #53565a;
  font-size: 12px;
  letter-spacing: 0.2px;
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #FCFCFC 100%);
  border: 1px solid rgba(175,177,178,0.52);
  box-shadow: 0 2px 0 0 #D4D5D6;
  border-radius: 4px;
}
.Submit {
  width: 125px;
  color: white;
  font-size: 12px;
  letter-spacing: 0.2px;
  background: #86BC25;
  border: 1px solid #6FA214;
  box-shadow: 0 2px 0 0 #6FA214;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  &.disableSubmit {
    background: #63605F;
    border: 1px solid #63605F;
    box-shadow: 0 2px 0 0 black;
    pointer-events: none;
    cursor: default;
  }
}
.Save:hover {
  width: 125px;
  font-family: "Open Sans", sans-serif;
  color: #53565a;
  font-size: 12px;
  letter-spacing: 0.2px;
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #FCFCFC 100%);
  border: 1px solid #000000;
  box-shadow: 0 2px 0 0 #000000;
  border-radius: 4px;
}
.Save:active {
  width: 125px;
  font-family: "Open Sans", sans-serif;
  color: #53565a;
  font-size: 12px;
  letter-spacing: 0.2px;
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #FCFCFC 100%);
  border: 1px solid #000000;
  box-shadow: inset 0 3px 0 0 #000000;
  border-radius: 4px;
}
.divider {
  width: 10px;
}
.buttonIcon {
  padding-right: 5px;
  height: 15px;
}
.toggleDelegate {
	font-size: 12px;
  //padding-left:16px;
  border-radius: 4px;
  //background-image: linear-gradient(to bottom, #ffffff, #fcfcfc);
  box-shadow: 0 1px 0 0 #d4d5d6;
  border: solid 1px rgba(175, 177, 178, 0.52);
  width: 220px;
  height: 35px;
  .top_delegate2 {
    display: none;
    margin-left: -3px;
    margin-bottom: -2px;
  }
  .top_delegate {
    display: inline-block;
  }
}
.toggleDelegate:active {
  background: #0A77A9;
  color: white;
  border: 1px solid #003E5B;
  box-shadow: 0 2px 0 0 #003E5B;
  border-radius: 4px;
  .top_delegate2 {
    display: inline-block;
    margin-left: -3px;
    margin-bottom: -2px;
  }
  .top_delegate {
    display: none;
  }
}
.toggleDelegate.active {
  background: #0A77A9;
  color: white;
  border: 1px solid #003E5B;
  box-shadow: 0 2px 0 0 #003E5B;
  border-radius: 4px;
  .top_delegate2 {
    display: inline-block;
  }
}
.top_delegate {
  margin-left: -3px;
  margin-bottom: -2px;
}
//DROPDOWN
.dropdown-menu > li > a:hover {
  background-color: #0a77a9;
  background-image: none;
  color: white;
  border-color: #005177;
}
.dropdown-menu > li > a:hover div.nrDiv {
  background-color: #005177;
  color: white;
}
.dropdown-menu > li > a {
  padding: 3px 10px;
  overflow: hidden;
}
ul.dropdown-menu {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: 0 2px 0 0 #d4d5d6;
}
div#custom-select-desktop:active {
  width: 375px;
  text-align: left;
  box-shadow: 0 2px 0 0 #d4d5d6;
}
li a {
  padding-top: 0;
  padding-bottom: 0;
}
div.remainingDiv {
  display: table-cell;
  vertical-align: middle;
  margin-left: 6px;
  background-color: #53565a;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 7px;
  color: white;
  line-height: 270%;
  font-size: 8px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin-right: 3px;
}
a > div.nrDiv {
  height: 100%;
  top: 0;
}
.mainDiv div.remainingDiv,
a:hover div .remainingDiv {
  background-color: #e42313;
}
div.nrDiv {
  float: right;
  background-color: #ededed;
  padding: 0;
  border-radius: 4px;
  margin: 0;
  color: black;
  display: table;
  padding: 3px;
}
ul.dropdown-menu {
  padding: 0;
  border-radius: 4px;
}
div.nrInner {
  display: table-cell;
  vertical-align: middle;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
}
a.optContainer {
  display: block;
  overflow: auto;
  height: 35px;
  border-bottom: 2px solid;
  border-color: #ededed;
  padding: 0 3%;
}
li {
  padding: 0;
}
.dropdown-menu {
  width: 375px;
}
div.mainText {
  display: table-cell;
  vertical-align: middle;
}
div.auxSelected {
  float: left;
}
#custom-select-desktop div.carret {
  float: right;
  height: 100%;
  line-height: 37px;
  border-left: 2px solid #d4d5d6;
  width: 10%;
  text-align: center;
}
#custom-select-desktop div.mainDiv {
  float: left;
  display: table;
  vertical-align: middle;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 320px;
}
div.optionAuxText.optionOnSelect {
  display: inline-block;
  margin: auto;
}
div.optionMainText {
  position: relative;
  top: 20%;
  height: 60%;
  float: left;
  font-size: 12px;
  margin: auto;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
div.optionAuxText {
  position: relative;
  top: 15%;
  height: 70%;
  margin-left: 5%;
  background: #ededed;
  font-size: 10px;
  font-weight: 600;
  border-radius: 4px;
  float: right;
  padding: 0;
}
.scrollable-menu {
  height: auto;
  max-height: 210px;
  overflow-x: hidden;
}
