<div id="wrapper">
  <!--comment test-->
  <!-- Sidebar -->
  <!-- <div id="sidebar-wrapper">
           <div class="thumbnail">
            <img src="video_preview.png" alt="..." id="thumbnail-image" href="#" ng-click="showModal('compVideo')">
            <div class="caption">
              <ul class="sidebar-nav">
                <li href="#" ng-click="showModal('compVideo')">
                  <span class="thumbnail-title">How to use</span>
                  <span class="thumbnail-title-smart">smart</span>
                  <span class="thumbnail-title-smart-plic">'</span>
                </li>
            	</ul>
              <div href="#" ng-click="showModal('compVideo')" class="thumbnail-sub-header">
                <span class="thumbnail-description">Welcome to</span>
                <span class="thumbnail-title-smart">smart</span>
                <span class="thumbnail-title-smart-plic">'</span>
              </div>
              <p class="thumbnail-description" href="#" ng-click="showModal('compVideo')">Here is where you will construct your future and will make available to others your competencies and preferences, so let’s start!</p>
            </div>
          </div>
          <div class="thumbnail" ng-if="::(data.userInfo.isPeopleConnect || data.userInfo.isHeadOfPeopleConnect || data.userInfo.isValidator || data.userInfo.isManagement)">
            <img src="video_preview_dashhboard.png" alt="..." id="thumbnail-image" href="#" ng-click="showModal('dashVideo')">
            <div class="caption">
              <ul class="sidebar-nav">
                <li href="#" ng-click="showModal('dashVideo')">
                  <span class="thumbnail-title-smart">smart</span>
                  <span class="thumbnail-title-smart-plic">'</span>
				  <span class="thumbnail-title">Dashboards</span>
                </li>
            	</ul>
              <div href="#" ng-click="showModal('dashVideo')" class="thumbnail-sub-header">
                <span class="thumbnail-description">Welcome to</span>
                <span class="thumbnail-title-smart">smart</span>
                <span class="thumbnail-title-smart-plic">'</span>
              </div>
              <p class="thumbnail-description" href="#" ng-click="showModal('dashVideo')">Here is where you can follow the progress of all Deloitte's processes and have access to key indicators regarding the firm's status.</p>
            </div>
          </div>
        </div> -->


  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <!-- <div class="Fixed">
                          <a href="#menu-toggle" id="menu-toggle">
                            <img src="movieT.png" width="50" height="50"/>
                          </a>
                       </div> -->


          <!-- Videos to show-->

          <div id="compVideo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content" style="width:1000px;top: 65px;">
                <div class="modal-header">
                  <button type="button" ng-click="pauseVideo('vidHome')" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                </div>
                <div class="modal-body">
                  <iframe ng-if="::(data.userInfo.isPeopleConnect || data.userInfo.isHeadOfPeopleConnect || data.userInfo.isValidator || data.userInfo.isManagement)" id="vidHome" src="https://player.vimeo.com/video/193745258?autoplay=0" style="width:950px;height:535px"
                    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  <iframe ng-if="::(!data.userInfo.isPeopleConnect && !data.userInfo.isHeadOfPeopleConnect && !data.userInfo.isValidator && !data.userInfo.isManagement)" id="vidHome" src="https://player.vimeo.com/video/193745413?autoplay=0" style="width:950px;height:535px"
                    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
          <div id="dashVideo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content" style="width:1000px;top: 65px;">
                <div class="modal-header">
                  <button type="button" ng-click="pauseVideo('vidDash')" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                </div>
                <div class="modal-body">
                  <iframe ng-if="::(data.userInfo.isPeopleConnect || data.userInfo.isHeadOfPeopleConnect || data.userInfo.isValidator || data.userInfo.isManagement)" id="vidDash" src="https://player.vimeo.com/video/195503239?autoplay=0" style="width:950px;height:535px"
                    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>

          <div class="home-not">
            <div class="macro-title-div row hideMobile">
              <div class="title col-md-6">
                <span class="macro-title">MY TO DO's</span>
              </div>
              <div class="title-label col-md-2" ng-show="myTodosForThisWeek().length > 0 || myTodosForLater().length > 0">
                <span data-toggle="tooltip" data-delay='{"show": 850, "hide": 100}' title="Number of tasks to be completed" class="macro-title-label">PENDING ACTIONS</span>
              </div>
              <div class="title-label col-md-2" ng-show="myTodosForThisWeek().length > 0 || myTodosForLater().length > 0">
                <span data-toggle="tooltip" data-delay='{"show": 850, "hide": 100}' title="Time left for completing the task" class="macro-title-label">DUE</span>
              </div>
              <div class="title-label col-md-2" ng-show="myTodosForThisWeek().length > 0 || myTodosForLater().length > 0">
                <span data-toggle="tooltip" data-delay='{"show": 850, "hide": 100}' title="Type of tasks" class="macro-title-label">PROCESS</span>
              </div>
            </div>
            <div class="hideDesktop todosBar">
              MY TO DO's
            </div>
            <div ng-if="myTodosForThisWeek().length === 0 && myTodosForLater().length === 0" class="row noTaskBody hideMobile">
              <div class="noTaskBar"></div>
              <span class="noTask">Your job is done</span>
            </div>
            <div ng-if="myTodosForThisWeek().length === 0 && myTodosForLater().length === 0" class="row noTaskBody hideDesktop mobile">
              <div class="noTaskBar mobile"></div>
              <span class="noTask mobile">Your job is done</span>
            </div>
            <div ng-repeat="valueTask in myTodosForThisWeek() | orderBy: valueTask.timeLeft" class="taskBody row">
              <div class="col-md-1 taskFull">
                <div class="taskUrgency" ng-class="{'worrisome' : valueTask.priority == 'req_worrisome'}"></div>
                <div class="taskUrgency" ng-class="{'urgent' : valueTask.priority == 'urgent'}"></div>
              </div>
              <div class="taskAlign col-md-5">
                <div class="taskWrapper">
                  <a class="taskTitle" href="{{valueTask.url}}">{{valueTask.title}}</a>
                  <!--span class="taskDescription">{{valueTask.description}}</span-->
                </div>
              </div>
              <div class="taskAlign col-md-2">
                <div class="taskDate">
                  <span>{{valueTask.actions}}</span>
                </div>
              </div>
              <div class="taskAlign col-md-2">
                <div class="taskDate">
                  <span>{{valueTask.timeLeft}}</span>
                </div>
              </div>
              <div class="taskAlign col-md-2">
                <div class="taskDate">
                  <div class="toDoProcess" ng-class="{'competencies' : valueTask.area == 'Competencies'}">{{valueTask.area}}</div>
                </div>
              </div>
            </div>
            <div ng-repeat="valueTask in myTodosForThisWeek() | orderBy: valueTask.timeLeft" class="taskBodyMobile">
              <div class="left">
                <div class="priorityBar" ng-class="{'worrisome' : valueTask.priority == 'req_worrisome', 'urgent' : valueTask.priority == 'urgent'}"></div>
                <div class="taskInfo">
                  <a href="{{valueTask.url}}">{{valueTask.title}}</a>
                </div>
                <div class="taskArea">
                  <span class="blueArea">{{valueTask.area}} .</span>
                  <span>{{valueTask.timeLeft}}</span>
                </div>
              </div>
            </div>
            <div ng-repeat="valueTask in myTodosForLater() | orderBy: valueTask.timeLeft" class="taskBody row">
              <div class="col-md-1 taskFull">
                <div class="taskUrgency" ng-class="{'noUrgent' : valueTask.priority == 'non_urgent'}"></div>
              </div>
              <div class="taskAlign col-md-5">
                <div class="taskWrapper">
                  <a class="taskTitle" href="{{valueTask.url}}">{{valueTask.title}}</a>
                  <!--span class="taskDescription">{{valueTask.description}}</span-->
                </div>
              </div>
              <div class="taskAlign col-md-2">
                <div class="taskDate">
                  <span>{{valueTask.actions}}</span>
                </div>
              </div>
              <div class="taskAlign col-md-2">
                <div class="taskDate">
                  <span>{{valueTask.timeLeft}}</span>
                </div>
              </div>
              <div class="taskAlign col-md-2">
                <div class="taskDate">
                  <div class="toDoProcess" ng-class="{'competencies' : valueTask.area == 'Competencies'}">{{valueTask.area}}</div>
                </div>
              </div>
            </div>
            <div ng-repeat="valueTask in myTodosForLater() | orderBy: valueTask.timeLeft" class="taskBodyMobile">
              <div class="priorityBar" ng-class="{'noUrgent' : valueTask.priority == 'non_urgent'}"></div>
              <div class="left">
                <div class="taskInfo">
                  <a href="{{valueTask.url}}">{{valueTask.title}}</a>
                </div>
                <div class="taskArea">
                  <span class="blueArea">{{valueTask.area}} .</span>
                  <span>{{valueTask.timeLeft}}</span>
                </div>
              </div>
            </div>
            <!--div ng-repeat="notification in data.notifications">
      aa{{notification.title}}
      bb{{notification.description}}
  </div-->

            <!-- TO IMPLEMENT-->

            <div class="macro-title-div row hideMobile">
              <div class="title col-md-6">
                <span class="macro-title">MY ALERTS</span>
              </div>
              <div class="title-label col-md-2">
                <span class="macro-title-label" ng-show="data.alertsToShow"></span>
              </div>
              <div class="title-label col-md-2" ng-show="data.alertsToShow">
                <span class="macro-title-label">DUE</span>
              </div>
              <div class="title-label col-md-2" ng-show="data.alertsToShow">
                <span class="macro-title-label">PROCESS</span>
              </div>
            </div>
            <div class="hideDesktop todosBar">
              MY ALERTS
            </div>
            <div ng-if="myAlerts().length === 0" class="row noTaskBody hideMobile">
              <div class="noTaskBar"></div>
              <span class="noTask">You don't have any alerts</span>
            </div>
            <div ng-if="myAlerts().length === 0" class="row noTaskBody hideDesktop mobile">
              <div class="noTaskBar mobile"></div>
              <span class="noTask mobile">You don't have any alerts</span>
            </div>
            <div class="myTodo-title"></div>
            <div ng-repeat="valueAlert in myAlerts()" class="taskBody row">
              <div class="col-md-1 taskFull">
                <div class="taskUrgency"></div>
              </div>
              <div class="taskAlign col-md-5">
                <div class="taskWrapper">
                  <span class="taskTitle">{{valueAlert.title}}</span>
                  <span class="taskDescription">{{valueAlert.description}}</span>
                </div>
              </div>
              <div class="taskAlign col-md-2">
                <div class="taskDate">
                </div>
              </div>
              <div class="taskAlign col-md-2">
                <div class="taskDate">
                  <span>{{valueAlert.startDate}}</span>
                </div>
              </div>
              <div class="taskAlign col-md-2">
                <div class="taskDate">
                  <div class="toDoProcess" ng-class="{'competencies' : valueTask.area == 'Competencies'}">{{valueTask.area}}</div>
                </div>
              </div>
            </div>
            <div ng-repeat="valueAlert in myAlerts() | orderBy: valueTask.timeLeft" class="taskBodyMobile">
              <div class="priorityBar"></div>
              <div class="taskInfo">
                <span>{{valueTask.title}}</span>
              </div>
              <div class="taskArea">
                <span class="blueArea">{{valueTask.area}} .</span>
                <span>{{valueTask.timeLeft}}</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
