$mobile-portrait: "(max-width: 750px)";
$medium-width: "(min-width: 751px) and (max-width: 1024px)";
$non-small-width: "(min-width: 751px)";
$desktop: "(min-width: 1025px)";
.noTaskBody {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  margin-left: 0px;
  height: 70px;
  background-color: #ffffff;
  border: solid 1px #dfdfdf;
  border: solid 1px var(--white);
  &.mobile {
    margin-right: 0px;
  }
}
.noTask {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #000000;
  margin-left: 30px;
  &.mobile {
    margin-left: 10px;
  }
}
.noTaskBar {
  height: 100%;
  width: 15px;
  background-color: #dfdfdf;
  &.mobile {
    width: 10px;
    background-color: #232323;
  }
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  text-align: -webkit-center !important;
  margin: 50px auto !important;
}
.modal-dialog {
  width: auto !important;
}
.Fixed {
  position: fixed;
  top: 450px;
  right: 1%;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
body {
  overflow-x: hidden;
}

/* Toggle Styles */

#wrapper {
  display: flex;
  //align-items: center;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: -250px;
  .Fixed {
    position: fixed;
    right: 250px;
  }
}
#sidebar-wrapper {
  top: 60px;
  bottom: 0;
  z-index: 1000;
  position: fixed;
  right: 0px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#page-content-wrapper {
  //flex-grow:1;
  position: absolute;
  width: calc(100% - 30px);
  padding: 15px 0px;
}
#wrapper.toggled #page-content-wrapper {
  margin-right: 250px;
}

/* Sidebar Styles */

.sidebar-nav {
  //position: absolute;
  //top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  line-height: 40px;
}
.sidebar-nav li {
  display: block;
  text-decoration: none;
  color: #999999;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-family: "Open Sans", sans-serif;
}
.thumbnail-description {
  color: white;
  font-size: 11px;
  cursor: pointer;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-family: "Open Sans", sans-serif;
}
#thumbnail-image {
  cursor: pointer;
}
.thumbnail-sub-header {
  font-size: 11px;
  cursor: pointer;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-family: "Open Sans", sans-serif;
}
.thumbnail {
  margin-top: 2%;
  background-color: transparent;
  border-color: transparent;
}
.thumbnail-title-smart {
  cursor: pointer;
  color: white;
}
.thumbnail-title-smart-plic {
  cursor: pointer;
  color: #86bc25;
}
.sidebar-nav li :hover {
  text-decoration: none;
  cursor: pointer;
}
.sidebar-nav li :active, .sidebar-nav li :focus {
  text-decoration: none;
  cursor: pointer;
}
.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav>.sidebar-brand a {
  color: #999999;
}
.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}
.home-not {
  margin-left: 17px;
}
.taskBody {
  margin-bottom: 3px;
  margin-left: 0px;
  height: 70px;
  border: solid 1px #dfdfdf;
  border: solid 1px var(--white);
  .taskFull {
    background-color: #ffffff;
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
  }
  .taskUrgency {
    display: none;
    border: solid 1px #dfdfdf;
    height: 100%;
    width: 15px;
    &.worrisome {
      display: inline-block;
      background-color: #f8e71c;
    }
    &.urgent {
      display: inline-block;
      background-color: #e42313;
    }
    &.noUrgent {
      display: inline-block;
      background-color: #000000;
    }
  }
  .taskAlign {
    background-color: #ffffff;
    height: 100%;
    .taskWrapper {
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      margin-left: -19%;
      .taskTitle {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.2px;
        color: #000000;
        font-weight: 600;
        display: block;
        text-decoration: underline;
      }
      .taskTitle:hover {
        text-decoration: underline;
      }
      .taskDescription {
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.2px;
        color: #000000;
        display: block;
      }
    }
    .taskDate {
      display: flex;
      height: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-align: center;
      .leftButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 49px;
        height: 35px;
        border-radius: 4px;
        background-color: #ededed;
        margin-right: 7px;
      }
      .imgH {
        display: none;
        &.new {
          display: inline-block;
        }
        &.ongoing {
          display: inline-block;
        }
      }
      .toDoProcess {
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        font-size: 10px;
        color: #000000;
      }
      .img-date {
        margin-right: 6px;
      }
    }
  }
}
.myTodo-title {
  font-size: 18px;
  color: #000000;
}
.macro-title-div {
  align-items: center;
  position: inherit;
  height: 70px;
  display: flex;
  margin-bottom: -1%;
  margin-left: -14px;
}
.macro-title {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #000000;
}
.macro-title-label {
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  color: #53565a;
  font-family: "Open Sans", sans-serif;
  position: relative;
  top: 35%;
  letter-spacing: 0.2px;
}
.title-label {
  height: 100%;
  text-align: center;
  margin-bottom: -7px;
}
@media #{$mobile-portrait} {
  #page-content-wrapper {
  //flex-grow:1;
  position: absolute;
  width: 96%;
  padding: 0px;
	}
  taskBody {
    margin-bottom: 0px;
  }
  .noTaskBody {
    margin-bottom: 0px;
  }
  .hideMobile {
    display: none;
  }
  .taskBody {
    display: none;
  }
  .home-not {
    margin-left: -30px;
    margin-right: -15px;
  }
  .todosBar {
    width: 100%;
    height: 27px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 9px;
  }
  .taskBodyMobile {
    background-color: #ffffff;
    border: solid 1px #dfdfdf;
    height: 70px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space_between;
    .priorityBar {
      height: 100%;
      width: 10px;
      position: absolute;
      top: 0;
      left: 0;
      &.worrisome {
        background-color: #f8e71c;
      }
      &.urgent {
        background-color: #e42313;
      }
      &.noUrgent {
        background-color: #000000;
      }
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    width: 92%;
  }
  .taskInfo {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    a {
      color: black;
      text-decoration: underline;
    }
  }
  .taskArea {
    padding-left: 20px;
    .blueArea {
      color: #0a77a9;
    }
  }
  .refreshButton {
    right: 10px;
    width: 49px;
    height: 35px;
    border-radius: 4px;
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #myModal {
    display: none;
  }
  #compVideo {
    display: none;
  }
  .Fixed {
    display: none;
  }
}
@media #{$desktop} {
  .hideDesktop {
    display: none;
  }
  .mobile {
    display: none;
  }
  .taskBodyMobile {
    display: none;
  }
}

@media #{$medium-width} {
  .taskBody {
    margin-right: 15px;
  }
  .noTaskBody {
    margin-right: 15px;
  }
  .macro-title-div {
    margin-right: 15px;
  }
  .hideDesktop {
    display: none;
  }
}

@media #{$non-small-width} {
  .mobile {
    display: none;
  }
  .taskBodyMobile {
    display: none;
  }
}
