<div ng-if="!data.is_logged_in">
  <form ng-if="!c.externalLoginMode" class="form-signin" ng-submit="c.login(c.username, c.password)" method="post">
    <div ng-class="{'panel panel-default': c.options.show_panel}">
      <div ng-if="c.options.show_panel" class="panel-heading">
        <h3 class="panel-title">${Login}</h3>
      </div>

      <div ng-class="{'panel-body': c.options.show_panel}">

        <div class="list-group list-group-sm">
          <div class="list-group-item">
            <label for="username" class="sr-only">{{::data.usernameMsg}}</label>
            <input id="username" name="username" ng-keypress="c.message = ''" ng-click="c.message = ''" class="form-control no-border" type="text" placeholder='{{::data.usernameMsg}}' autofocus="true" ng-model="c.username"/>
          </div>
          <div class="list-group-item">
            <label for="password" class="sr-only">{{::data.passwordMsg}}</label>
            <input id="password" name="password" ng-keypress="c.message = ''" ng-click="c.message = ''" class="form-control no-border" type="password" placeholder='{{::data.passwordMsg}}' ng-model="c.password"/>
          </div>
        </div>

        <div ng-if="c.message" class="alert alert-danger" role="alert">{{c.message}}</div>
        <div ng-if="c.success" class="alert alert-success" role="alert">{{c.success}}</div>

        <div class="checkbox">
          <label>
            <input name="c.remember_me" ng-model="c.remember_me" checked="checked" id="remember_me" type="checkbox" class="checkbox" value="true"/> ${Remember me}
          </label>
        </div>

        <button name="login" type="submit" class="btn btn-lg btn-primary btn-block">
          ${Login}
        </button>

        <a ng-if="data.multisso_enabled"
           class="set-login-type-link"
           href="javascript:void(0)"
           ng-click="c.setExternalLogin(true)">${Use external login}</a>
      </div>
    </div>
  </form>
  <form ng-if="c.externalLoginMode" class="form-signin" ng-submit="c.externalLogin()" method="post">
    <div ng-class="{'panel panel-default': c.options.show_panel}">
      <div ng-if="c.options.show_panel" class="panel-heading">
        <h3 class="panel-title">${External Login}</h3>
      </div>

      <div ng-class="{'panel-body': c.options.show_panel}">
        <div class="list-group list-group-sm">
          <div class="list-group-item">
            <label for="username" class="sr-only">${User ID}</label>
            <input id="username" name="username" ng-click="message = ''" class="form-control no-border" type="text" placeholder='${User ID}' autofocus="true" ng-model="c.username"/>
          </div>
        </div>

        <button name="login" type="submit" class="btn btn-lg btn-primary btn-block">
          ${Submit}
        </button>

        <a href="javascript:void(0)"
           class="set-login-type-link"
           ng-click="c.setExternalLogin(false)">${Use internal login}</a>
      </div>
    </div>
  </form>
</div>
