<!--<div id="orientationWarning"></div>-->
<!--  Details Modal -->


<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-diapaaaalog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modalTitleDiv">
          <h4 class="modal-title" id="myModalLabel">Approval Details</h4>
        </div>
        <div class="modalSquareButton">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="restoreDelegateToLastSubmitedState()">
            <img src="close_button.svg" />
          </button>
        </div>
      </div>
      <div class="modal-body">

        <div class="modalDatesDiv">
          <div class="daysLeftDiv">
            <div class="sideBar"></div>
            <!--<span class="nrSpan">{{approvalForDetails.u_due_date}}</span><span class="daysLeftSpan">DAYS left</span>-->
            <div class="info">
              <div class="fullCompName">{{approvalForDetails.label | limitTo:mobileApprovalLabelLimitLong}}{{approvalForDetails.label.length > mobileApprovalLabelLimitLong ? "..." : ""}}</div>
              <div class="empName">{{approvalForDetails.u_requester_name}}</div>
            </div>
          </div>
          <div class="datesDiv">
            <div class="lastUpdate">
              <div class="sideBar"></div>
              <div class="titleNDate">
                <div class="dateTitle">Last Update</div>
                <div class="dateContent"><img src="Clock%20_Gray.svg" /><span>{{formatDate(approvalForDetails.u_last_update) | date:'dd-MM-yyyy'}}</span></div>
              </div>
            </div>
            <div class="milestone">
              <div class="sideBar"></div>
              <div class="titleNDate">
                <span class="nrSpan">{{approvalForDetails.u_due_date}}</span><span class="daysLeftSpan">DAYS left</span>
              </div>

            </div>
          </div>
        </div>
        <div class="modalDelegate btn" data-dismiss="modal" data-toggle="modal" data-target="#delegateModal">
          Delegate
          <div class="delegateName">
            {{approvalForDetails.u_delegator_name.length > 0 ? approvalForDetails.u_delegator_name : "-"}}
          </div>
          <div class="modalSquareButton">
            <button type="button" class="close">
              <img src="arrow_next.svg" />
            </button>
          </div>
        </div>
        <div class="modalAddComment btn" data-dismiss="modal" data-toggle="modal" data-target="#commentsModal">
          Add Comment
          <div class="modalSquareButton">
            <button type="button" class="close">
              <img src="arrow_next.svg" />
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="submit(approvalForDetails)">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- Delegate Modal -->

<div class="modal fade" id="delegateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modalSquareButton backButton">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#detailsModal">
            <img src="arrow_back.svg" />
          </button>
        </div>
        <div class="modalTitleDiv">
          <h4 class="modal-title" id="myModalLabel">Delegate</h4>
        </div>
        <div class="modalSquareButton">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="restoreDelegateToLastSubmitedState()">
            <img src="close_button.svg" />
          </button>
        </div>
      </div>
      <div class="modal-body">
        <button ng-repeat="delegate in data.delegateTo" ng-if="approvalForDetails.u_primary_approval != delegate.sys_id" class="delegateOption" ng-click="delegateToFilterSelected(delegate)">
          <span>{{delegate.name}}</span>
          <img ng-if="delegateToCurrent.sys_id === delegate.sys_id" src="delegator_check.svg" />
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="delForCurrentDetailedApprovalChanged(delegateToCurrent)">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- Comments Modal -->

<div class="modal fade" ng-class="{'iOS':iOS,'writting':isWritting}" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modalSquareButton backButton">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#detailsModal">
            <img src="arrow_back.svg" />
          </button>
        </div>
        <div class="modalTitleDiv">
          <h4 class="modal-title" id="myModalLabel">Comments</h4>
        </div>
        <div class="modalSquareButton">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <img src="close_button.svg" />
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div class="commentBaloon" ng-repeat="comment in commentsForDetailedUser">
          <p>{{comment}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <input ng-model="currentMessage" class="messageInput" type="text" placeholder="Type a Message ..." ng-click="isWritting = true" ng-blur="isWritting = false">
        <div class="modalSquareButton backButton" ng-class="{inactive: !canSubmitComment}">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="submitCommentMobile()">
            <img src="send_comment_active.svg" ng-if="canSubmitComment" />
            <img src="send_comment_inactive.svg" ng-if="!canSubmitComment" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page -->

<div id="requestsDiv" class="requests">
	<div>
	<div class="headerDiv macro-title-div hideMobile" ng-class="{'showDivBack': showDelegated == true}" style="margin-left: 1px;margin-right: 1px;">
    <div class="checkboxNName">
      <div class="title-label shareCol">
        <span class="macro-title-label">
        	<div class="checkbox checkbox-primary masterCheckboxContainer">
          	<input id="masterCheckBox" type="checkbox" ng-click="checkAll()">
          	<label for="masterCheckBox" title="Select all approvals in this page"></label>
        	</div>
        </span>
      </div>
      <div class="title-label shareCol">
        <span class="macro-title-label">USERNAME</span>
      </div>
    </div>
    <div class="title-label optionsForm" id="proficiencyHeader">
      <span class="macro-title-label">PROFICIENCY LEVEL</span>
    </div>
    <div class="title-label updated centeredHeader">
      <span class="macro-title-label">UPDATED</span>
    </div>
    <div class="title-label daysLeft centeredHeader">
      <span class="macro-title-label">DAYS LEFT</span>
    </div>
    <div class="title-label optionsDiv centeredHeader">
      <span class="macro-title-label">ACTIONS</span>
    </div>
  </div>
  <div class="row noContentDiv" ng-if="data.myApprovals.length === 0">
    <img class="center-block noContent" src="approvalsNoContent.svg" /> You have no approvals.
  </div>
  <!--<div id="emptyApprovalsDiv" class="row" ng-if="data.myApprovals.length === 0">
	<img class="delegateON" class="img-responsive center-block" src="emptyContentApprovals.svg"/>
  </div>-->

  <!-- start my pending approvals -->
  <div class="competencyTitle" ng-if="!showDelegated">

    <div class="competencyRow hideMobile" ng-mouseenter="toggleHover(approval)" data-ng-mouseleave="toggleHover(approval)" ng-repeat="approval in currentApprovals | orderBy: 'u_due_date'">

      <div class="checkboxNName">
        <div class="checkbox checkbox-primary">
          <input class="approvalCheckBox" id="{{approval.index}}" type="checkbox" ng-model="approval.checked" ng-click="allowSubmit()">
          <label for="{{approval.index}}"></label>
        </div>
        <div class="mobileTitle extraOptionsMobileCol">
          <div class="option-img extraOption extraOptionsMobile hideNonMobile" data-toggle="modal" data-target="#detailsModal">
            <img class="extraButtonOff" src="extra_info_Regular.svg" ng-click="approvalForDetailsChanged(approval)" />
            <img class="extraButtonOn" src="extra_info_OVER.svg" ng-click="approvalForDetailsChanged(approval)" />
          </div>
          <div class="employeeWrapper">
            <span class="employeeName">{{approval.u_requester_name}}</span>
            <span class="employeeTitle">{{approval.u_requester_competency_group}} | {{approval.u_requester_professional_category}}</span>
            <span class="competencyLabel" ng-if="viewAll">{{approval.label | limitTo:competencyLabelLimit}}</span>
          </div>
        </div>
      </div>

      <form class="optionsForm competency-class centerUlContentHorizontallyMobile" action="">
        <ul>
          <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[approval.employeeType][approval.macro][0]}}">
            <input type="radio" id="{{approval.sys_id + '0'}}" name="selector" ng-model="approval.u_final_proficiency" value="0">
            <label for="{{approval.sys_id + '0'}}"><span ng-class="{'proposedValue' : approval.u_proposed_proficiency === '0', 'currentValue' : approval.u_current_proficiency === '0'}" class="check"></span><span class="value">0</span></label>
          </li>
          <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[approval.employeeType][approval.macro][1]}}">
            <input type="radio" id="{{approval.sys_id + '1'}}" name="selector" ng-model="approval.u_final_proficiency" value="1">
            <label for="{{approval.sys_id + '1'}}"><span ng-class="{'proposedValue' : approval.u_proposed_proficiency === '1', 'currentValue' : approval.u_current_proficiency === '1'}" class="check"></span><span class="value">1</span></label>
          </li>
          <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[approval.employeeType][approval.macro][2]}}">
            <input type="radio" id="{{approval.sys_id + '2'}}" name="selector" ng-model="approval.u_final_proficiency" value="2">
            <label for="{{approval.sys_id + '2'}}"><span ng-class="{'proposedValue' : approval.u_proposed_proficiency === '2', 'currentValue' : approval.u_current_proficiency === '2'}" class="check"></span><span class="value">2</span></label>
          </li>
          <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[approval.employeeType][approval.macro][3]}}">
            <input type="radio" id="{{approval.sys_id + '3'}}" name="selector" ng-model="approval.u_final_proficiency" value="3">
            <label for="{{approval.sys_id + '3'}}"><span ng-class="{'proposedValue' : approval.u_proposed_proficiency === '3', 'currentValue' : approval.u_current_proficiency === '3'}" class="check"></span><span class="value">3</span></label>
          </li>
          <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[approval.employeeType][approval.macro][4]}}">
            <input type="radio" id="{{approval.sys_id + '4'}}" name="selector" ng-model="approval.u_final_proficiency" value="4">
            <label for="{{approval.sys_id + '4'}}"><span ng-class="{'proposedValue' : approval.u_proposed_proficiency === '4', 'currentValue' : approval.u_current_proficiency === '4'}" class="check"></span><span class="value">4</span></label>
          </li>
          <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[approval.employeeType][approval.macro][5]}}">
            <input type="radio" id="{{approval.sys_id + '5'}}" name="selector" ng-model="approval.u_final_proficiency" value="5">
            <label for="{{approval.sys_id + '5'}}"><span ng-class="{'proposedValue' : approval.u_proposed_proficiency === '5', 'currentValue' : approval.u_current_proficiency === '5'}" class="check"></span><span class="value">5</span></label>
          </li>
        </ul>
      </form>

      <div class="updated date" ng-bind="{{formatDate(approval.u_last_update)}} | date:'dd-MM-yyyy'"></div>

      <div class="daysLeft date" ng-class="{'urgentFont' : approval.u_due_date <= 1}" ng-bind="{{approval.u_due_date}}"></div>

      <div class="hideMobile optionsDiv" ng-init="approval.hovering=false">
        <!--div class="delegateOptionsBar col-md-8" ng-if="approval.isDelegating"-->

        <!-- button to delegate in the popover ng-click="submitDelegation(approval, approval.index)" -->
        <!--button class="btn btn-default delegate" ng-class="{'showDelegad' : approval.u_delegator_name != ''}" ng-click="openPopover()">
            <img class="delegateON" src="delegate_arrow_active.svg" />
            <img class="delegateOFF" src="delegate_arrow_regular.svg" />
          </button>
        </div-->

        <div class="optionsWrapper">

          <!-- delegate -->
          <!--div class="option-img delegaOption" ng-class="{'showDelega' : approval.u_delegator_name != ''}"-->
					<span data-toggle="tooltip" data-delay='{"show": 850, "hide": 100}' title="View/Add Comments" ng-if="approval.u_comments != ''">
	          <img data-toggle="modal" data-target="#desktopCommentModal" class="commentsButton" src="comment_button_active.svg" ng-click="approvalForDetailsChanged(approval)" />
					</span>
					<span data-toggle="tooltip" data-delay='{"show": 850, "hide": 100}' title="Add Comments" ng-if="approval.u_comments == ''">
	          <img data-toggle="modal" data-target="#desktopCommentModal" class="commentsButton " src="comment_button.svg" ng-click="approvalForDetailsChanged(approval)" />
					</span>

					<span data-toggle="tooltip" data-delay='{"show": 850, "hide": 100}' title="Change Delegate" ng-if="approval.u_delegator_name != ''">
          	<img src="delegate_button_active.svg" class="delegateButton" data-toggle="modal" data-target="#desktopDelModal" ng-click="approvalForDetailsChanged(approval)" />
					</span>
					<span data-toggle="tooltip" data-delay='{"show": 850, "hide": 100}' title="Delegate Approval" ng-if="approval.u_delegator_name == ''">
						<img src="delegate_button.svg" class="delegateButton" data-toggle="modal" data-target="#desktopDelModal" ng-click="approvalForDetailsChanged(approval)" />
					</span>

					<span data-toggle="tooltip" data-delay='{"show": 850, "hide": 100}' title="Approve Submitted Value">
          	<img class="submitButton" src="submit_button.svg" ng-click="submit(approval)" />
					</span>
          <!--img class="delegateButtonOn" src="delegate_MOUSE_OVER.svg" data-toggle="modal" data-target="#desktopDelModal" ng-click="approvalForDetailsChanged(approval)"/-->
          <!--/div-->

          <!-- comments -->
          <!--div class="option-img commentOption" ng-class="{'showComment' : approval.u_comments != ''}" ng-hide="(!approval.hovering && approval.u_comments === '')"-->
          <!-- <img ng-click="c.openModalComments(approval)" ng-if="approval.u_comments != ''" class="commentsAppear" src="comentarios_COM_INFO.svg"
            />
            <img ng-click="c.openModalComments(approval)" ng-if="approval.u_comments == ''" class="commentButtonOff" src="Comentario_REGULAR.svg"
            />
            <img ng-click="c.openModalComments(approval)" class="commentButtonOn" src="Comentario_MOUSE__OVER.svg" /> -->


          <!--img data-toggle="modal" data-target="#desktopCommentModal" class="commentButtonOn" src="Comentario_MOUSE__OVER.svg" ng-click="approvalForDetailsChanged(approval)" /-->
          <!--/div-->

          <!-- extra options -->
          <!--div class="option-img extraOption">
            <img class="extraButtonOff" src="extra_info_Regular.svg" />
            <img class="extraButtonOn" src="extra_info_OVER.svg" />
          </div>

          <!-- submit approval -->
          <!--div class="option-img submitOption">
            <img class="submit" src="submiticon.svg" ng-click="submit(approval)" />
          </div-->
        </div>
      </div>
    </div>
  </div>
  <!-- end my pending approvals -->

  <!-- start my delegated approvals -->
  <div class="competencyTitle" ng-if="showDelegated">
    <div class="competencyRow hideMobile" ng-mouseenter="toggleHover(approval)" data-ng-mouseleave="toggleHover(approval)" ng-repeat="approval in currentApprovals | orderBy: 'u_due_date'">

      <div class="checkboxNName">
        <div class="checkbox checkbox-primary">
          <input class="approvalCheckBox" id="{{approval.index}}" type="checkbox" ng-model="approval.checked" ng-click="allowSubmit()">
          <label for="{{approval.index}}"></label>
        </div>
        <div class="mobileTitle extraOptionsMobileCol">
          <div class="option-img extraOption extraOptionsMobile hideNonMobile" data-toggle="modal" data-target="#detailsModal">
            <img class="extraButtonOff" src="extra_info_Regular.svg" ng-click="approvalForDetailsChanged(approval)" />
            <img class="extraButtonOn" src="extra_info_OVER.svg" ng-click="approvalForDetailsChanged(approval)" />
          </div>
          <div class="employeeWrapper">
            <span class="employeeName">{{approval.u_requester_name}}</span>
            <span class="employeeTitle">{{approval.u_requester_competency_group}} | {{approval.u_requester_professional_category}}</span>
            <span class="competencyLabel" ng-if="viewAll">{{approval.label | limitTo:competencyLabelLimit}}</span>
          </div>
        </div>
      </div>

      <form class="optionsForm competency-class centerUlContentHorizontallyMobile" action="">
        <ul>
          <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[approval.employeeType][approval.macro][0]}}">
            <input type="radio" id="{{approval.sys_id + '0'}}" name="selector" ng-model="approval.u_final_proficiency" value="0">
            <label for="{{approval.sys_id + '0'}}"><span ng-class="{'proposedValue' : approval.u_proposed_proficiency === '0', 'currentValue' : approval.u_current_proficiency === '0'}" class="check"></span><span class="value">0</span></label>
          </li>
          <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[approval.employeeType][approval.macro][1]}}">
            <input type="radio" id="{{approval.sys_id + '1'}}" name="selector" ng-model="approval.u_final_proficiency" value="1">
            <label for="{{approval.sys_id + '1'}}"><span ng-class="{'proposedValue' : approval.u_proposed_proficiency === '1', 'currentValue' : approval.u_current_proficiency === '1'}" class="check"></span><span class="value">1</span></label>
          </li>
          <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[approval.employeeType][approval.macro][2]}}">
            <input type="radio" id="{{approval.sys_id + '2'}}" name="selector" ng-model="approval.u_final_proficiency" value="2">
            <label for="{{approval.sys_id + '2'}}"><span ng-class="{'proposedValue' : approval.u_proposed_proficiency === '2', 'currentValue' : approval.u_current_proficiency === '2'}" class="check"></span><span class="value">2</span></label>
          </li>
          <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[approval.employeeType][approval.macro][3]}}">
            <input type="radio" id="{{approval.sys_id + '3'}}" name="selector" ng-model="approval.u_final_proficiency" value="3">
            <label for="{{approval.sys_id + '3'}}"><span ng-class="{'proposedValue' : approval.u_proposed_proficiency === '3', 'currentValue' : approval.u_current_proficiency === '3'}" class="check"></span><span class="value">3</span></label>
          </li>
          <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[approval.employeeType][approval.macro][4]}}">
            <input type="radio" id="{{approval.sys_id + '4'}}" name="selector" ng-model="approval.u_final_proficiency" value="4">
            <label for="{{approval.sys_id + '4'}}"><span ng-class="{'proposedValue' : approval.u_proposed_proficiency === '4', 'currentValue' : approval.u_current_proficiency === '4'}" class="check"></span><span class="value">4</span></label>
          </li>
          <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[approval.employeeType][approval.macro][5]}}">
            <input type="radio" id="{{approval.sys_id + '5'}}" name="selector" ng-model="approval.u_final_proficiency" value="5">
            <label for="{{approval.sys_id + '5'}}"><span ng-class="{'proposedValue' : approval.u_proposed_proficiency === '5', 'currentValue' : approval.u_current_proficiency === '5'}" class="check"></span><span class="value">5</span></label>
          </li>
        </ul>
      </form>

      <div class="updated date" ng-bind="{{formatDate(approval.u_last_update)}} | date:'dd-MM-yyyy'"></div>

      <div class="daysLeft date" ng-bind="{{approval.u_due_date}}"></div>

      <div class="hideMobile optionsDiv" ng-init="approval.hovering=false">
        <div class="delegateOptionsBar col-md-8" ng-if="approval.isDelegating">

          <!-- button to delegate in the popover ng-click="submitDelegation(approval, approval.index)" -->
          <button class="btn btn-default delegate" ng-class="{'showDelegad' : approval.u_delegator_name != ''}" ng-click="openPopover()">
            <img class="delegateON" src="delegate_arrow_active.svg" />
            <img class="delegateOFF" src="delegate_arrow_regular.svg" />
          </button>
        </div>

        <div class="optionsWrapper">

          <!-- delegate -->
          <!--div class="option-img delegaOption" ng-class="{'showDelega' : approval.u_delegator_name != ''}"-->
					<span data-toggle="tooltip" data-delay='{"show": 850, "hide": 100}' title="View/Add Comments" ng-if="approval.u_comments != ''">
          	<img data-toggle="modal" data-target="#desktopCommentModal" class="commentsButton" src="comment_button_active.svg" ng-click="approvalForDetailsChanged(approval)" />
					</span>
					<span data-toggle="tooltip" data-delay='{"show": 850, "hide": 100}' title="Add Comments" ng-if="approval.u_comments == ''">
          	<img data-toggle="modal" data-target="#desktopCommentModal" class="commentsButton" src="comment_button.svg" ng-click="approvalForDetailsChanged(approval)" />
					</span>

					<span data-toggle="tooltip" data-delay='{"show": 850, "hide": 100}' title="Change Delegate" ng-if="approval.u_delegator_name != ''">
          	<img src="delegate_button_active.svg" class="delegateButton" data-toggle="modal" data-target="#desktopDelModal" ng-click="approvalForDetailsChanged(approval)" />
					</span>
					<span data-toggle="tooltip" data-delay='{"show": 850, "hide": 100}' title="Delegate Approval" ng-if="approval.u_delegator_name == ''">
          	<img src="delegate_button.svg" class="delegateButton" data-toggle="modal" data-target="#desktopDelModal" ng-click="approvalForDetailsChanged(approval)" />
					</span>

					<span data-toggle="tooltip" data-delay='{"show": 850, "hide": 100}' title="Approve Submitted Value">
          	<img class="submitButton" src="submit_button.svg" ng-click="submit(approval)" />
					</span>
          <!--img class="delegateButtonOn" src="delegate_MOUSE_OVER.svg" data-toggle="modal" data-target="#desktopDelModal" ng-click="approvalForDetailsChanged(approval)"/-->
          <!--/div-->

          <!-- comments -->
          <!--div class="option-img commentOption" ng-class="{'showComment' : approval.u_comments != ''}" ng-hide="(!approval.hovering && approval.u_comments === '')"-->
          <!-- <img ng-click="c.openModalComments(approval)" ng-if="approval.u_comments != ''" class="commentsAppear" src="comentarios_COM_INFO.svg"
            />
            <img ng-click="c.openModalComments(approval)" ng-if="approval.u_comments == ''" class="commentButtonOff" src="Comentario_REGULAR.svg"
            />
            <img ng-click="c.openModalComments(approval)" class="commentButtonOn" src="Comentario_MOUSE__OVER.svg" /> -->


          <!--img data-toggle="modal" data-target="#desktopCommentModal" class="commentButtonOn" src="Comentario_MOUSE__OVER.svg" ng-click="approvalForDetailsChanged(approval)" /-->
          <!--/div-->

          <!-- extra options -->
          <!--div class="option-img extraOption">
            <img class="extraButtonOff" src="extra_info_Regular.svg" />
            <img class="extraButtonOn" src="extra_info_OVER.svg" />
          </div-->

          <!-- submit approval -->
          <!--div class="option-img submitOption">
            <img class="submit" src="submit_button.svg" ng-click="submit(approval)" />
          </div-->
        </div>
      </div>
    </div>
  </div>
  <!-- end my delegated approvals -->

  <!-- start mobile -->
  <div class="competencyRow hideNonMobile" ng-repeat="approval in currentApprovals | orderBy: 'u_due_date'">

    <!--<div class="hideMobile"><input type="checkbox" ng-model=""></div>-->

    <div class="checkboxContainer">
      <div class="checkbox checkbox-primary">
        <input id="{{approval.index}}" type="checkbox" ng-model="approval.checked" ng-click="allowSubmit()">
        <label for="{{approval.index}}"></label>
      </div>
    </div>

    <div class="mobileMainCell">
      <div class="employeeWrapper">
        <div class="left">
          <span class="employeeName">{{approval.u_requester_name}}</span>
          <span class="employeeTitle">{{approval.u_requester_competency_group}} | {{approval.u_requester_professional_category}}</span>
        </div>
        <div class="right">
          <span class="appLabel" ng-if="viewAll">{{approval.label | limitTo:mobileApprovalLabelLimit}}{{approval.label.length > mobileApprovalLabelLimit ? "...":""}}</span>
        </div>

      </div>
      <div class="mobileCellBottom">
        <form class="competency-class centerUlContentHorizontallyMobile" action="">
          <ul>
            <li>
              <input type="radio" id="{{approval.sys_id + '0'}}" name="selector" ng-model="approval.u_final_proficiency" value="0">
              <label for="{{approval.sys_id + '0'}}"><span ng-class="{'proposedValue' : approval.u_proposed_proficiency === '0', 'currentValue' : approval.u_current_proficiency === '0'}" class="check"></span><span class="value">0</span></label>
            </li>
            <li>
              <input type="radio" id="{{approval.sys_id + '1'}}" name="selector" ng-model="approval.u_final_proficiency" value="1">
              <label for="{{approval.sys_id + '1'}}"><span ng-class="{'proposedValue' : approval.u_proposed_proficiency === '1', 'currentValue' : approval.u_current_proficiency === '1'}" class="check"></span><span class="value">1</span></label>
            </li>
            <li>
              <input type="radio" id="{{approval.sys_id + '2'}}" name="selector" ng-model="approval.u_final_proficiency" value="2">
              <label for="{{approval.sys_id + '2'}}"><span ng-class="{'proposedValue' : approval.u_proposed_proficiency === '2', 'currentValue' : approval.u_current_proficiency === '2'}" class="check"></span><span class="value">2</span></label>
            </li>
            <li>
              <input type="radio" id="{{approval.sys_id + '3'}}" name="selector" ng-model="approval.u_final_proficiency" value="3">
              <label for="{{approval.sys_id + '3'}}"><span ng-class="{'proposedValue' : approval.u_proposed_proficiency === '3', 'currentValue' : approval.u_current_proficiency === '3'}" class="check"></span><span class="value">3</span></label>
            </li>
            <li>
              <input type="radio" id="{{approval.sys_id + '4'}}" name="selector" ng-model="approval.u_final_proficiency" value="4">
              <label for="{{approval.sys_id + '4'}}"><span ng-class="{'proposedValue' : approval.u_proposed_proficiency === '4' , 'currentValue' : approval.u_current_proficiency === '4'}" class="check"></span><span class="value">4</span></label>
            </li>
            <li>
              <input type="radio" id="{{approval.sys_id + '5'}}" name="selector" ng-model="approval.u_final_proficiency" value="5">
              <label for="{{approval.sys_id + '5'}}"><span ng-class="{'proposedValue' : approval.u_proposed_proficiency === '5', 'currentValue' : approval.u_current_proficiency === '5'}" class="check"></span><span class="value">5</span></label>
            </li>
          </ul>
        </form>
      </div>
    </div>

    <div class="option-img extraOption extraOptionsMobile hideNonMobile" ng-click="approvalForDetailsChanged(approval)" data-toggle="modal" data-target="#detailsModal">
      <!--<img class="extraButtonOff" src="extra_info_Regular.svg" ng-click="approvalForDetailsChanged(approval)" />-->
      <img class="extraButtonOn" src="extra_info_OVER.svg" />
    </div>
  </div>
  <!-- end mobile -->

  <!-- start tablet pie chart -->

  <div class="sideButton hideMobile hideNonMobile hideInLargeWidth" ng-click="togglePieChartTablet()"><img src="graphToggle.svg" /></div>
  <div class="pieTablet hideMobile hideNonMobile hideInLargeWidth"></div>
</div>
  <!-- end tablet pie chart -->
<div class="footer_caption" ng-if="data.myApprovals.length > 0">
	<div class="caption_buttons">
		<span class="caption_competency">
			<img src="old_competency.svg"> Current level
		</span>
		<span class="caption_competency">
			<img src="request_competency.svg"> Proposed level
		</span>
		<span class="caption_competency">
			<img src="new_competency.svg"> Final level
		</span>
	</div>
	<div>
	  <button class="btn-default btn Save backPageButton" ng-click="backPage()" ng-if="currentPage != 0">
			<img class="arrow_left" src="arrow.svg">
			<img class="arrow_left_active" src="arrow_direita.svg">
			BACK
		</button>
		<button class="btn-default btn Save nextPageButton" ng-click="nextPage()" ng-if="drawNextButton()">
			NEXT
			<img class="arrow_right" src="arrow.svg">
			<img class="arrow_right_active" src="arrow_direita.svg">
		</button>
	</div>
</div>
<!-- end row -->
</div>
<script type="text/ng-template" id="modalComments">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Comments</h4>
    </div>
    <div class="panel-body wrapper-xl">
      <p ng-repeat="comment in comments">{{comment}}</p>
    </div>
    <div class="panel-footer text-right">
      <input style="float:left" type="text" placeholder="Add a comment" ng-model="approvalObject.u_newComments">
      <button class="btn btn-danger" ng-click="c.cancelModal()">Cancel</button>
      <button class="btn btn-primary" ng-click="c.closeModalAndAdd()">Add new comment</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="modalDelegate">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Delegate</h4>
    </div>
    <div class="panel-body wrapper-xl">

    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-danger" ng-click="c.cancelModal()">Cancel</button>
      <button class="btn btn-primary" ng-click="c.closeModalAndAdd()">Delegate</button>
    </div>
  </div>
</script>

<div class="modal fade" id="desktopDelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="panel-heading">
        <h4 class="modal-title" id="myModalLabel">DELEGATE</h4>
        <!--<button class="btn closed" type="button" data-dismiss="modal" ng-click="">X</button>-->
      </div>
      <div class="modal-body">
        <div id="delegateDropdown">
          <div class="delSelDiv">
            <input type="text" placeholder="{{placeholderForDelegatePopover()}}" ng-model="delegateToFilterString" />
            <!--<div ng-class={ "disabled":!canSubmitDelegate()} ng-click="popoverSubmitDelegate()"><span>OK</span></div>-->
          </div>
          <div class="delOptsDiv">
            <div class="delOpt" ng-repeat="del in data.delegateTo | filter:delToFilter" ng-click="delegateToFilterSelected(del)" ng-if="del.sys_id != approvalForDetails.u_primary_approval">{{del.name}}</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-btn" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-btn" ng-class="{ 'disabled':!canSubmitDelegate()}" ng-click="popoverSubmitDelegate()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="desktopCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="panel-heading">
        <h4 class="modal-title" id="myModalLabel">COMMENTS</h4>
        <!--<button class="btn closed" type="button" data-dismiss="modal" ng-click="">X</button>-->
      </div>
      <div class="modal-body">
        <div class="commentsContainer">
          <div class="commentBaloon" ng-repeat="comment in commentsForDetailedUser">
            <p>{{comment}}</p>
          </div>
        </div>
        <input type="text" ng-model="currentMessage" placeholder="Type your comment here" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-btn" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-btn" data-dismiss="modal" ng-class="{ 'disabled':!canSubmitComment}" ng-click="submitCommentMobile()">Add New Comment</button>
      </div>
    </div>
  </div>
</div>
