$mobile-portrait: "(min-width: 321px) and (min-height: 569px) and (max-width: 414px) and (max-height: 736px)";
$desktop: "(min-width: 1025px)";
$small-width: "(max-width: 750px)";
$non-small-width: "(min-width: 750px)";
$medium-width: "(min-width: 751px) and (max-width: 1024px)";
$large-width: "(min-width: 1025px)";

.footer_caption {
	z-index: 1000;
	width: calc(66.66667% - 30px);
	display: flex;
	justify-content: space-between;
	bottom: 0;
	position: fixed;
	background-color: #ededed;
	@media #{$medium-width} {
    margin-bottom: 51px;
    width: 100%;
  }
  @media #{$small-width}{
    display: none;
  }
}
.caption_buttons {
	margin-top: 15px;
	margin-bottom: 15px;
}
.caption_competency {
	padding-right: 20px;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	color: #000000;
	img {
		padding-right: 7px;
		vertical-align: top;
	}
}
/*

Comments modal

*/


div..modal-backdrop{
  z-index: 1;
}
#desktopCommentModal {
  .modal-dialog {
    width: 400px;
		.panel-heading{
			background-color: black;
			display: flex;
			justify-content: center;
		}
  }
  .modal-body {
    padding-bottom: 0px;
		padding-left: 15px;
		padding-right: 15px;
    .commentsContainer {
      max-height: 200px;
      overflow-y: scrolldesk;
    }
		input{
			border-radius: 2px;
			margin-top: 10px;
			border: solid 1px #d4d5d6;
			box-shadow: none;
			border-bottom: none;
			width: calc(100% - 2px);
			margin-left: 1px;
			padding-left: 12px;
			padding-right: 12px;

		}
  }
	.modal-footer{
		padding-right: 0px;
		padding-left: 0px;
		button{
			border-radius: 0px;
			border: none;
			&.close-btn{
				background-color: #63605F;
				color: white;
			}
			&.save-btn{
				background-color: #86bc25;
				border-bottom: solid 2px #000000;
			}
		}
	}
}

/*

Delegate Select

*/

#desktopDelModal {
  .modal-dialog {
    width: 400px;
		.panel-heading{
			background-color: black;
			display: flex;
			justify-content: center;
		}
    .modal-body {
      display: flex;
      align-items: center;
      justify-content: space-around;
      //padding:5px;
      #delegateDropdown {
        .delSelDiv {
          padding-left: 10px;
          display: flex;
          align-items: center;
          width: 232px;
          height: 25px;
          border-radius: 4px;
          background-color: white;
          border: solid 1px #dfdfdf;
          input {
            height: 80%;
            width: 80%;
            border: none;
            font-size: 11px;
          }
          div {
            display: flex;
            align-items: center;
            height: 100%;
            margin-left: auto;
            width: 25px;
            border-left: solid 1px #dfdfdf;
            justify-content: center;
            color: #0a77a9;
            font-size: 11px;
            cursor: pointer;
            &.disabled {
              cursor: none;
              color: #dfdfdf;
            }
          }
        }
        .delOptsDiv {
          max-height: 75px;
          overflow-y: scroll;
          margin-top: 1px;
          padding-left: 10px;
          background-color: white;
          border-radius: 4px;
          width: 232px;
          .delOpt {
            display: flex;
            align-items: center;
            height: 25px;
            font-size: 11px;
          }
        }
      }
    }
		.modal-footer{
			padding-right: 0px;
			padding-left: 0px;
			button{
				border-radius: 0px;
				border: none;
				&.close-btn{
					background-color: #63605F;
					color: white;
				}
				&.save-btn{
					background-color: #86bc25;
					border-bottom: solid 2px #000000;
				}
			}
		}
	}
}

/*

Details Modal CSS

*/


@media #{$non-small-width} {
  .modal-dialog{
    .panel-heading{
      background-color: #069a48;
      color: white;
      font-size:20px;
      border-bottom: double 2px #003618;
      display: flex;
      align-items: center;
      justify-content: space-between;
      button.closed{
        background-color: #3071a9;
        border: 1px solid #285e8e;
        box-shadow: 0 1px 0 0 #285e8e;
      }
    }
    .modal-body{
      background-color: white;
      min-height: 200px;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      .commentsContainer{
        flex-grow: 1;
      }
    }
    .modal-footer{
      margin-right:15px;
      margin-left:15px;
      .btn{
        border: 1px solid #004a21;
        box-shadow: 0 1px 0 0 #004a21;
      }
      .save-btn{
        background-color: #069a48;
      }
      .close-btn{
        background-color: #3071a9;
        color:white;
        &:hover{
          color:black;
        }
      }
    }
  }
}

div#popupModal div.modal-dialog div.modal-content {
  border-radius: 0px;
}
.modal-content {
  border-radius: 0px;
}
.modal {
  position: fixed;
  top: 20% !important;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0%);
}
div.modal-header {
  padding: 0px;
  background-color: #dfdfdf;
  display: flex;
  align-items: center;
}
div.modal-header div.modalTitleDiv h4 {
  color: black;
  font-size: 16px;
  letter-spacing: 0.2px;
  margin-left: 12px;
  font-weight: lighter;
}
div.modalSquareButton {
  width: 45px;
  margin: 1px;
  background-color: #000000;
  margin-left: auto;
  height: 100%;
  color: white;
}
div.modalSquareButton span {
  vertical-align: middle;
  font-size: 20px;
  line-height: 45px;
  color: white;
}
div.modalSquareButton button {
  width: 43px;
  opacity: 1;
  font-weight: 100;
}
div.modal-header div.modalSquareButton button span {
  font-size: 45px;
}
div.modalSquareButton button img {
  height: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
}

#detailsModal div.modal-footer button {
  margin: auto;
  display: block;
  width: 100%;
  border-radius: 0px;
  background-color: #86bc25;
  box-shadow: 0 2px 0 0 #6fa214;
  border: none;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: white;
  height: 45px;
}
#delegateModal div.modal-footer button {
  margin: auto;
  display: block;
  width: 100%;
  border-radius: 0px;
  background-color: #86bc25;
  box-shadow: 0 2px 0 0 #6fa214;
  border: none;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: white;
  height: 45px;
}
div.lastUpdate, div.milestone {
  width: 50%;
  height: 45px;
  display: flex;
}
div.titleNDate {
  position: relative;
  width: 100%;
}
div.datesDiv {
  div.sideBar {
    background-color: #dfdfdf;
  }
  div.milestone {
    div.sideBar {
      background-color: #e42313;
    }
  }
}
div.dateContent {
  position: absolute;
  bottom: 0;
  height: auto;
  height: 18px;
  display: flex;
  align-items: center;
}
div.dateContent img {
  margin-right: 6px;
}
div.datesDiv {
  margin-top: 10px;
}
div.sideBar {
  background-color: black;
  width: 6px;
  height: 100%;
  margin-right: 10px;
}
div.daysLeftDiv {
  div.sideBar {
    background-color: #dfdfdf;
  }
  div.info {
    flex-grow: 1;
    div.empName {}
    div.fullCompName {
      color: #0a77a9;
    }
  }
}
div.dateContent {
  font-size: 16px;
}
span.nrSpan {
  font-size: 29px;
  font-weight: 600;
}
span.daysLeftSpan {
  font-size: 15px;
  padding-left: 7px;
  font-weight: 600;
}
div.modalDatesDiv {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 30px;
  color: black;
}
div.modalDatesDiv>div {
  height: 45px;
  display: flex;
  align-items: center;
}
div.modal-body {
  padding-left: 0px;
  padding-right: 0px;
  background-color: #f8f8f8;
}
div.modal-body div.btn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  border-top: solid 1px #dfdfdf;
  border-bottom: solid 1px #dfdfdf;
  padding: 0px;
  padding-left: 12px;
  color: black;
  font-weight: 100;
  background-color: white;
}
div.modalDelegate div.modalSquareButton {
  margin-left: 1px;
}
div.modalDelegate div.delegateName {
  margin-left: auto;
  background-color: #dfdfdf;
  line-height: 45px;
  padding-left: 12px;
  padding-right: 18px;
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #53565a;
  font-weight: normal;
  min-width: 25%;
}
div.modalAddComment div.modalSquareButton {
  background-color: #0a77a9;
}
div.modalTitleDiv {
  width: 100%;
}

/*

Delegate Options Modal CSS

*/

#delegateModal div.modalTitleDiv, #commentsModal div.modalTitleDiv {
  text-align: center;
}
#delegateModal .modal-body, #commentsModal .modal-body {
  max-height: calc(50vh);
  overflow-y: auto;
}
#delegateModal .backButton, #commentsModal .backButton {
  margin-left: 1px;
  background-color: #86bc25;
}
button.delegateOption {
  width: 100%;
  height: 50px;
  border-top: solid 1px #dfdfdf;
  display: flex;
  align-items: center;
  background-color: white;
}
div#delegateModal .modal-body {
  padding-top: 0px;
  padding-bottom: 0px;
}
button.delegateOption span {
  padding-left: 18px;
  font-size: 16px;
  font-weight: normal;
  color: black;
}
button.delegateOption img {
  margin-left: auto;
  margin-right: 25px;
  width: 25px;
  height: 25px;
}

/*

Comments Modal

*/

#commentsModal.modal.iOS.writting {
  transform: translate(-50%, 30%);
}
#commentsModal.modal.writting .modal-body {
  max-height: calc(30vh);
  overflow-y: auto;
}
#commentsModal.modal.writting {
  transform: translate(-50%, -10%);
	margin-bottom: -20px;
}
#commentsModal .modal-body {
  margin-top: 37px;
  background-color: white;
}
#commentsModal .modal-footer {
  display: flex;
  padding-bottom: 1px;
}
.commentBaloon {
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 10px;
  padding: 25px;
  padding-left: 24px;
  padding-right: 65px;
  padding-bottom: 14px;
  border-radius: 15px;
  background-color: #f4f4f4;
}
.commentBaloon p {
  color: black;
  font-size: 18px;
}
#commentsModal input {
  width: 100%;
  height: 43px;
  padding-left: 18px;
  border: none;
}
input#mobileInput {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 44px;
  padding-left: 18px;
  z-index: 1041;
  display: none;
}
input#mobileInput.showInput {
  display: block;
}
#commentsModal .modal-footer {
  padding: 0px;
  border: none;
  margin-top: 14px;
  border-top: solid 1px #dfdfdf;
  margin-bottom: 1px;
}
#commentsModal .modal-footer button img {
  height: 24px;
  margin: 7px;
  margin-top: 9px;
}
#commentsModal .modal-footer div.modalSquareButton.inactive {
  background-color: white;
  box-shadow: none;
}
#commentsModal .modal-footer div.modalSquareButton {
  background-color: #0A77A9;
  box-shadow: 0px 2px 0px 0px #08658F;
}

/*

Page CSS

*/

.nextPageButton {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 0;
	padding-bottom: 0;
  font-family: "Open Sans", sans-serif;
  border: none;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  color: #000000;
	background-color: transparent;
}
.nextPageButton:active {
	box-shadow: none;
	background-color: transparent;
	color: #0A77A9;
	.arrow_right {
		display: none;
	}
	.arrow_right_active {
		display: inline;
	}
}
.arrow_right {
  padding-right: 5px;
  padding-bottom: 2px;
}
.arrow_right_active {
	padding-right: 5px;
	padding-bottom: 2px;
	display: none;
}
.backPageButton {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 120px;
	font-family: "Open Sans", sans-serif;
	border: none;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.1px;
	color: #000000;
	background-color: transparent;
}
.backPageButton:active {
	box-shadow: none;
	background-color: transparent;
	color: #0A77A9;
	.arrow_left {
		display: none;
	}
	.arrow_left_active {
		display: inline;
	}
}
.arrow_left {
  padding-right: 5px;
  padding-bottom: 2px;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.arrow_left_active {
	padding-right: 5px;
	padding-bottom: 2px;
	display: none;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
div.optionsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
div#resquestsDiv {
  border: none;
  background: none;
}
div.noContentDiv {
  text-align: center;
  font-size: 20px;
	background-color: #ffffff;
	padding-bottom: 50px;
	margin-left: 0;
	margin-right: 0;
  img.noContent {
  	height: 100px;
  	padding: 20px;
	}
}

.requests {
  border: none;
  border-color: #dfdfdf;
  border-width: thin;
  width: 100%;
  padding-bottom: 53px;
}
div.extraOptionsMobileCol div.extraOptionsMobile {
  float: right;
  margin-right: 0px;
  padding-top: 5px;
}
@media #{$small-width} {
  /*
  div.competencyRow{

    &.hideMobile{
      display:none;
    }

    div.checkboxContainer{
      width:45px;
      display: flex;
      align-items: center;
      padding-left:12px;
    }
    div.mobileMainCell{
      padding-left:0px;
      padding-right:0px;
      flex-grow:1;
      .employeeWrapper{
        padding-top:10px;
        padding-left:5px;
        padding-right:15px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
      }
      .mobileCellBottom{
        form{
          padding-left:0px;
          ul{
            display:flex;
            justify-content: space-between;
            li label{
              font-size:14px;
              width: 40px;
              .check{
                height:18px;
                width:18px;
              }
            }
          }
        }
      }
    }
   div.option-img{
      width:26px;
      background-color:#dfdfdf;
      margin-right:0px;
      margin-left:0px;
    }
  }
*/
  div.pieTablet {
    display:none;
  }
  div.competencyRow {
    background-color: white;
    margin-left: -15px;
    margin-right: -2px;
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #dfdfdf;
    width: calc(100% + 30px);



    &.hideMobile {
      display: none;
    }
    .checkboxContainer {
      width: 45px;
      display: flex;
      align-items: center;
      padding-left: 12px;
    }
    .mobileMainCell {
      height: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .employeeWrapper {
        margin-top: 5px;
        flex-grow: 1;
        padding-left: 5px;
        padding-right: 15px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .right span {
          font-size: 9px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.1px;
          color: #0a77a9;
        }
        .left {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .employeeName {
            font-size: 14px;
            letter-spacing: 0.2px;
            color: #000000;
          }
          .employeeTitle {
            font-size: 9px;
            font-weight: 600;
            letter-spacing: 0.1px;
            color: #53565a;
          }
        }
      }
      .mobileCellBottom {
        flex-grow: 1;
        form {
          padding-left: 0px;
          ul {
            display: flex;
            justify-content: space-between;
            margin-top: 0px;
            li label {
              font-size: 14px;
              width: 40px;
              .check {
                height: 18px;
                width: 18px;
              }
            }
          }
        }
      }
    }
    .urgentFont {
      color: red;
    }
    .option-img {
      width: 23px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: #dfdfdf;
    }
  }
  div.extraOptionsMobileCol {
    padding-right: 0px;
  }
  div.mobileTitle {
    margin-top: 10px
  }
  .row div.fullHeightCol {
    height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .row div.centeredCol {
    height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  div.row.centeredRow {
    display: block;
  }
  div.hideMobile {
    display: none;
  }
  .centerHorizontally {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  form.centerUlContentHorizontallyMobile ul {
    display: table;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
  }
  form.centerUlContentHorizontallyMobile ul li {
    display: table-cell;
    width: 15%;
  }
  div.centerUlContentHorizontallyMobile {
    display: table;
    margin: 0;
    width: 100%;
    padding: 0;
  }
  div.competencyTitle div.competencyRow {
    margin-left: -30px;
    margin-right: -10px;
    width: auto;
  }
}
@media #{$medium-width} {
  div.hideInMediumWidth {
    display: none;
  }
  div.pieTablet {
    padding-left: 9px;
    position: fixed;
    z-index: 99999;
    background-color: black;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
    div.sideButton {
    position: fixed;
    z-index: 99999;
    background-color: black;
    width: 35px;
    overflow-y: scroll;
    height: 35px;
    text-align:center;
 		img {
     vertical-align:-webkit-baseline-middle;
    }
  }
}
@media #{$large-width} {
  .hideInLargeWidth {
    display: none;
  }
  div.pieTablet {
    display:none;
  }
}
@media #{$non-small-width} {
  div.competencyRow, div.headerDiv {
    align-items: center;

    .checkboxNName{
      width:25%;
      padding-left:15px;
    }
    .optionsForm{
      width:35%;
    }
    .updated{
      width:12%;
    }
    .daysLeft{
      width:12%;
    }
    .optionsDiv{
      width: 16%;
      padding-right: 5px;
    }



    div.option-img {
      margin-right: 5px;
      margin-left: 5px;
    }
    div.mobileTitle {
      display: inline-flex;
      vertical-align: top;
      div.option-img.extraOptionsMobile.hideNonMobile {
        display: none;
      }
    }
  }
  .hideNonMobile {
    display: none;
  }
}
@media #{$non-small-width} {
  div.competencyRow.hideNonMobile {
    display: none;
  }
}
#orientationWarning {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#emptyApprovalsDiv {
  height: 200px;
  img {
    height: 100%;
  }
}
.macro-title-label {
  //font-size: 8px;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  position: relative;
  top: 35%;
  letter-spacing: 0.2px;
}
.title-label {
  text-align: left;
  &.shareCol {
    display: inline-block;
  }
}
.title-label span {
  line-height: 30px;
  top: 0%;
}
.macro-title-div {
  margin-top: 10px;
  position: inherit;
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 1px;
  margin-right: 1px;
  .title {
    height: 100%;
    display: flex;
  }
  &.showDivBack {
    background: #0A77A9 !important;
    margin-left: 1px !important;
    margin-right: 1px !important;
    // margin-left: 9px !important;
    .macro-title-label {
      color: white;
    }
  }
}
.competencyTitle {
  margin-right: -4px;
  color: black;
  .competencyRow {
    display: flex;
    &.hideNonMobile {}
    div.option-img {
      width: 25px;
      min-width: 25px;
      display: flex;
      justify-content: center;
    }
    height: 90px;
    //display: flex;
    //align-items: center;
    background-color: white;
    border: 1px solid rgba(233, 233, 233, 1);
    margin-right:0px;
    &:hover .delegaOption, &:hover .commentOption {
      display: inline-block;
    }
  }
  .employeeWrapper {
    display: flex;
    flex-direction: column;
    .employeeName {
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.2px;
      color: #000000;
      font-family: "Open Sans", sans-serif;
    }
    .employeeTitle {
      font-size: 10px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.1px;
      color: #000000;
      font-family: "Open Sans", sans-serif;
    }
    .competencyLabel {
      font-size: 10px;
    }
  }
  .optionsWrapper {
    text-align: right;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .delegateButton {
      display: inline-block;
      height: 43px;
      margin-right: 10px;
      margin-top: 3px;
    }
    .commentsButton {
      height: 43px;
      margin-top: 3px;
      margin-right: 10px;
      padding-left: 5px;
      display: inline-block;
    }
    .submitButton {
      height: 43px;
      margin-top: 3px;
      margin-right: 10px;
      padding-left: 5px;
      display: inline-block;
    }
  }
  .submitOption {
    width: 25px;
    min-width: 25px;
    height: 25px;
    background: #86BE40;
    border-radius: 4px;
    display: flex;
    align-items: center;
    &:hover {
      background: #86BE40;
      box-shadow: 0px 2px 0px 0px #106B38;
      border-radius: 4px;
    }
    &:active {
      background: #86BE40;
      box-shadow: inset 0px 2px 0px 0px #106B38;
      border-radius: 4px;
    }
  }
  .delegateButton, .commentsButton {
    display: none;
  }
  .commentsButton {
    &.show {
      display: inline-block !important;
    }
  }
}
.delegate {
  margin-left: -3px;
  height: 34px;
  pointer-events: none;
  .delegateOFF {
    display: inline-block;
  }
  .delegateON {
    display: none;
  }
  &.showDelegad {
    pointer-events: auto;
    background-color: #0a77a9;
    .delegateON {
      display: inline-block;
    }
    .delegateOFF {
      display: none;
    }
  }
}
form {
  padding-left: 8px;
  padding-right: 0px;
}
#proficiencyHeader {
  padding-left: 0px;
}
.centeredHeader {
  text-align: center;
}
.competency-class {
  ul {
    margin-left: -52px;
  }
  ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    margin-right: 5px;
    height: 100%;
  }
  ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
  }
  ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    width: 50px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all .25s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    .value {
      margin-left: 5px;
      color: black;
      font-weight: bolder;
    }
  }
  ul li label .check {
    display: inline-block;
    border: 1px solid #AAAAAA;
    background-color: rgba(239, 239, 239, 1);
    border-radius: 100%;
    height: 18px;
    width: 18px;
    top: 30px;
    left: 20px;
    z-index: 5;
    &.proposedValue {
      border: solid 2px #0a77a9;
    }
    &.currentValue {
      background-image: linear-gradient(196deg, #d8e0e4, #b0bec5);
      border: none;
    }
  }
  input[type=radio]:checked~label .check {
    background-image: linear-gradient(166deg, #049ec4, #0979ab);
  }
  input[type=radio]:checked~label {
    color: red;
  }
}
.submit {
  height: 17px;
  padding-left: 2px;
}
.delegatedate {
  height: 60px;
  padding-top: 13px;
}
.dueDate {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  color: #53565a;
  padding-top: 9px;
  margin-left: -2px;
  font-family: "Open Sans", sans-serif;
}
.delegateOptionsBar {
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
}
.date {
  text-align: center;
  font-size: 100%;
  color: #53565a;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.2px;
  text-align: center;
}
.checkbox {
  display: inline-flex;
  vertical-align: middle;
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"] {
  opacity: 0;
}
.checkbox input[type="checkbox"]:focus+label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked+label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled+label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled+label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}
.checkbox-primary input[type="checkbox"]:checked+label::before {
  background-color: white;
  border-color: black;
}
.checkbox-primary input[type="checkbox"]:checked+label::after {
  color: black;
}
.masterCheckboxContainer input[type="checkbox"]:checked+label::after {
  margin-top: -7px;
}
//# sourceURL=approvalsWorkspace.scss
