<div class="main">

  <div class="sideButton hide-mobile hideInLargeWidth" onclick="toggleSearchBar()"><img src="arrow_left.svg" /></div>
  <div class="sideTablet hide-mobile hideInLargeWidth"></div>

  <div class="requests">

    <!-- NEW COMPETENCIES HEADER -->
    <div class="macro-title-div" ng-if="calcNewCompetencies()">
      <div class="main-title title">
        <span><img src="new icon.svg"/></span>
        <span class="macro-title">NEW</span>
        <span class="macro-title-space"></span>
        <span class="macro-title-sub"> COMPETENCIES</span>
      </div>
      <div class="title-label-radio hide-mobile">
        <span class="macro-title-label">PROFICIENCY LEVEL</span>
      </div>
      <div class="title-label-date hide-mobile">
        <span class="macro-title-label">LAST UPDATE</span>
      </div>
    </div>

    <!-- <div class="row noContentDiv" ng-if="data.newCompetencies.length === 0 && !((data.hasCompetency && noFilter) || (data.competencies[macroIndex].hasCompetency && !noFilter)) && !((data.hasPending && noFilter) || (data.competencies[macroIndex].hasPending && !noFilter))">
      <img class="center-block noContent" src="approvalsNoContent.svg" /> {{isMobile() ? 'Please add competencies.' : 'Please add competencies for this category.' }}
    </div> -->

    <!-- NEW COMPETENCIES BODY -->
    <div ng-repeat="comp in data.newCompetencies" class="glowable" id="{{'comp_'+comp.sys_id}}">
      <div class="border-competencie hide-mobile">
        <div class="new-competency-tab"></div>
        <div class="competencyblock" ng-class='applyCssToTitles()' for="basic-url">
          <div class="competencyAlign">
            <span class="competency-title">{{comp.name | limitTo:titleCharLimit}}{{comp.name.length > titleCharLimit ? "..." : ""}}</span>
            <span class="sub-title-compentency">
                {{comp.macro + (comp.cat?" > "+comp.cat:"") + (comp.sub?" > "+comp.sub:"")}}
              </span>
          </div>
        </div>
        <form class="competency-class" action="">
          <ul>
            <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][comp.macro][0]}}">
              <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '0'}}" name="selector" ng-model="comp.value" value="0">
              <label for="{{comp.sys_id + '0'}}"><span class="check"></span><span class="value">0</span></label>
            </li>
            <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][comp.macro][1]}}">
              <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '1'}}" name="selector" ng-model="comp.value" value="1">
              <label  for="{{comp.sys_id + '1'}}"><span class="check"></span><span class="value">1</span></label>
            </li>
            <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][comp.macro][2]}}">
              <input  ng-click="changedSomething()"  type="radio" id="{{comp.sys_id + '2'}}" name="selector" ng-model="comp.value" value="2">
              <label for="{{comp.sys_id + '2'}}"><span class="check"></span><span class="value">2</span></label>
            </li>
            <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][comp.macro][3]}}">
              <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '3'}}" name="selector" ng-model="comp.value" value="3">
              <label  for="{{comp.sys_id + '3'}}"><span class="check"></span><span class="value">3</span></label>
            </li>
            <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][comp.macro][4]}}">
              <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '4'}}" name="selector" ng-model="comp.value" value="4">
              <label  for="{{comp.sys_id + '4'}}"><span class="check"></span><span class="value">4</span></label>
            </li>
            <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][comp.macro][5]}}">
              <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '5'}}" name="selector" ng-model="comp.value" value="5">
              <label for="{{comp.sys_id + '5'}}"><span class="check"></span><span class="value">5</span></label>
            </li>
          </ul>
        </form>
        <div class="date" ng-bind="{{formatDate(comp.updated)}} | date:'dd-MM-yyyy'"></div>
      </div>
      <div class="border-competencie border-competency-mobile">
        <div class="new-competency-tab"></div>
        <div class="infoWrapper">
          <div class="nameWrapper">
            <span class="competency-title">{{comp.name | limitTo:titleCharLimit}}{{comp.name.length > titleCharLimit ? "..." : ""}}</span>
            <span class="sub-title-compentency"> {{comp.macro + (comp.cat?" > "+comp.cat:"") + (comp.sub?" > "+comp.sub:"")}}</span>
          </div>
        </div>
        <div>
          <form class="competency-class" action="">
            <ul>
              <li>
                <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '0'}}" name="selector" ng-model="comp.value" value="0">
                <label for="{{comp.sys_id + '0'}}"><span class="check"></span><span class="value">0</span></label>
              </li>
              <li>
                <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '1'}}" name="selector" ng-model="comp.value" value="1">
                <label for="{{comp.sys_id + '1'}}"><span class="check"></span><span class="value">1</span></label>
              </li>
              <li>
                <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '2'}}" name="selector" ng-model="comp.value" value="2">
                <label for="{{comp.sys_id + '2'}}"><span class="check"></span><span class="value">2</span></label>
              </li>
              <li>
                <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '3'}}" name="selector" ng-model="comp.value" value="3">
                <label for="{{comp.sys_id + '3'}}"><span class="check"></span><span class="value">3</span></label>
              </li>
              <li>
                <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '4'}}" name="selector" ng-model="comp.value" value="4">
                <label for="{{comp.sys_id + '4'}}"><span class="check"></span><span class="value">4</span></label>
              </li>
              <li>
                <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '5'}}" name="selector" ng-model="comp.value" value="5">
                <label for="{{comp.sys_id + '5'}}"><span class="check"></span><span class="value">5</span></label>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>

	<div class="pendingCompsContainer">
    <!-- PENDING APPROVALS HEADER -->
    <div class="macro-title-div" ng-if="(data.hasPending && noFilter) || (data.competencies[macroIndex].hasPending && !noFilter)">
      <div class="main-title title">
        <span><img src="icon pending.svg"/></span>
        <span class="macro-title">PENDING</span>
        <span class="macro-title-space"></span>
        <span class="macro-title-sub"> APPROVAL</span>
      </div>
      <div class="title-label-radio hide-mobile">
        <span class="macro-title-label">PROFICIENCY LEVEL</span>
      </div>
      <div class="title-label-date hide-mobile">
        <span class="macro-title-label">LAST UPDATE</span>
      </div>
    </div>

    <!-- PENDING APPROVALS BODY -->
    <div ng-repeat="comp in myCompsToShowForState('requested',false)" id="{{'comp_'+comp.sys_id}}" class="glowable">
      <div class="border-competencie hide-mobile">
        <div class="pending-competency-tab"></div>
        <div class="competencyblock" ng-class='applyCssToTitles()' for="basic-url">
          <div class="competencyAlign">
            <span class="pending-competency-title">{{comp.name | limitTo:titleCharLimit}}{{comp.name.length > titleCharLimit ? "..." : ""}}</span>
            <span class="pending-sub-title-compentency">{{comp.prettyName | limitTo:subtitleCharLimit}}{{comp.prettyName.length > subtitleCharLimit ? "..." : ""}}</span>
          </div>
        </div>
        <form class="competency-class" action="">
          <ul>
            <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][comp.macroName][0]}}">
              <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '0'}}" name="selector" value="0" disabled="disabled">
              <label for="{{comp.sys_id + '0'}}"><span ng-class="{'currentValue' : comp.approvedValue === '0', 'approvedValue' : comp.value === '0'}" class="check"></span><span class="value">0</span></label>
            </li>
            <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][comp.macroName][1]}}">
              <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '1'}}" name="selector" value="1" disabled="disabled">
              <label for="{{comp.sys_id + '1'}}"><span ng-class="{'currentValue' : comp.approvedValue === '1', 'approvedValue' : comp.value === '1'}" class="check"></span><span class="value">1</span></label>
            </li>
            <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][comp.macroName][2]}}">
              <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '2'}}" name="selector" value="2" disabled="disabled">
              <label for="{{comp.sys_id + '2'}}"><span ng-class="{'currentValue' : comp.approvedValue === '2', 'approvedValue' : comp.value === '2'}" class="check"></span><span class="value">2</span></label>
            </li>
            <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][comp.macroName][3]}}">
              <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '3'}}" name="selector" value="3" disabled="disabled">
              <label for="{{comp.sys_id + '3'}}"><span ng-class="{'currentValue' : comp.approvedValue === '3', 'approvedValue' : comp.value === '3'}" class="check"></span><span class="value">3</span></label>
            </li>
            <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][comp.macroName][4]}}">
              <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '4'}}" name="selector" value="4" disabled="disabled">
              <label for="{{comp.sys_id + '4'}}"><span ng-class="{'currentValue' : comp.approvedValue === '4', 'approvedValue' : comp.value === '4'}" class="check"></span><span class="value">4</span></label>
            </li>
            <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][comp.macroName][5]}}">
              <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '5'}}" name="selector" value="5" disabled="disabled">
              <label for="{{comp.sys_id + '5'}}"><span ng-class="{'currentValue' : comp.approvedValue === '5', 'approvedValue' : comp.value === '5'}" class="check"></span><span class="value">5</span></label>
            </li>
          </ul>
        </form>
        <div class="date" ng-bind="{{formatDate(comp.updated)}} | date:'dd-MM-yyyy'"></div>
      </div>
      <div class="border-competencie border-competency-mobile">
        <div class="pending-competency-tab"></div>
        <div class="infoWrapper">
          <div class="nameWrapper">
            <span class="pending-competency-title">{{comp.name | limitTo:titleCharLimit}}{{comp.name.length > titleCharLimit ? "..." : ""}}</span>
            <span class="pending-sub-title-compentency">{{comp.prettyName | limitTo:subtitleCharLimit}}{{comp.prettyName.length > subtitleCharLimit ? "..." : ""}}</span>
          </div>
        </div>
        <div>
          <form class="competency-class" action="">
            <ul>
              <li>
                <input type="radio" id="{{comp.sys_id + '0'}}" name="selector" ng-model="comp.value" value="0">
                <label for="{{comp.sys_id + '0'}}"><span ng-class="{'currentValue' : comp.approvedValue === '0', 'approvedValue' : comp.value === '0'}" class="check"></span><span class="value">0</span></label>
              </li>
              <li>
                <input type="radio" id="{{comp.sys_id + '1'}}" name="selector" ng-model="comp.value" value="1">
                <label for="{{comp.sys_id + '1'}}"><span ng-class="{'currentValue' : comp.approvedValue === '1', 'approvedValue' : comp.value === '1'}" class="check"></span><span class="value">1</span></label>
              </li>
              <li>
                <input type="radio" id="{{comp.sys_id + '2'}}" name="selector" ng-model="comp.value" value="2">
                <label for="{{comp.sys_id + '2'}}"><span ng-class="{'currentValue' : comp.approvedValue === '2', 'approvedValue' : comp.value === '2'}" class="check"></span><span class="value">2</span></label>
              </li>
              <li>
                <input type="radio" id="{{comp.sys_id + '3'}}" name="selector" ng-model="comp.value" value="3">
                <label for="{{comp.sys_id + '3'}}"><span ng-class="{'currentValue' : comp.approvedValue === '3', 'approvedValue' : comp.value === '3'}" class="check"></span><span class="value">3</span></label>
              </li>
              <li>
                <input type="radio" id="{{comp.sys_id + '4'}}" name="selector" ng-model="comp.value" value="4">
                <label for="{{comp.sys_id + '4'}}"><span ng-class="{'currentValue' : comp.approvedValue === '4', 'approvedValue' : comp.value === '4'}" class="check"></span><span class="value">4</span></label>
              </li>
              <li>
                <input type="radio" id="{{comp.sys_id + '5'}}" name="selector" ng-model="comp.value" value="5">
                <label for="{{comp.sys_id + '5'}}"><span ng-class="{'currentValue' : comp.approvedValue === '5', 'approvedValue' : comp.value === '5'}" class="check"></span><span class="value">5</span></label>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>
	</div>

    <div class="myCompsContainer" ng-if="(data.hasCompetency && noFilter) || (data.competencies[macroIndex].hasCompetency && !noFilter) || (!data.hasCompetency || !data.competencies[macroIndex].hasCompetency)">
      <!-- MY COMPETENCIES HEADER > -->
      <div class="macro-approvals-div hide-mobile">
        <div class="main-title title ">
          <span class="macro-approvals">MY</span>
          <span class="macro-title-space">  </span>
          <span class="macro-approvals-sub"> COMPETENCIES</span>
        </div>
        <div class="title-label-radio" ng-if="(data.hasCompetency && noFilter) || (data.competencies[macroIndex].hasCompetency && !noFilter)">
          <span class="macro-title-label">PROFICIENCY LEVEL</span>
        </div>
        <div class="title-label-date" ng-if="(data.hasCompetency && noFilter) || (data.competencies[macroIndex].hasCompetency && !noFilter)">
          <span class="macro-title-label">LAST UPDATE</span>
        </div>
      </div>
      <div class="macro-title-div hideInLargeWidth">
        <div class="main-title title">
          <span><img src="my_comps.svg"/></span>
          <span class="macro-title">MY</span>
          <span class="macro-title-space"></span>
          <span class="macro-title-sub"> COMPETENCIES</span>
        </div>
      </div>
      <!-- MY COMPETENCIES BODY -->
      <div ng-repeat="comp in myCompsToShowForState('approved',true)" id="{{'comp_'+comp.sys_id}}" class="glowable">
        <div class="border-competencie hide-mobile">
          <div class="my-competency-tab"></div>
          <div class="competencyblock" ng-class='applyCssToTitles()' for="basic-url">
            <div class="competencyAlign">
              <span class="competency-title">{{comp.name | limitTo:titleCharLimit}}{{comp.name.length > titleCharLimit ? "..." : ""}}</span>
              <span class="sub-title-compentency">{{comp.prettyName | limitTo:subtitleCharLimit}}{{comp.prettyName.length > subtitleCharLimit ? "..." : ""}}</span>
            </div>
          </div>
          <form class="competency-class" action="">
            <ul>
              <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][comp.macroName][0]}}">
                <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '0'}}" name="selector" ng-model="comp.value" value="0">
                <label for="{{comp.sys_id + '0'}}"><span ng-class="{'currentValue' : comp.approvedValue === '0'}" class="check"></span><span class="value">0</span></label>
              </li>
              <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][comp.macroName][1]}}">
                <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '1'}}" name="selector" ng-model="comp.value" value="1">
                <label for="{{comp.sys_id + '1'}}"><span ng-class="{'currentValue' : comp.approvedValue === '1'}" class="check"></span><span class="value">1</span></label>
              </li>
              <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][comp.macroName][2]}}">
                <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '2'}}" name="selector" ng-model="comp.value" value="2">
                <label  for="{{comp.sys_id + '2'}}"><span ng-class="{'currentValue' : comp.approvedValue === '2'}" class="check"></span><span class="value">2</span></label>
              </li>
              <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][comp.macroName][3]}}">
                <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '3'}}" name="selector" ng-model="comp.value" value="3">
                <label for="{{comp.sys_id + '3'}}"><span ng-class="{'currentValue' : comp.approvedValue === '3'}" class="check"></span><span class="value">3</span></label>
              </li>
              <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][comp.macroName][4]}}">
                <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '4'}}" name="selector" ng-model="comp.value" value="4">
                <label for="{{comp.sys_id + '4'}}"><span ng-class="{'currentValue' : comp.approvedValue === '4'}" class="check"></span><span class="value">4</span></label>
              </li>
              <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][comp.macroName][5]}}">
                <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '5'}}" name="selector" ng-model="comp.value" value="5">
                <label for="{{comp.sys_id + '5'}}"><span ng-class="{'currentValue' : comp.approvedValue === '5'}" class="check"></span><span class="value">5</span></label>
              </li>
            </ul>
          </form>
          <div class="date" ng-bind="{{formatDate(comp.updated)}} | date:'dd-MM-yyyy'"></div>
        </div>
        <div class="border-competencie border-competency-mobile">
          <div class="new-competency-tab"></div>
          <div class="infoWrapper">
            <div class="nameWrapper">
              <span class="competency-title">{{comp.name | limitTo:titleCharLimit}}{{comp.name.length > titleCharLimit ? "..." : ""}}</span>
              <span class="sub-title-compentency">{{comp.prettyName | limitTo:subtitleCharLimit}}{{comp.prettyName.length > subtitleCharLimit ? "..." : ""}}</span>
            </div>
          </div>
          <div>
            <form class="competency-class" action="">
              <ul>
                <li>
                  <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '0'}}" name="selector" ng-model="comp.value" value="0">
                  <label for="{{comp.sys_id + '0'}}"><span ng-class="{'currentValue' : comp.approvedValue === '0'}" class="check"></span><span class="value">0</span></label>
                </li>
                <li>
                  <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '1'}}" name="selector" ng-model="comp.value" value="1">
                  <label for="{{comp.sys_id + '1'}}"><span ng-class="{'currentValue' : comp.approvedValue === '1'}" class="check"></span><span class="value">1</span></label>
                </li>
                <li>
                  <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '2'}}" name="selector" ng-model="comp.value" value="2">
                  <label for="{{comp.sys_id + '2'}}"><span ng-class="{'currentValue' : comp.approvedValue === '2'}" class="check"></span><span class="value">2</span></label>
                </li>
                <li>
                  <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '3'}}" name="selector" ng-model="comp.value" value="3">
                  <label for="{{comp.sys_id + '3'}}"><span ng-class="{'currentValue' : comp.approvedValue === '3'}" class="check"></span><span class="value">3</span></label>
                </li>
                <li>
                  <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '4'}}" name="selector" ng-model="comp.value" value="4">
                  <label for="{{comp.sys_id + '4'}}"><span ng-class="{'currentValue' : comp.approvedValue === '4'}" class="check"></span><span class="value">4</span></label>
                </li>
                <li>
                  <input ng-click="changedSomething()" type="radio" id="{{comp.sys_id + '5'}}" name="selector" ng-model="comp.value" value="5">
                  <label for="{{comp.sys_id + '5'}}"><span ng-class="{'currentValue' : comp.approvedValue === '5'}" class="check"></span><span class="value">5</span></label>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </div>

      <div class="paginationContainer" ng-if="isMobile() && nrMyCompPages > 1">
        <ul class="pagination paginationUL">
          <li ng-class="{disabled:(curPage == 0)}">
            <a href="#" ng-click="decreasePage()" class="glyphicon glyphicon-chevron-left"></a>
          </li>

          <li ng-class="{active:p.active()}" ng-repeat="p in myCompsPagesArray()">
            <a href="#" ng-click="paginationButtonClicked(p)">{{p.index + 1}}</a>
          </li>

          <li ng-class="{disabled:(curPage == nrMyCompPages - 1)}">
            <a href="#" ng-click="increasePage()"  class="glyphicon glyphicon-chevron-right"></a>
          </li>
        </ul>
      </div>

    </div>

		<div class="row noContentDiv" ng-if="data.newCompetencies.length === 0 && !((data.hasCompetency && noFilter) || (data.competencies[macroIndex].hasCompetency && !noFilter)) && !((data.hasPending && noFilter) || (data.competencies[macroIndex].hasPending && !noFilter))">
			<img class="center-block noContent" src="approvalsNoContent.svg" /> {{isMobile() ? 'Please add competencies.' : 'Please add competencies for this category.' }}
		</div>

		<div class="footer_caption">
			<div class="caption_buttons">
				<span class="caption_competency">
					<img src="old_competency.svg"> Current level
				</span>
				<span class="caption_competency">
					<img src="request_competency.svg"> Proposed level
				</span>
				<span class="caption_competency">
					<img src="new_competency.svg"> Final level
				</span>
			</div>
		</div>

	</div>

  <div class="searchMobile">
    <div class="searchWrapper">
      <ul class="sideUl" ng-repeat="macro in data.competencies" ng-click="openMacro(macro.name)">
        <div ng-class="{ macroOpen: macro.name === openMacroName}" class='macroTag'>
          <span ng-if="macro.name != openMacroName" class="chivron"><img  class="chivron-img" src="arrow.svg"/></span>
          <span ng-if="macro.name === openMacroName" class="chivron"><img  class="chivron-img" src="white%20arrow.svg"/></span> {{macro.name}}
        </div>

        <ul ng-class="{ showMe : macro.name === openMacroName }" class="collapsable sideUl hierarchy-top " ng-repeat="cat in macro.cats" ng-click="$event.stopPropagation() ; openCat(cat.name)" ng-if="macro.numOfHierarchies === 3">
          <div ng-class="{ catOpen : cat.name === openCatName }" class='catTag'>
            <span ng-if="cat.name != openCatName" class="chivron"><img  class="chivron-img" src="arrow.svg"/></span>
            <span ng-if="cat.name === openCatName" class="chivron"><img  class="chivron-img" src="white%20arrow.svg"/></span> {{cat.name}}
          </div>
          <ul ng-class="{ showMe : cat.name === openCatName , subCatOpen:  cat.name === openCatName}" ng-repeat="sub in cat.subs track by $index" ng-click="$event.stopPropagation() ; openSubCat(sub.name)" class="sideUl collapsable">
            <div class='catSubTag' ng-class="{ subCatOpen : sub.name === openSubCatName}">
              <span ng-if="sub.name != openSubCatName" class="chivron"><img src="arrow_direita.svg" class="chivron-img"/></span>
              <span ng-if="sub.name === openSubCatName" class="chivron"><img src="arrow_blue.svg"/></span> {{sub.name}}
            </div>
            <ul ng-class="{ showMe : sub.name === openSubCatName, addPossible : comp.approvalState === 'na'}" ng-repeat="comp in sub.comps" ng-click="$event.stopPropagation() ; sendCompetencyMobile([comp.approvalState, comp.value, comp.sys_id, comp.updated, comp.compIndex, comp.name, sub.name, cat.name])"
              class="compsUl collapsable">
              <div class="compTextWrapprer">
                <div class="compTextBox" ng-if="comp.approvalState =='na'"><img src="box_unchecked.svg" /></div>
                <div class="compTextBox" ng-if="comp.approvalState == 'requested' || comp.approvalState == 'approved'"><img src="box check.svg" /></div>
                <div class="compTextBox" ng-if="comp.approvalState =='new' || comp.approvalState =='added'"><img src="box_add.svg" /></div>
                <span class="compText" ng-class="{blue: comp.approvalState == 'new' || comp.approvalState == 'added', grey: comp.approvalState == 'requested' || comp.approvalState == 'approved', 'black': comp.approvalState == 'na' }">
                {{comp.name}}
              </span>
              </div>
          </ul>
        </ul>
      </ul>

      <ul ng-class="{ showMe : macro.name === openMacroName }" class="sideUl hierarchy-top collapsable" ng-repeat="sub in macro.subs" ng-click="$event.stopPropagation() ; openSubCat(sub.name)" ng-if="macro.numOfHierarchies === 2">
        <div class='catSubTag' ng-class="{ subCatOpen: sub.name === openSubCatName}">
          <span ng-if="sub.name != openSubCatName" class="chivron"><img src="arrow_direita.svg" class="chivron-img"/></span>
          <span ng-if="sub.name === openSubCatName" class="chivron"><img src="arrow_blue.svg"/></span> {{sub.name}}
        </div>
        <ul ng-class="{showMe : sub.name === openSubCatName, addPossible : comp.approvalState === 'na'}" ng-repeat="comp in sub.comps" ng-click="$event.stopPropagation() ; sendCompetencyMobile([comp.approvalState, comp.value, comp.sys_id, comp.updated, comp.compIndex, comp.name, sub.name])"
          class="compsUl collapsable">
          <div class="compTextWrapprer">
            <div class="compTextBox" ng-if="comp.approvalState =='na'"><img src="box_unchecked.svg" /></div>
            <div class="compTextBox" ng-if="comp.approvalState == 'requested' || comp.approvalState == 'approved'"><img src="box check.svg" /></div>
            <div class="compTextBox" ng-if="comp.approvalState =='new' || comp.approvalState =='added'"><img src="box_add.svg" /></div>
            <span class="compText" ng-class="{blue: comp.approvalState == 'new' || comp.approvalState == 'added', grey: comp.approvalState == 'requested' || comp.approvalState == 'approved', 'black': comp.approvalState == 'na' }">
              {{comp.name}}
            </span>
          </div>
      </ul>
      </ul>

      <ul ng-class="{ showMe : macro.name === openMacroName , addPossible : comp.approvalState === 'na' }" ng-repeat="comp in macro.comps" ng-click="$event.stopPropagation() ; sendCompetencyMobile([comp.approvalState, comp.value, comp.sys_id, comp.updated, comp.compIndex, comp.name])"
        class="compsUl collapsable hierarchy-top" ng-if="macro.numOfHierarchies === 1">
        <div class="compTextWrapprer">
          <div class="compTextBox" ng-if="comp.approvalState =='na'"><img src="box_unchecked.svg" /></div>
          <div class="compTextBox" ng-if="comp.approvalState == 'requested' || comp.approvalState == 'approved'"><img src="box check.svg" /></div>
          <div class="compTextBox" ng-if="comp.approvalState =='new' || comp.approvalState =='added'"><img src="box_add.svg" /></div>
          <span class="compText" ng-class="{blue: comp.approvalState == 'new' || comp.approvalState == 'added', grey: comp.approvalState == 'requested' || comp.approvalState == 'approved', 'black': comp.approvalState == 'na' }">
            {{comp.name}}
          </span>
        </div>
        </ul>
        </ul>
    </div>
  </div>
</div>

<script>
  var showSearchBar = false;

  function toggleSearchBar() {
    console.log($(".navbar").css('height'))
    console.log($(".bottomBar").css('height'))

    if (!showSearchBar) {
      showSearchBarMobile();
    } else {
      hideSearchBarMobile();
    }
    showSearchBar = !showSearchBar;
  }

  $(".sideButton").css({
    top: $(".navbar").css('height'),
    left: $(window).width() - 44
  })

  $(".sideTablet").css({
    left: $(window).width() - 9,
    height: $(window).height() - 45 - 47,
    top: $(".navbar").css('height')
  })

  $(".searchMobile").css({
    left: $(window).width(),
    top: $(".navbar").css('height'),
    height: $(window).height() - 111 //111 = bottom height + header height
  })

  function showSearchBarMobile() {
    $(".searchMobile").animate({
      "left": $(window).width() - 300
    });
    $(".sideButton").animate({
      "left": $(window).width() - 335
    });
  }

  function hideSearchBarMobile() {
    $(".searchMobile").animate({
      "left": $(window).width()
    });
    $(".sideButton").animate({
      "left": $(window).width() - 44
    });
  }
</script>
