$mobile-portrait: "(min-width: 321px) and (max-width: 1023px)";
$medium-width: "(min-width: 751px) and (max-width: 1024px)";
$non-small-width: "(min-width: 751px)";
$desktop: "(min-width: 1025px)";




.glowable{
  &.glow.unglow{
    box-shadow: 0 0 0px transparent;
    transition: box-shadow 0.5s ease-in-out;
  }
  &.glow{
    box-shadow: 0 0 5px #0a77a9;
    transition: box-shadow 0.5s ease-in-out;
    position: relative;
  }

}

.paginationContainer{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  ul.pagination{
    li{
      &:not(.active):not(.disabled){
        a:hover{
          background-color: white;
          color: #0a77a9;
        }
      }
      &.active{
        a{
          background-color: #0a77a9;
          color: white;
          border-color: #0a77a9;
        }
      }
      a{
        &.glyphicon{
          top:0px;
        }
      }

    }
  }
}

.footer_caption {
  z-index: 1000;
  width: calc(75% - 30px);
  display: flex;
  justify-content: space-between;
  bottom: 0;
  position: fixed;
  background-color: #ededed;
  @media #{$medium-width} {
    margin-bottom: 51px;
    width: 100%;
  }
  @media #{$mobile-portrait}{
    display: none;
  }
}
.caption_buttons {
  margin-top: 15px;
  margin-bottom: 15px;
}
.caption_competency {
  padding-right: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #000000;
  img {
    padding-right: 7px;
    vertical-align: top;
  }
}
div.noContentDiv {
  text-align: center;
  font-size: 20px;
	padding-bottom: 120px;
	background-color: #ffffff;
	margin-left: 0px;
	margin-right: 0px;
  img.noContent {
    height: 100px;
    padding: 20px;
  }
}

@media #{$desktop} {
  .hideInLargeWidth {
    display: none !important;
  }
  .new-competency-mobile {
    display: none;
  }
  .border-competency-mobile {
    display: none;
  }
  .navigationButtons {
    display: none;
  }
}
.competencyblock {
  height: 100%;
  .competencyAlign {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.requests {
  border: none;
  width: 100%;
  margin-left: 0.5%;
}
.approvals {
  background-color: white;
  border-color: #dfdfdf;
  border-width: thin;
  border-style: solid;
  width: 100%;
  margin-left: 0.5%;
  padding-bottom: 1%;
  margin-top: 1%;
}
.macro-title {
  margin-left: 3%;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 80%;
  color: #000000;
  letter-spacing: 0.2px;
}
.title-label {
  //height: 100%;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.title-label-radio {
  height: 100%;
  display: flex;
  padding-left: 4%;
}
.macro-title-label {
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.2px;
  padding-left: 0;
  padding-right: 0;
}
.macro-title-space {
  margin-left: 2px;
}
.macro-title-div {
  position: inherit;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: 1.5%;
  .title {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.macro-title-sub {
  font-family: "Open Sans", sans-serif;
  font-size: 80%;
  color: #000000;
  letter-spacing: 0.2px;
}
.macro-approvals {
  margin-left: 3%;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 165%;
  color: #000000;
  letter-spacing: 0.2px;
}
.myCompsContainer {
  background-color: white;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 53px;
}
.pendingCompsContainer {
  background-color: white;
  margin-top: 20px;
}
.macro-approvals-div,
.macro-title-div {
  position: inherit;
  height: 35px;
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 10px;
  .title {
    display: flex;
    padding-left: 0;
  }
  > div {
    padding-left: 0;
  }
  .main-title {
    width: 40%;
  }
  .title-label-radio {
    width: 45%;
    align-items: center;
    padding-left: 25px;
    @media {
      $non-small-width
    }
    {
      display: flex;
    }
  }
  div.title-label-date {
    width: 15%;
    padding-left: 10px;
  }
}
.macro-approvals-sub {
  font-family: "Open Sans", sans-serif;
  font-size: 165%;
  color: #000000;
  letter-spacing: 0.2px;
}
.competency-class {
  text-align: center;
}
.sub-title-compentency {
  padding-left: 2%;
  font-size: 77%;
  float: left;
  max-width: 110%;
  line-height: initial;
  color: #0a77a9;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding-top: 1%;
  letter-spacing: 0.2px;
}
.pending-sub-title-compentency {
  padding-left: 2%;
  font-size: 77%;
  float: left;
  max-width: 110%;
  line-height: initial;
  color: #B0BEC5;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding-top: 1%;
  letter-spacing: 0.2px;
}
.new-competency {
  background-color: white;
  margin-left: 0.9%;
  //line-height: 80px;
  padding-left: 1.6%;
  padding-top: 0.7%;
  height: 100px;
  border-color: #dfdfdf;
  border-width: thin;
  border-style: solid;
}
.competency-title {
  padding-left: 2%;
  font-size: 124%;
  display: block;
  line-height: initial;
  color: black;
  font-family: "Open Sans", sans-serif;
}
.pending-competency-title {
  padding-left: 2%;
  font-size: 124%;
  display: block;
  line-height: initial;
  color: #B0BEC5;
  font-family: "Open Sans", sans-serif;
}
.border-competencie {
  background-color: white;
  margin-left: 10px;
  //line-height: 80px;
  height: 100px;
  border-color: #dfdfdf;
  border-width: thin;
  border-style: solid;
  border-right-width: 0;
  &.hide-mobile {
    @media #{$non-small-width} {
      display: flex;
    }
    align-items: center;
    padding: 0;
    .my-competency-tab {
      margin: 0;
    }
    .competencyblock {
      width: 40%;
      margin-left: 20px;
    }
    .competency-class {
      width: 45%;
      ul {
        padding: 0 0 0 10px;
        margin: 0;
      }
    }
    .date {
      width: 15%;
      text-align: left;
    }
    .state-added,
    .state-final,
    .state-requested {
      width: 10%;
      padding-right: 10px;
    }
  }
}
.radioButton {
  margin: 0;
  padding: 0;
}
.radioButtonDiv {
  display: inline-flex;
}
.approvedValue {
  width: 25px;
  border-radius: 50%;
  padding-top: 6px;
  padding-left: 7px;
  height: 25px;
}
.date {
  text-align: center;
  font-size: 100%;
  color: #53565a;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.2px;
  text-align: center;
}
.state-approved {
  text-align: center;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: blue;
  letter-spacing: 0.2px;
}
.state-requested {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: #b0bec5;
  font-variant: small-caps;
  letter-spacing: 0.2px;
  text-align: center;
}
.state-added {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: #0a77a9;
  font-variant: small-caps;
  letter-spacing: 0.2px;
  text-align: center;
}
.state-final {
  text-align: center;
}
.new-competency-tab {
  width: 1.5%;
  height: 99px;
  position: absolute;
  background: #0a77a9;
}
.pending-competency-tab {
  width: 1.5%;
  height: 99px;
  position: absolute;
  background: #53565a;
}
.my-competency-tab {
  width: 1.5%;
  height: 99px;
  margin-left: -1.55%;
  position: absolute;
  margin-top: -.73%;
  background: #000000;
}
.Save {
  width: 100%;
  border-style: outset;
  border-width: thin;
  border-color: #d4d5d6;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  color: #53565a;
  border-radius: 7%;
  margin-right: 7%;
  letter-spacing: 0.2px;
}
.Submit {
  width: 100%;
  border-style: outset;
  border-width: thin;
  border-color: #6fa214;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  color: white;
  background-color: #86bc25;
  border-radius: 7%;
  margin-right: 7%;
  letter-spacing: 0.2px;
}
.buttons {
  float: right;
  display: inline-flex;
  margin-right: 1%;
}
.radio-button {
  input[type=radio] {
    visibility: hidden;
    position: absolute;
  }
}
.competency-class {
  ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    margin-right: 5px;
    height: 100%;
  }
  ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
  }
  ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    width: 50px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    .value {
      margin-left: 5px;
      color: black;
      font-weight: bolder;
    }
  }
  ul li label .check {
    display: inline-block;
    border: 1px solid #AAAAAA;
    background-color: rgba(239, 239, 239, 1);
    border-radius: 100%;
    height: 18px;
    width: 18px;
    top: 30px;
    left: 20px;
    z-index: 5;
    &.approvedValue {
      border: solid 2px #0a77a9;
    }
    &.currentValue {
      background-image: linear-gradient(196deg, #d8e0e4, #b0bec5);
      border: none;
    }
  }
  input[type=radio]:checked~label .check {
    background-image: linear-gradient(166deg, #049ec4, #0979ab);
  }
  input[type=radio]:checked~label {
    color: red;
  }
}
.searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #d0d0ce;
  svg {
    width: 18px;
    height: 18px;
    margin-left: 15px;
    margin-right: 15px;
  }
  input {
    color: #00a3e0;
  }
  ::-webkit-input-placeholder {
    color: #00a3e0;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: #00a3e0;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #00a3e0;
  }
  :-ms-input-placeholder {
    color: #00a3e0;
  }
}
.compNameSearch {
  color: blue;
}
#searchResults {
  list-style: none;
  padding-left: 0;
  background-color: white;
  li {
    border: 1px solid rgba(208, 208, 206, 1);
    padding-left: 10px;
  }
  .resultsWrapper {
    padding-top: 15px;
    display: flex;
    a {
      color: black;
      font-weight: normal;
    }
    /* unvisited link */
    a:visited {
      color: black;
    }
    /* visited link */
    a:hover {
      color: black;
    }
    /* mouse over link */
    a:active {
      color: black;
    }
    /* selected link */
    .resultBox {
      margin-right: 15px;
      width: 15px;
      height: 57px;
    }
  }
  .searchTree {
    color: rgba(0, 163, 224, 1);
  }
}
.sidebarContainer {
  .hierarchy-top {
    border: 1px solid rgba(208, 208, 206, 1);
    margin-bottom: 0;
    font-size: 12pt;
    padding-left: 0;
  }
  .compTextWrapprer {
    display: flex;
    align-items: center;
    cursor: pointer;
    .compTextBox {
      display: flex;
      align-items: center;
      margin-top: 1px;
      margin-right: 10px;
    }
    .blue {
      color: rgba(10, 119, 169, 1);
    }
    .grey {
      color: rgba(208, 208, 206, 1);
    }
    .black {
      color: black;
    }
  }
}
.collapsable {
  display: none;
  height: auto;
  transition: height 1s;
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -o-transition: height 1s;
  padding-left: 0;
}
.collapsable.showMe {
  display: block;
}
.addPossible {
  color: black;
  //font-weight: bold;
}
#rightPanel {
  position: absolute;
  width: 100%;
}
#searchBar {
  width: 100%;
  height: 40px;
  border: 0 solid rgba(208, 208, 206, 1);
  font-size: 12pt;
}
.glyphicon-menu-right {
  width: 7.8px;
  height: 13.5px;
  color: #ffffff;
}
.sideUl {
  .chiv-blue {
    color: #006d96;
  }
  //NEW
  .macroTag {
    color: rgba(176, 190, 197, 1);
    background-color: white;
    min-height: 30px;
    line-height: 30px;
    cursor: pointer;
    &.macroOpen {
      background-color: #006d96;
      color: white;
      &:hover {
        color: white;
      }
    }
    &:hover {
      color: #006d96;
    }
  }
  //END NEW
  .catTag {
    padding-left: 5px;
    color: rgba(176, 190, 197, 1);
    background-color: white;
    min-height: 30px;
    line-height: 30px;
    cursor: pointer;
    &.catOpen {
      background-color: #006d96;
      color: white;
      &:hover {
        color: white;
      }
    }
    &:hover {
      color: #006d96;
    }
  }
  .catSubTag {
    color: #53565a;
    min-height: 30px;
    line-height: 30px;
    background-color: #ededed;
    padding-left: 10px;
    cursor: pointer;
    border-bottom: solid 1px #53565a;
  }
  .subCatOpen {
    color: #006d96;
  }
  .chivron {
    margin-left: 15px;
    margin-right: 15px;
  }
  .chivron-img {
    min-width: 12px;
    height: 12px;
    width: 12px;
  }
  .compsUl {
    margin-bottom: 0;
    margin-top: 0;
    //display: flex;
    align-items: center;
    padding-left: 25px;
    background-color: #dfdfdf;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .checkboxDiv {
    display: flex;
    margin-right: 15px;
    margin-top: 1px;
  }
}
.categorie {
  display: table-cell;
  line-height: 29px;
  padding-left: 14px;
}
.mobileOnly {
  display: block;
}
@media #{$mobile-portrait} {
  .myCompsContainer {
    background-color: inherit;
    padding-top: 0;
    margin-top: 0;
  }
	.pendingCompsContainer {
    background-color: inherit;
    padding-top: 0;
    margin-top: 0;
  }
  .navigationButtons {
    display: flex;
    height: 45px;
    align-items: center;
    .button {
      width: 50%;
      border: 1px solid;
      height: 100%;
      color: white;
      &.selected {
        background-color: inherit;
      }
    }
  }
  .new-competency-tab {
    width: 10px;
    margin-left: 0;
    margin-top: 0;
    top: 0;
    left: 0;
  }
  .pending-competency-tab {
    width: 10px;
    margin-left: 0;
    margin-top: 0;
    top: 0;
    left: 0;
  }
  .main {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 45px;
    .approvals {
      margin-left: 0;
      margin-bottom: 0;
    }
  }
  .date {
    display: none;
  }
  .state-added {
    display: none;
  }
  .new-competency {
    display: flex;
    flex-direction: column;
    line-height: normal;
  }
  .competency-class ul li label {
    width: 50px;
  }
  .hide-mobile {
    display: none;
  }
  .infoWrapper {
    padding-left: 15px;
    margin-top: 10px;
    .competency-title {
      font-size: 14px;
    }
    .sub-title-compentency {
      font-size: 10px;
    }
    .pending-competency-title {
      font-size: 14px;
    }
    .pending-sub-title-compentency {
      font-size: 10px;
    }
  }
  .form-mobile {
    margin-left: 15px;
    //position: relative;
    .check {
      width: 19px;
      height: 19px;
    }
    .value {
      font-size: 16px;
    }
  }
  .new-competency-mobile {
    margin-left: 0;
    padding-left: 0;
    position: relative;
  }
  .border-competency {
    position: relative;
  }
  .border-competency-mobile {
    display: flex;
    flex-direction: column;
    div form {
      margin-top: 10px;
    }
    position: relative;
    padding-left: 0;
    margin-left: 0;
  }
  .competency-class {
    position: absolute;
    width: 100%;
    padding-left: 15px;
    ul {
      position: absolute;
      padding-left: 0;
    }
  }
  .requests {
    margin-left: 0;
  }
}
@media #{$mobile-portrait} {
  .searchMobile {
    position: fixed;
    //top: 45px;
    z-index: 99999;
    background-color: black;
    //height: 100%;
    width: 100%;
    overflow-y: scroll;
    .searchWrapper {
      margin-left: 10px;
      height: 100%;
      background-color: #ededed;
    }
    .compTextWrapprer {
      display: flex;
      align-items: center;
      //margin-bottom: 5px;
      .compTextBox {
        margin-right: 5px;
      }
    }
    .sideUl {
      padding-left: 0;
      margin-bottom: 0;
      .macroTag {
        background-color: #ededed;
        border: solid 1px #d0d0ce;
        color: #75787b;
        &.macroOpen {
          color: white;
          background-color: #0a77a9;
        }
      }
    }
  }
}
@media #{$medium-width} {
  div.sideTablet {
    position: fixed;
    z-index: 99999;
    background-color: black;
    width: 100%;
    overflow-y: scroll;
  }
  div.sideButton {
    position: fixed;
    z-index: 99999;
    background-color: black;
    width: 35px;
    overflow-y: scroll;
    height: 35px;
    text-align: center;
    img {
      vertical-align: -webkit-baseline-middle;
    }
  }
  .new-competency-mobile {
    display: none;
  }
  .border-competency-mobile {
    display: none;
  }
  .navigationButtons {
    display: none;
  }
}
@media #{$medium-width} {
  .border-competency-mobile {
    display: none;
  }
  .searchMobile {
    position: fixed;
    //top: 45px;
    z-index: 99999;
    background-color: black;
    //height: 100%;
    width: 100%;
    overflow-y: scroll;
    .searchWrapper {
      margin-left: 10px;
      height: 100%;
      background-color: #ededed;
    }
    .compTextWrapprer {
      display: flex;
      align-items: center;
      //margin-bottom: 5px;
      .compTextBox {
        margin-right: 5px;
      }
    }
    .sideUl {
      padding-left: 0;
      margin-bottom: 0;
      .macroTag {
        background-color: #ededed;
        border: solid 1px #d0d0ce;
        color: #75787b;
        &.macroOpen {
          color: white;
          background-color: #0a77a9;
        }
      }
    }
  }
}
@media #{$desktop} {
  .searchMobile {
    display: none;
  }
  .navigationButtons {
    display: none;
  }
}
