<div class="main">
  <div class="approvals">

    <div class="macro-approvals-div hide-mobile">
      <div class="col-md-5">
        <span class="macro-approvals">MY</span>
        <span class="macro-title-space"></span>
        <span class="macro-approvals-sub">COMPETENCIES</span>
      </div>
      <div class="title-label-radio-my-competencies col-md-5">
        <span class="macro-title-label">PROFICIENCY LEVEL</span>
      </div>
      <!-- <div class="title-label-my-competencies col-md-1">
        <span class="macro-title-label">STATE</span>
      </div>
      <div class="title-label-state-my-competencies col-md-2">
        <span class="macro-title-label"></span>
      </div> -->
    </div>

    <div class="progress-mobile hideTablet">
      <div id="myProgressBar">
        <div id="myBarMobile">
        </div>
      </div>
    </div>

    <div class="macro-approvals-div-mobile hideTablet">
      <span>{{data.competencies[currentMacroIndex].name}}</span>
      <button class="btn btn-default saveMobile" ng-click="save()">
        <img src="save_.svg" class="buttonIcon">
        SAVE
      </button>
    </div>

    <!-- Competencies -->
    <div ng-repeat="comp in data.flattenCompetencies | filter:competenciesFilter ">
      <div class="border-competencie hide-mobile">
        <div class="my-competency-tab"></div>
        <div class="col-md-5 competencyblock" ng-class='applyCssToTitles()' for="basic-url">
          <div class="competencyAlign">
            <span class="competency-title">{{comp.name | limitTo:titleCharLimit}}{{comp.name.length > titleCharLimit ? "..." : ""}}</span>
            <span class="sub-title-compentency">{{comp.prettyName | limitTo:subtitleCharLimit}}{{comp.prettyName.length > subtitleCharLimit ? "..." : ""}}</span>
          </div>
        </div>
        <form class="col-md-5 competency-class" action="" ng-click="checkAnswered()">
          <ul>
            <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][data.competencies[currentMacroIndex].name][0]}}">
              <input type="radio" id="{{comp.sys_id + '0'}}" name="selector" ng-model="comp.approvedValue" value="0">
              <label for="{{comp.sys_id + '0'}}"><span class="check"></span><span class="value">0</span></label>
            </li>
            <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][data.competencies[currentMacroIndex].name][1]}}">
              <input type="radio" id="{{comp.sys_id + '1'}}" name="selector" ng-model="comp.approvedValue" value="1">
              <label for="{{comp.sys_id + '1'}}"><span class="check"></span><span class="value">1</span></label>
            </li>
            <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][data.competencies[currentMacroIndex].name][2]}}">
              <input type="radio" id="{{comp.sys_id + '2'}}" name="selector" ng-model="comp.approvedValue" value="2">
              <label for="{{comp.sys_id + '2'}}"><span class="check"></span><span class="value">2</span></label>
            </li>
            <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][data.competencies[currentMacroIndex].name][3]}}">
              <input type="radio" id="{{comp.sys_id + '3'}}" name="selector" ng-model="comp.approvedValue" value="3">
              <label for="{{comp.sys_id + '3'}}"><span class="check"></span><span class="value">3</span></label>
            </li>
            <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][data.competencies[currentMacroIndex].name][4]}}">
              <input type="radio" id="{{comp.sys_id + '4'}}" name="selector" ng-model="comp.approvedValue" value="4">
              <label for="{{comp.sys_id + '4'}}"><span class="check"></span><span class="value">4</span></label>
            </li>
            <li data-toggle="tooltip" data-delay='{"show": 750, "hide": 100}' title="{{data.competencyScale[employeeType][data.competencies[currentMacroIndex].name][5]}}">
              <input type="radio" id="{{comp.sys_id + '5'}}" name="selector" ng-model="comp.approvedValue" value="5">
              <label for="{{comp.sys_id + '5'}}"><span class="check"></span><span class="value">5</span></label>
            </li>
          </ul>
        </form>
        <!-- <div class="col-md-1 state-final">
          <span ng-if="comp.value === ''"><img src="default.svg" /></span>
          <span ng-if="comp.value !== ''"><img src="done_info.svg" /></span>
        </div> -->
        <!--<br>-->
        <div class="col-md-2">
        </div>
      </div>
      <div class="border-competencie border-competency-mobile hideTablet">
        <div class="my-competency-tab"></div>
        <div class="infoWrapper">
          <div class="nameWrapper">
            <span class="competency-title">{{comp.name | limitTo:titleCharLimit}}{{comp.name.length > titleCharLimit ? "..." : ""}}</span>
            <span class="sub-title-compentency">{{comp.prettyName | limitTo:subtitleCharLimit}}{{comp.prettyName.length > subtitleCharLimit ? "..." : ""}}</span>
          </div>
        </div>
        <div class="selectionDiv">
          <form class="competency-class" action="">
            <ul>
              <li>
                <input type="radio" id="{{comp.sys_id + '0'}}" name="selector" ng-model="comp.approvedValue" value="0">
                <label for="{{comp.sys_id + '0'}}"><span class="check"></span><span class="value">0</span></label>
              </li>
              <li>
                <input type="radio" id="{{comp.sys_id + '1'}}" name="selector" ng-model="comp.approvedValue" value="1">
                <label for="{{comp.sys_id + '1'}}"><span class="check"></span><span class="value">1</span></label>
              </li>
              <li>
                <input type="radio" id="{{comp.sys_id + '2'}}" name="selector" ng-model="comp.approvedValue" value="2">
                <label for="{{comp.sys_id + '2'}}"><span class="check"></span><span class="value">2</span></label>
              </li>
              <li>
                <input type="radio" id="{{comp.sys_id + '3'}}" name="selector" ng-model="comp.approvedValue" value="3">
                <label for="{{comp.sys_id + '3'}}"><span class="check"></span><span class="value">3</span></label>
              </li>
              <li>
                <input type="radio" id="{{comp.sys_id + '4'}}" name="selector" ng-model="comp.approvedValue" value="4">
                <label for="{{comp.sys_id + '4'}}"><span class="check"></span><span class="value">4</span></label>
              </li>
              <li>
                <input type="radio" id="{{comp.sys_id + '5'}}" name="selector" ng-model="comp.approvedValue" value="5">
                <label for="{{comp.sys_id + '5'}}"><span class="check"></span><span class="value">5</span></label>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>

    <div class="mobileButtons hideTablet">
      <div class="backButton" ng-if="showBackButton" ng-click="back()">
        <img src="arrow_left.svg" />
        <div class="divider"></div>
        BACK
      </div>
      <div class="nextButton" ng-if="!lastSet" ng-click="next()">
        NEXT
        <div class="divider"></div>
        <img src="arrow_rigth.svg" />
      </div>
      <div class="submitButton" ng-if="lastSet" ng-click="submit()">
        <img src="submitWhite.svg" /> SUBMIT
      </div>
    </div>

  </div>

  <div class="progress">
    <div ng-class="{'hideButton': !showBackButton}">
      <button class="back btn btn-default" ng-click="back()">
        <img class="arrow_left" src="arrow_left.svg" />
        <img class="arrow_left_active" src="arrow_left_active.svg"/>
        BACK
      </button>
    </div>
    <div class="div-bar">
      <div id="myProgressBar">
        <div id="myBar">
        </div>
        <div id="progressLabel">0%
        </div>
      </div>
    </div>
    <div ng-class="{'hideButton': lastSet}">
      <button class="next btn btn-default next" ng-click="next()">
        NEXT
        <img class="arrow_rigth" src="arrow_rigth.svg" />
        <img class="arrow_rigth_active" src="arrow_rigth_active.svg"/>
      </button>
    </div>
  </div>

</div>
