$mobile: "(max-width: 750px)";
$desktop: "(min-width: 1025px)";
$tablet: "(min-width: 750px) and (max-width: 1024px)";
//@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.competencyblock {
  height: 100%;
  .competencyAlign {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.next:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
.next:hover {
  border-color: transparent;
  background-color: #0a77a9;
}
.back:hover {
  border-color: transparent;
  background-color: #0a77a9;
}
.requests {
  background-color: white;
  border-color: #dfdfdf;
  border-width: thin;
  border-style: solid;
  width: 100%;
  margin-left: 0.5%;
  padding-bottom: 1%;
}
.approvals {
  background-color: white;
  border-color: #dfdfdf;
  border-width: thin;
  border-style: solid;
  width: 100%;
  margin-left: 0.5%;
  padding-bottom: 1%;
}
.macro-title {
  margin-left: 3%;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 80%;
  position: relative;
  top: 35%;
  color: #53565a;
  letter-spacing: 0.2px;
}
.macro-title-div {
  position: inherit;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: 1.5%;
  .title {
    margin-left: 20px;
    height: 100%;
    display: flex;
  }
}
.macro-title-space {
  margin-left: 2px;
}
.macro-title-sub {
  font-family: sans-serif;
  font-size: 80%;
  position: relative;
  top: 35%;
  color: #53565a;
  letter-spacing: 0.2px;
}
.macro-title-label {
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  position: relative;
  top: 35%;
  letter-spacing: 0.2px;
}
.title-label-radio-my-competencies {
  height: 100%;
  display: flex;
  padding-left: 5.8%;
  margin-bottom: -14px;
}
.title-label-my-competencies {
  height: 100%;
  text-align: center;
  padding-left: 1.8%;
  margin-bottom: -7px;
}
.title-label-state-my-competencies {
  height: 100%;
  text-align: center;
  padding-left: 1%;
  margin-bottom: -7px;
}
.macro-approvals {
  margin-left: 1.3%;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 165%;
  position: relative;
  top: 40%;
  color: #4a4a4a;
  letter-spacing: 0.2px;
}
.macro-approvals-div {
  align-items: center;
  position: inherit;
  height: 70px;
  display: flex;
  margin-bottom: -1%;
}
.macro-approvals-sub {
  font-family: "Open Sans", sans-serif;
  font-size: 165%;
  position: relative;
  top: 40%;
  color: #4a4a4a;
  letter-spacing: 0.2px;
}
.competency-class {
  text-align: center;
}
.sub-title-compentency {
  padding-left: 2%;
  font-size: 77%;
  float: left;
  max-width: 110%;
  line-height: initial;
  color: #0a77a9;
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 1%;
  letter-spacing: 0.2px;
}
.new-competency {
  background-color: white;
  margin-left: 0.9%;
  line-height: 80px;
  padding-left: 1.6%;
  padding-top: 0.7%;
  height: 100px;
  border-color: #dfdfdf;
  border-width: thin;
  border-style: solid;
  form {
    line-height: 0px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 0px;
    padding-right: 0px;
  }
}
.competency-title {
  padding-left: 2%;
  font-size: 124%;
  display: block;
  line-height: initial;
  color: black;
  font-family: sans-serif;
}
.border-competencie {
  background-color: white;
  margin-left: 0.9%;
  line-height: 80px;
  padding-left: 1.6%;
  padding-top: 0.7%;
  height: 100px;
  border-color: #dfdfdf;
  border-width: thin;
  border-style: solid;
  position: relative;
  form {
    line-height: 0px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 0px;
    padding-right: 0px;
  }
}
.radioButton {
  margin: 0;
  padding: 0;
}
.radioButtonDiv {
  display: inline-flex;
}
.approvedValue {
  width: 25px;
  border-radius: 50%;
  padding-top: 6px;
  padding-left: 7px;
  height: 25px;
  box-shadow: 0px 0px 10px -2px green inset;
}
.date {
  text-align: center;
  font-size: 100%;
  color: #53565a;
  font-family: sans-serif;
  letter-spacing: 0.2px;
}
.state-approved {
  text-align: center;
  font-size: 100%;
  font-family: sans-serif;
  color: blue;
  letter-spacing: 0.2px;
}
.state-requested {
  font-size: 100%;
  font-family: sans-serif;
  color: #b0bec5;
  font-variant: small-caps;
  letter-spacing: 0.2px;
}
.state-added {
  font-size: 100%;
  font-family: sans-serif;
  color: #0a77a9;
  font-variant: small-caps;
  letter-spacing: 0.2px;
}
.new-competency-tab {
  width: 1.5%;
  height: 99px;
  margin-left: -1.55%;
  position: absolute;
  margin-top: -.73%;
  background: linear-gradient(#069cc7, #0a77a9)
}
.pending-competency-tab {
  width: 1.5%;
  height: 99px;
  margin-left: -1.55%;
  position: absolute;
  margin-top: -.73%;
  background: linear-gradient(#c5d0d5, #b0bec5);
}
.my-competency-tab {
  width: 10px;
  height: 99px;
  top: 0;
  position: absolute;
  left: 0;
  background: linear-gradient(#414346, #53565a);
}
.Save {
  width: 100%;
  border-style: outset;
  border-width: thin;
  border-color: #d4d5d6;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  color: #53565a;
  border-radius: 7%;
  margin-right: 7%;
  letter-spacing: 0.2px;
}
.Submit {
  width: 100%;
  border-style: outset;
  border-width: thin;
  border-color: #6fa214;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  color: white;
  background-color: #86bc25;
  border-radius: 7%;
  margin-right: 7%;
  letter-spacing: 0.2px;
}
.buttons {
  float: right;
  display: inline-flex;
  margin-right: 1%;
}
.radio-button {
  input[type=radio] {
    visibility: hidden;
    position: absolute;
  }
}
.competency-class {
  ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    margin-right: 5px;
    height: 100%;
  }
  ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
  }
  ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    width: 50px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all .25s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    .value {
      margin-left: 5px;
      color: black;
      font-weight: bolder;
    }
  }
  ul li label .check {
    display: inline-block;
    border: 1px solid #AAAAAA;
    background-color: rgba(239, 239, 239, 1);
    border-radius: 100%;
    height: 18px;
    width: 18px;
    top: 30px;
    left: 20px;
    z-index: 5;
    &.approvedValue {
      box-shadow: 0 0 0 2px rgba(0, 109, 150, 1);
    }
  }
  input[type=radio]:checked~label .check {
    background-image: linear-gradient(166deg, #049ec4, #0979ab);
  }
  input[type=radio]:checked~label {
    color: red;
  }
}
#myProgressBar {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  position: relative;
  width: 456px;
  height: 20px;
  background-color: #053B54;
  border-radius: 75px;
  box-shadow: 1px 1px 0 0 #00a1cb, inset 1px 1px 0 0 rgba(0, 0, 0, 0.22);
}
#myBar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-image: linear-gradient(to bottom, #00d0f2, #00a3e0);
  border-radius: 75px;
  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s ease;
}
.div-bar {
  height: 35px;
  line-height: 35px;
  text-align: center;
}
#progressLabel {
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
  position: relative;
  height: 20px;
}
.state-final {
  text-align: center;
}
.progress {
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 35px;
  background-color: #0a77a9;
  margin-left: .5%;
  .hideButton {
   visibility: hidden;
  }
}
.back {
  height: 35px;
  font-family: "Open Sans", sans-serif;
  border-color: transparent;
  background-color: #0a77a9;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  color: #ffffff;
}
.next {
  height: 35px;
  font-family: "Open Sans", sans-serif;
  border-color: transparent;
  background-color: #0a77a9;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  color: #ffffff;
}
.divider {
  width: 5px;
}
.arrow_rigth {
  padding-right: 5px;
  padding-bottom: 2px;
}
.arrow_left {
  padding-left: 5px;
  padding-bottom: 2px;
}
.arrow_rigth_active, .arrow_left_active {
	padding-right: 5px;
  padding-bottom: 2px;
  display: none;
}

button.next:active {
  .arrow_rigth {
    display: none;
  }
  .arrow_rigth_active {
    display: inline;
  }
}
button.back:active {
  .arrow_left {
    display: none;
  }
  .arrow_left_active {
    display: inline;
  }
}

@media #{$tablet} {
	.hideTablet{
  	display:none;
  }
}
@media #{$mobile} {

  .competency-mobile{
  		display:block;
    }
  .progress {
    display: none;
  }

  .macro-approvals-div-mobile {
    padding-top: 5px;
    padding-left: 20px;
    color: #0a77a9;
    margin-lef: 5%;
    width: 100%;
    height: 40px;
    background-color: #ededed;
    span {
     vertical-align: -webkit-baseline-middle;
    }
    .saveMobile {
      float: right;
      margin-right: 10px;
    }
  }
  .date {
    display: none;
  }
  .state-added {
    display: none;
  }
  .new-competency {
    display: flex;
    flex-direction: column;
    line-height: normal;
  }
  .competency-class ul li label {
    width: 50px;
  }
  .hide-mobile {
    display: none;
  }
  /*.extraInfo{
  	position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
  }*/
  .infoWrapper {
    padding-left: 15px;
    margin-top: 10px;
    .competency-title {
      font-size: 14px;
    }
    .sub-title-compentency {
      font-size: 10px;
    }
  }
  .form-mobile {
    margin-left: 5px;
    //position: relative;
    .check {
      width: 19px;
      height: 19px;
    }
    .value {
      font-size: 16px;
    }
  }
  .new-competency-mobile {
    margin-left: 0px;
    //position: relative;
  }
  .border-competency-mobile {
    position: relative;
    padding-left: 10px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    .selectionDiv {
      padding-top: 20px;
      padding-left: 12px;
    }
  }
  .competency-class {
    position: absolute;
    width: 100%;
    padding-left: 15px;
    ul {
      position: absolute;
      padding-left: 0px;
    }
  }
  .progress-mobile {
    height: 5px;
    display: flex;
    #myProgressBar {
      position: relative;
      width: 100%;
      height: 5px;
      background-color: #dfdfdf;
      border-radius: 0px;
      box-shadow: none;
      #myBarMobile {
        position: absolute;
        height: 5px;
        background-color: #0a77a9;
        -webkit-transition: width 1s ease;
        -moz-transition: width 1s ease;
        -o-transition: width 1s ease;
        transition: width 1s ease;
        background-image: none;
        border-radius: 0px;
      }
    }
  }
  .main {
    margin-left: -15px;
    margin-right: -15px;
    .approvals {
      margin-left: 0px;
      margin-bottom: 0px;
    }
  }
  .mobileButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    //height: 150px;
    .backButton {
      width: 50%;
      height: 45px;
      background-color: #53565a;
      box-shadow: 0 2px 0 0 #2d2d2d;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      //margin-right: 6px;
      font-family: 'Open Sans';
      font-size: 12px;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.1px;
    }
    .nextButton {
      width: 50%;
      height: 45px;
      background-color: #0a77a9;
      box-shadow: 0 2px 0 0 #003e5b;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      //margin-left: 6px;
      font-family: 'Open Sans';
      font-size: 12px;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.1px;
      img {
        margin-right: 7px;
      }
    }
    .submitButton {
      width: 50%;
      height: 45px;
      background-color: #86bc25;
      box-shadow: 0 2px 0 0 #6fa214;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      //margin-left: 6px;
      font-family: 'Open Sans';
      font-size: 12px;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.1px;
      img {
        margin-right: 7px;
      }
    }
  }
  .requests {
    margin-left: 0px;
  }
  .approvals {
    padding-bottom: 0%;
  }
}
@media #{$desktop} {
  .new-competency-mobile {
    display: none;
  }
  .border-competency-mobile {
    display: none;
  }
  .macro-approvals-div-mobile {
    display: none;
  }
  .progress-mobile {
    display: none;
  }
  .mobileButtons {
    display: none;
  }
  .hideDesktop {
    display: none;
  }
}
