$mobile: "(max-width: 750px)";
$tablet: "(min-width: 751px) and (max-width: 1024px)";
$desktop: "(min-width: 1025px)";
$non-mobile: "(min-width: 751px)";
$non-desktop: "(max-width: 1024px)";
$very-small-width: "(max-width: 400px)";
.resource-name {
	text-align: center;
}
.availability-content {
	display: flex;
}
.availability-resource {
	width: 200px;
}
.availability-calendar {
	width: 100%;
}
.availability-row {
	display: flex;
	justify-content: space-between;
}
.av-back {
	background-color: transparent;
	border: none;
	margin-right: 15px;
}
.av-next {
	background-color: transparent;
	border: none;
	margin-left: 15px;
	&.hideButton {
		visibility: hidden;
	}
}
.date-week {
	margin-bottom: -4px;
}
div.red-text-mobile {
	width: 100%;
	color: red;
}
span.red-text {
  color: red;
  padding-left: 5px;
}
.selectedResourceContainer {
  margin-bottom: 20px;
}
#allowOutsourcing {
  border: solid 1px #d4d5d6;
}
.sectionTitle {
  margin-top: 15px;
  margin-bottom: 10px;
}
.cancellationInfo {
  margin-top: 10px;
}
md-select {
  background-color: #53565a;
  border-color: black;
  box-shadow: 0 2px 0 0 #000000;
  min-width: 150px;
  border-radius: 4px;
  padding-left: 10px;
  height: 35px;
  margin-right: 10px;
  &:not([disabled]):focus {
    .md-select-value {
      border-bottom: none;
    }
  }
  @media #{$mobile} {
    margin-right: 0;
    height: 40px;
    border-right: 1px solid black;
    border-radius: 0;
  }
  span {
    color: white;
  }
}
.search-icon {
  display: flex;
  align-items: center;
  border: none;
  width: 35px;
  margin-bottom: 1px;
  padding-left: 10px;
}
.modal-draftButtons {
  > button {
    > span {
      vertical-align: middle;
      top: 0;
    }
  }
}
md-autocomplete {
  flex-grow: 1;
  md-autocomplete-wrap {
    box-shadow: none;
    > button {
      display: none;
    }
  }
}
.toggleButton {
  width: 35px;
  border-radius: 0;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
  background: none;
  height: 40px;
  @media #{$desktop} {
  &:hover {
    color: #333;
    background: none;
    border-color: #ccc;
  }
}
}
.addButton {
  border-radius: 0;
  border-top: none;
  border-bottom: none;
  background: none;
  width: 120px;
  height: 40px;
}
@media #{$very-small-width} {
  #schedulingHomeMaster {
    div.projectName {
      span {
        font-size: 12px;
      }
    }
  }
}
.mobileAddButtons {
  display: none;
}
@media #{$non-mobile} {
  .hideNonMobile {
    display: none;
  }
  .selectedResourceContainer {
    margin-bottom: 20px;
    input {
      max-width: 307px;
    }
  }
}
@media #{$mobile} {
  .glyphicon-pencil {
    color: black;
  }
  .tooltip {
    display: none !important;
  }
  .hideMobile {
    display: none;
  }
  .mobileAddButtons {
    margin-top: 10px;
    display: flex;
    border: solid 1px #d4d5d6;
    border-radius: 4px;
  }
  .options-competencies-name {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
  .addButton {
    width: 150px;
    border-left: none;
    height: 40px;
  }
}
.modal.and.carousel {
  position: absolute; // Needed because the carousel overrides the position property
}
#schedulingHomeMaster {
  font-family: "Open Sans", sans-serif;
  min-height: calc(100vh - 50px);
}
div#desktopProjModalMobile {
  .modal-dialog {
    width: auto;
    .modal-body {
      height: 50vh;
      overflow-y: scroll;
      margin-top: 3px;
      .carousel-inner {
        margin-left: 0;
        min-height: calc(50vh - 80px);
        .profissionalCategoryBox {
					margin: 0;
          flex-wrap: wrap;
          padding-left: 0;
          padding-right: 0;
          .empType {
            width: 50%;
            float: none;
            display: table-cell;
            vertical-align: top;
            margin-bottom: 10px;
          }
        }
      }
      .modal-footer {
        padding-left: 0;
        padding-right: 0;
      }
      .modal-approval {
        .competencyTypeDivider {
          padding-left: 6px;
          background-color: #53565a;
          color: #ffffff;
        }
        .resourceCategoryMobile {
          color: #ffffff;
          background-color: #069a48;
          text-align: center;
        }
        .resourceNameMobile {
          color: #000000;
          text-align: center;
        }
        .competencyName {
          width: 50%;
        }
        .competencyProficiency {
          width: 50%;
        }
        .compRow {
          display: inline-flex;
        }
        .fake-carousel-buttons {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .modal-footer {
      button.left.btn,
      button.right.btn {
        background-color: #069a48;
        height: 30.4px;
        box-shadow: 0 1px 0 0 #004a21;
        border: solid 1px #004a21;
        a {
          color: white;
        }
      }
      .mobileModalControls {
        flex-grow: 1;
        span.glyphicon {
          top: 3px;
        }
      }
    }
  }
}
#cancelReasonModal {
  .modal-content {
    max-width: 500px;
    margin: auto;
    textarea {
      width: 100%;
      min-height: 100px;
    }
  }
}
#desktopProjModal{
	.modal-body{
		.sectionHeader.collapsable{
			display: flex;
			align-items: center;
			.sectionTitle{
				margin-right:10px;
			}
			img{
				padding-top:5px;
				width: 20px;
			}
		}
		.resourceDetailsContent{
			padding-top: 1px;
		}
	}
}

#cancelReasonModal,
#desktopProjModal,
#desktopProjModalMobile {
	position: fixed;
  font-family: "Open Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  border: solid 1px #000000;
  button,
  input,
  textarea {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
  }
  .clone {
    float: right;
    background-color: #3071a9;
    box-shadow: 0 1px 0 0 #285e8e;
    border: solid 1px #285e8e;
    color: white;
  }
  .modal-footer {
    .red-text {
      color: red;
      float: left;
    }
		.red-text-mobile {
			color: red;
			width: 100%;
			text-align: left;
			margin-bottom: 10px;
		}
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
    color: #ffffff;
    .carousel-buttons {
      display: flex;
      justify-content: space-between;
      &.noPrev {
        justify-content: flex-end;
      }
      .draftControls {
        display: inline;
        button {
          margin-bottom: 10px;
        }
      }
    }
    .discard {
      background-color: #53565a;
      box-shadow: 0 1px 0 0 #000000;
      border: solid 1px #000000;
    }
    .save {
      background-color: #069a48;
      box-shadow: 0 1px 0 0 #004a21;
      border: solid 1px #004a21;
    }
    .submit {
      background-color: #069a48;
      box-shadow: 0 1px 0 0 #004a21;
      border: solid 1px #004a21;
    }
    .cancel {
      background-color: #53565a;
      box-shadow: 0 1px 0 0 #000000;
      border: solid 1px #000000;
    }
    .submitCreateNew {
      background-color: #069a48;
      box-shadow: 0 1px 0 0 #004a21;
      border: solid 1px #004a21;
    }
    .rejectApproval {
      background-color: #e60000;
      box-shadow: 0 1px 0 0 #000000;
      border: solid 1px #000000;
    }
    .acceptApproval {
      background-color: #069a48;
      box-shadow: 0 1px 0 0 #004a21;
      border: solid 1px #004a21;
    }
    .closedTop {
      background-color: #000000;
      box-shadow: 0 1px 0 0 #000000;
      border: solid 1px #000000;
    }
    @media #{$desktop} {
    .closedTop:hover {
      color: #ffffff;
    }
  }
    .closed {
      background-color: #53565a;
      box-shadow: 0 1px 0 0 #000000;
      border: solid 1px #000000;
    }
  }
  .panel-heading {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #000000;
    box-shadow: 0 2px 0 0 #000000;
    #myModalLabel {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.3px;
      color: #ffffff;
      line-height: 40px;
    }
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
    color: #ffffff;
    .closedTop {
      background-color: #000000;
      box-shadow: 0 1px 0 0 #000000;
      border: solid 1px #000000;
      margin-top: 2px;
      float: right;
      span {
        top: 3px;
      }
    }
    @media #{$desktop} {
    .closedTop:hover {
      color: #ffffff;
    }
  }
    .closed {
      background-color: #53565a;
      box-shadow: 0 1px 0 0 #000000;
      border: solid 1px #000000;
      margin-top: 2px;
      float: right;
      span {
        top: 3px;
      }
    }
  }
  hr {
    border-top: 1px solid #979797;
  }
  .main-resource-title {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.2px;
    color: #000000;
  }
  // LOCATION
  .box-list-wrapper {
    list-style-type: none;
  }
  #locationBoxList {
    -webkit-padding-start: 0;
  }
  .button-delete-box-in-list {
    background-color: Transparent;
    border: none;
    margin: 0;
    padding: 0 8px;
    float: right;
  }
  .box-list {
    line-height: 23px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
    color: #53565a;
    background-color: #EDEDED;
    border: 1px solid #000;
    display: -moz-inline-stack;
    display: inline-block;
    margin: 2px;
    *display: inline;
    border-radius: 1px;
    border: solid 1px #cccccc;
    padding-left: 5px;
  }
  .scrollable-box-list {
    max-height: 65px;
    overflow-y: auto;
  }
  .box-list-wrapper {
    list-style-type: none;
  }
  // RESOURCE INFO
  .discription {
    width: 100%;
    textarea {
      width: 100%;
      height: 109px;
      border-radius: 4px !important;
      //background-image: linear-gradient(to bottom, #ffffff, #fcfcfc);
      border: solid 1px #d4d5d6;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 10px;
    }
  }
  .cardinal {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
    color: #000000;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  #chosenCategory {
    background-color: #ededed;
  }
  .hoursNLocation {
    margin-top: 15px;
    padding-bottom: 20px;
    .locationSelectionDiv {
      display: flex;
      justify-content: center;
      max-width: 400px;
      vertical-align: middle;
      line-height: normal;
      border: solid 1px #d4d5d6;
      border-radius: 4px;
      input {
        border: none;
        border-bottom: none;
        flex-grow: 1;
        padding-left: 10px;
      }
      .addButton {
        border-right: none;
        border-left: solid 1px #d4d5d6;
        width: 60px;
      }
    }
  }
  .locationBoxes {
    border: none;
    border-radius: 4px !important;
    min-height: 100px;
    margin-top: 10px;
    border-radius: 2px;
    padding-right: 5px;
    padding-left: 5px;
    li {
      border: solid 1px #CCCCCC;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .resource-info-title {
    width: 100%;
    height: 35px;
    border-radius: 4px;
    //background-color: #fdfdfd;
    border: solid 1px #d4d5d6;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
    color: #53565a;
    margin-bottom: 8px;
  }
  .modal-dialog {
    width: 90%;
    top: 65px;
  }
  .modal-body {
    padding-bottom: 0;
    .modal-assignedTo {
      .modal-half {
        float: right;
      }
    }
    .resourceDetails {
      margin-top: 15px;
      .commentsContainer {
        max-height: 200px;
        overflow-y: scroll;
      }
      input {
        width: calc(100% - 2px);
        margin-left: 1px;
        padding-left: 12px;
        padding-right: 12px;
      }
    }
    .requestInfo,
    .resourceInfo {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .modal-projectInfo {}
    .modal-skills {
      .selectRequestRow {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .input-group {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
      .compotenciesRow {
        text-align: center;
      }
      .competenciesBoxes {
        text-align: left;
        width: calc(49% - 2px);
        .competenciesBoxesOptionsMacro {
          text-align: center;
        }
        .competenciesBoxesTitles {
          font-family: "Open Sans", sans-serif;
          font-size: 12px;
          font-weight: 100;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.1px;
          color: #000000;
        }
        .competenciesBoxesOptions {
          font-family: "Open Sans", sans-serif;
          font-size: 12px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.1px;
          color: #000000;
          margin-left: 5px;
        }
        .competenciesBoxesDivs {
          height: 30px;
          line-height: 30px;
          background-color: #dcdcdc;
          padding-left: 5px;
        }
      }
      .availability {
        display: inline-block;
        width: 4%;
        text-align: center;
      }
      .button-delete-box-in-list {
        background-color: Transparent;
        border: none;
        margin: 0;
        padding: 0 8px;
        float: right;
      }
      .box-list {
        line-height: 23px;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.1px;
        color: #53565a;
        background-color: #EDEDED;
        border: 1px solid #000;
        display: -moz-inline-stack;
        display: inline-block;
        margin: 2px;
        *display: inline;
        border-radius: 1px;
        border: solid 1px #cccccc;
      }
      .scrollable-box-list {
        max-height: 65px;
        overflow-y: auto;
      }
      .box-list-wrapper {
        list-style-type: none;
        padding-left: 0 !important;
      }
      .scrollable-box-list {
        max-height: 65px;
        overflow-y: auto;
        height: 65px;
        border: 1px solid #dcdcdc;
      }
      .buttons-choice {
        vertical-align: middle;
        cursor: pointer;
      }
      .mandatoryButton {
        width: 120px;
        height: 35px;
        border-radius: 4px;
        background-image: linear-gradient(to bottom, #ffffff, #fcfcfc);
        border: solid 1px #d4d5d6;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.1px;
        color: #53565a;
        @media #{$desktop} {
        &:hover {
          color: #069a48;
        }
      }
      }
      .optionalButton {
        width: 120px;
        height: 35px;
        border-radius: 4px;
        background-image: linear-gradient(to bottom, #ffffff, #fcfcfc);
        border: solid 1px #d4d5d6;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.1px;
        color: #53565a;
        @media #{$desktop} {
        &:hover {
          color: #069a48;
        }
      }
      }
      .options-competencies-name {
        display: flex;
        justify-content: center;
        max-width: 400px;
        width: calc(100% - 100px);
        vertical-align: middle;
        line-height: normal;
        border: solid 1px #d4d5d6;
        border-radius: 4px;
        svg {
          line-height: 1px;
          vertical-align: middle;
        }
        input {
          //min-width: 250px;
          margin-top: 1px;
          height: 38px;
          max-width: 309px;
          flex-grow: 1;
          height: 35px;
          border-radius: 4px;
          background-color: #ffffff;
          font-family: "Open Sans", sans-serif;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.1px;
          color: #000000;
          border: none;
        }
        ::-webkit-input-placeholder {
          color: #53565a;
        }
        :-moz-placeholder {
          /* Firefox 18- */
          color: #53565a;
        }
        ::-moz-placeholder {
          /* Firefox 19+ */
          color: #53565a;
        }
        :-ms-input-placeholder {
          color: #53565a;
        }
      }
    }
    .modal-half {
      display: inline-block;
    }
    .modal-full {}
    .modal-approval {
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      .compRow {
        width: 100%;
        display: flex;
        vertical-align: middle;
      }
      .competencyTypeDivider {
        background-color: #53565a;
        height: 25px;
        line-height: 25px;
        color: #ffffff;
      }
      .competencyName {
        padding-bottom: 5px;
        padding-top: 5px;
      }
      .resourceContainer {
        background-color: #f9f9f9;
        border: solid 1px #f0efef;
        margin-right: 4px;
        text-align: center;
      }
      .resourceName {
        color: #000000;
        margin-bottom: 25px;
        img {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
      .resourceCategory {
        height: 25px;
        line-height: 25px;
        color: #ffffff;
        background-color: #069a48;
        margin-bottom: 18px;
      }
      .competencyProficiency {
        background-color: #f9f9f9;
        margin-right: 4px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 2px;
        margin-bottom: 2px;
        display: flex;
        justify-content: center;
        div {
          align-self: center;
        }
      }
      .resourceCategory {
        margin-top: 6px;
      }
      .availability:nth-child(even) {
        background-color: #ededed;
      }
      .availability:nth-child(odd) {
        background-color: #f9f9f9;
      }
      .availability {
        display: inline-block;
        width: calc(8.3% - 3px);
        text-align: center;
        font-size: 10.5px;
        font-weight: 100;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.1px;
        color: #000000;
        margin-left: 1px;
        margin-right: 1px;
        .bold {
          font-weight: bold;
        }
      }
      .availability-titles {
        display: inline-block;
        width: 12%;
        text-align: center;
        font-size: 11px;
        font-weight: 100;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.1px;
      }
      .availability-header {
        display: inline-block;
        width: calc(8.3% - 3px);
        text-align: center;
        font-size: 10.5px;
        font-weight: 100;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.1px;
        margin-left: 1px;
        margin-right: 1px;
        color: white;
        background-color: black;
        .bold {
          font-weight: bold;
        }
      }
      .availability-spaced {
        margin-left: 5px;
      }
      .availability-buttons {
        display: flex;
				justify-content: flex-end;
				margin-bottom: 5px;
				margin-top: 10px;
      }
    }
  }
  .empType {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .career {
    padding-right: 3px;
    padding-left: 3px;
    .career-title {
      background-color: #069a48;
      height: 35px;
      line-height: 35px;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.1px;
      color: #ffffff;
    }
  }
  .profissionalCategoryBox {
    text-align: center;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    &.inactiveBox {
      pointer-events: none;
    }
  }
  .empCategory {
    cursor: pointer;
    height: 25px;
    line-height: 23px;
    background-color: #cdd4d8;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
    color: #000000;
    border-top: 1px solid #ffffff;
    &.staff {
      background-color: #f0f0f0;
    }
    @media #{$desktop} {
      :hover {
        background-color: #86bc25;
      }
    }
    &.active {
      background-color: #86bc25;
    }
    .category {
      width: 100%;
    }
  }
  //DROPDOWN
  @media #{$desktop} {
  .dropdown-menu > li > a:hover {
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #ffffff, #fcfcfc);
    border: solid 1px #d4d5d6;
    color: #000000;
    font-family: "Open Sans", sans-serif;
  }
}
  .dropdown-menu > li > a {
    padding: 3px 10px;
    overflow: hidden;
  }
  ul.dropdown-menu {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: 0 2px 0 0 #d4d5d6;
  }
  div#custom-select-desktop:active {
    width: 100%;
    text-align: left;
    box-shadow: 0 2px 0 0 #d4d5d6;
  }
  li a {
    padding-top: 0;
    padding-bottom: 0;
  }
  div.remainingDiv {
    display: table-cell;
    vertical-align: middle;
    margin-left: 6px;
    background-color: #53565a;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 7px;
    color: white;
    line-height: 270%;
    font-size: 8px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin-right: 3px;
  }
  @media #{$desktop} {
  .mainDiv div.remainingDiv,
  a:hover div .remainingDiv {
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #ffffff, #fcfcfc);
    border: solid 1px #d4d5d6;
  }
}
  ul.dropdown-menu {
    padding: 0;
    border-radius: 4px;
  }
  li {
    padding: 0;
  }
  .dropdown-menu {
    width: 375px;
  }
  div.mainText {
    display: table-cell;
    vertical-align: middle;
  }
  div.auxSelected {
    float: left;
  }
  #custom-select-desktop div.carret {
    float: right;
    height: 37px;
    line-height: 24px;
    width: 10%;
    text-align: end;
  }
  #custom-select-desktop div.mainDiv {
    float: left;
    vertical-align: middle;
    width: 90%;
  }
  div.optionAuxText.optionOnSelect {
    display: inline-block;
    margin: auto;
  }
  div.optionMainText {
    position: relative;
    top: 20%;
    height: 60%;
    float: left;
    font-size: 12px;
    margin: auto;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
  }
  div.optionAuxText {
    position: relative;
    top: 15%;
    height: 70%;
    margin-left: 5%;
    background: #ededed;
    font-size: 10px;
    font-weight: 600;
    border-radius: 4px;
    float: right;
    padding: 0;
  }
  .scrollable-menu {
    height: auto;
    max-height: 210px;
    overflow-x: hidden;
  }
  a.optContainer {
    display: block;
    overflow: auto;
    height: 35px;
    border-bottom: 2px solid;
    border-color: #ededed;
    padding: 0 3%;
  }
  .dropdown-toggle {
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #ffffff, #fcfcfc);
    border: solid 1px #d4d5d6;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 35px;
    &[disabled] {
      background-image: none;
      background-color: #eeeeee;
      border: solid 1px #d4d5d6;
    }
  }
  .scrollable-menu {
    width: 100%;
  }
  .box-list-wrapper {
    list-style-type: none;
    padding-left: 10px;
    padding-top: 3px;
    //margin-left: 2px;
  }
  .box-list {
    color: #000!important;
    background-color: #f1f1f1!important;
    border: 1px solid #000;
    display: -moz-inline-stack;
    display: inline-block;
    horizontal-align: left;
    margin-left: 2px;
    *display: inline;
  }
  .button-delete-box-in-list {
    background-color: Transparent;
    border: none;
    margin: 0;
    padding: 0 2px;
    float: right;
  }
  .scrollable-box-list {
    max-height: 65px;
    overflow-y: auto;
  }
  .add-button {
    margin-left: 0;
  }
}
@media #{$non-desktop} {
  .hideNonDesktop {
    display: none;
  }
  div.projectsContainer {
    div.projectRequests {
      div.requestRow {
        &.hideNonDesktop {
          display: none;
        }
      }
    }
  }
}
@media #{$desktop} {
  .hideDesktop {
    display: none;
  }
  div.projectsContainer div.projectRequests div.rowContainer.hideDesktop {
    display: none;
  }
}
@media #{$mobile} {
  #schedulingHomeMaster {
    div.projectsContainer {
      div.projectRequests {
        margin-top: 0;
      }
    }
    div.schedulingHomeHeader {
      height: 50px;
      margin-left: -15px;
      margin-right: -15px;
      padding-bottom: 10px;
      div.left {
        width: calc(100% - 60px);
        height: 100%;
        div.dropdown {
          width: 100%;
          height: 100%;
          button {
            width: 100%;
            border-radius: 0;
            height: 100%;
          }
          ul.dropdown-menu {
            width: 100%;
          }
        }
      }
      div.controls {
        width: 60px;
        height: 100%;
        margin-top: -5px;
        a {
          .new-project-button {
            width: 100%;
            border-width: 0;
            margin-top: 0;
            border-radius: 0;
            height: 100%;
          }
        }
      }
    }
  }
  .schedulingHomeBody {
    margin-left: -15px;
    margin-right: -15px;
    .projectRow {
      div.projectName {
        margin-bottom: 4px;
      }
    }
  }
}
div.schedulingHomeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  .left {
    display: flex;
    align-items: center;
    .dropdown {
      .btn-primary {
        border-color: black;
        background-color: #53565a;
        box-shadow: 0 2px 0 0 #000000;
        min-width: 170px;
      }
    }
    .checkbox {
      margin-left: 30px;
      display: flex;
      align-items: center;
      @media#{$mobile} {
        display: none;
      }
      input {
        height: 20px;
        width: 20px;
        margin-left: -10px;
        margin-top: 0;
      }
    }
  }
  .tab-button {
    line-height: 35px;
    margin-top: 8px;
    width: 130px;
    height: 35px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #ffffff, #fcfcfc);
    box-shadow: 0 2px 0 0 #53565a;
    border: solid 1px #d4d5d6;
  }
  .controls button {
    margin-top: 8px;
    float: right;
    width: 60px;
    height: 40px;
    line-height: 35px;
    border-radius: 4px;
    box-shadow: 0 2px 0 0 #057a3a;
    background-color: #069a48;
    border: solid 1px #069a48;
    color: #ffffff;
		padding:0px;
    &.toggle-grid-button {
      width: 40px;
      height: 40px;
      margin-left: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-size: 20px;
        padding-left: 1px;
        margin-top: -1px;
      }
      &:not(.active) {
        background-color: #53565a;
        box-shadow: 0 2px 0 0 #000000;
        border: solid 1px #000000;
      }
    }
  }
}
div.tableHeader {
  line-height: 45px;
  font-weight: bold;
  display: flex;
  font-size: 12px;
  > div {
    white-space: nowrap;
  }
  // border-bottom: solid 2px #ededed;
  #statusHeader {
    width: 13%;
    padding-left: 26px;
  }
  #numberHeader {
    width: 3%;
    text-align: center;
  }
  #roleHeader {
    width: 13%;
    text-align: center;
  }
  #categoryHeader {
    width: 19%;
    text-align: center;
  }
  #startDateHeader {
    width: 7%;
    text-align: center;
  }
  #endDateHeader {
    width: 7%;
    text-align: center;
  }
  #resourceHeader {
    width: 14%;
    text-align: center;
  }
  #engagementHeader {
    width: 11%;
    text-align: center;
  }
  #assignedHeader {
    width: 14%;
    text-align: center;
  }
  #daysLeftHeader {
    width: 6%;
    text-align: center;
  }
  #optionsHeader {
    width: 7%;
    text-align: center;
  }
}
div.projectsContainer {
  div.projectName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 14px;
    margin-bottom: 10px;
    width: 100%;
    height: 55px;
    background-color: #ffffff;
    // box-shadow: 0 2px 0 0 #000000;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #53565a;
    div.projectControls {
			flex: 0;
      display: flex;
      align-items: center;
    }
  }
  button.edit-request-button {
    margin-right: 12px;
    width: 35px;
    height: 35px;
    border-radius: 2px;
    background-color: white;
    border: solid 2px #d4d5d6;
    color: #000000;
    padding-left: 6px;
    padding-right: 6px;
  }
  button.new-request-button {
    margin-right: 12px;
    width: 60px;
    height: 35px;
    border-radius: 2px;
    background-color: white;
    border: solid 2px #d4d5d6;
    color: #000000;
		padding:0px;
  }
  img.projectButton {
    padding-right: 20px;
    margin-top: 1px;
  }
  button.hideButton,
  img.hideButton {
    visibility: hidden;
  }
  div.collapsed {
    display: none;
  }
  div.projectRequests {
    margin-left: 0;
    margin-right: 0;
    background-color: white;
    margin-bottom: 15px;
    margin-top: -8px;
    //box-shadow: 0 2px 0 0 #53565a;
    padding-bottom: 15px;
    ul.paginationUL {
      display: flex;
      justify-content: flex-end;
      li {
        &.active {
          a {
            background-color: #86bc25;
            color: white;
          }
        }
        &.disabled {
          a {
            color: #717171;
            border-color: #717171;
          }
        }
        a {
          color: #86bc25;
          border-color: #6fa214;
        }
      }
    }
    div.rowContainer {
      padding: 8px;
      margin: 0;
      div.requestRowSquare {
        display: flex;
        flex-direction: column;
        border: solid 1px #d1d1d1;
        border-radius: 8px;
        padding: 0 0 10px;
        div.line {
          height: 40px;
          display: flex;
          align-items: center;
          padding-left: 20px;
          div.title {
            width: 35%;
          }
          div.content {
						width: 65%;
            font-weight: bolder;
          }
        }
        div.topBar {
          height: 50px;
          background-color: #f0f0f0;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          margin-bottom: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: white;
          //color: #86bc25;
          padding-right: 5px;
          padding-left: 10px;
          span {
            padding-right: 5px;
          }
          .draftRequestText {
            color: #000000;
            padding-left: 20px;
          }
          .pcApprovalRequestText {
            color: #86bc25;
            padding-left: 20px;
          }
          .managerApprovalRequestText {
            color: #069a48;
            padding-left: 20px;
          }
          .communicationRequestText {
            color: #00a3e0;
            padding-left: 20px;
          }
          .closedRequestText {
            color: #53565a;
            padding-left: 20px;
          }
          .cancelledRequestText {
            color: grey;
            padding-left: 20px;
          }
        }
        .requestOptions {
          width: 25%;
          padding-right: 10px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .editSquareButton {
            background-color: #00a3e0;
            width: 25px;
            height: 25px;
            margin-right: 6px;
            position: relative;
            img {
              position: absolute;
              margin: auto;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
            }
          }
          .viewSquareButton {
            background-color: #00a3e0;
            width: 25px;
            height: 25px;
            margin-right: 6px;
            position: relative;
            img {
              position: absolute;
              margin: auto;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
            }
          }
          .cancelSquareButton {
            background-color: #53565a;
            width: 25px;
            height: 25px;
            position: relative;
            img {
              position: absolute;
              margin: auto;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
            }
          }
          .cancelSquareButtonDisabled {
            background-color: #53565a;
            width: 25px;
            height: 25px;
            position: relative;
            img {
              position: absolute;
              margin: auto;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
            }
          }
          .cancelDisabled {
            background-color: #9b9b9b !important;
          }
        }
      }
    }
    div.requestRow {
      div {
        white-space: nowrap;
      }
      line-height: 45px;
      display: flex;
      border-bottom: solid 2px #ededed;
      margin: 0 6px 3px;
      .requestCell {
        background-color: #f0f0f0;
        height: 45px;
      }
      .requestStatus {
        white-space: nowrap;
        width: 13%;
        display: flex;
        margin-right: 2px;
        color: #86bc25;
        border-right: solid 2px #ededed;
        .draftRequest {
          width: 3%;
          height: 100%;
          background-color: #000000;
        }
        .draftRequestText {
          color: #000000;
          padding-left: 20px;
        }
        .pcApprovalRequest {
          width: 3%;
          height: 100%;
          background-color: #86bc25;
        }
        .pcApprovalRequestText {
          color: #86bc25;
          padding-left: 20px;
        }
        .managerApprovalRequest {
          width: 3%;
          height: 100%;
          background-color: #069a48;
        }
        .managerApprovalRequestText {
          color: #069a48;
          padding-left: 20px;
        }
        .communicationRequest {
          width: 3%;
          height: 100%;
          background-color: #00a3e0;
        }
        .communicationRequestText {
          color: #00a3e0;
          padding-left: 20px;
        }
        .closedRequest {
          width: 3%;
          height: 100%;
          background-color: #53565a;
        }
        .closedRequestText {
          color: #53565a;
          padding-left: 20px;
        }
        .cancelledRequest {
          width: 3%;
          height: 100%;
          background-color: grey;
        }
        .cancelledRequestText {
          color: grey;
          padding-left: 20px;
        }
      }
      .requestNumber {
        width: 3%;
        text-align: center;
      }
      .requestRole {
        width: 13%;
        text-align: center;
      }
      .requestCategory {
        width: 19%;
        text-align: center;
        margin-right: 2px;
      }
      .requestStartDate {
        width: 7%;
        text-align: center;
        margin-right: 2px;
      }
      .requestEndDate {
        text-align: center;
        width: 7%;
        margin-right: 2px;
        border-right: solid 2px #ededed;
      }
      .requestEngagement {
        padding-left: 5px;
        text-align: center;
        width: 11%;
      }
      .requestAssigned {
        text-align: center;
        width: 14%;
      }
      .requestDaysLeft {
        text-align: center;
        width: 6%;
      }
      .requestOptions {
        width: 7%;
        padding-right: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .editSquareButton {
          background-color: #00a3e0;
          width: 25px;
          height: 25px;
          margin-right: 6px;
          position: relative;
          img {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
        .viewSquareButton {
          background-color: #00a3e0;
          width: 25px;
          height: 25px;
          margin-right: 6px;
          position: relative;
          img {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
        .cancelSquareButton {
          background-color: #53565a;
          width: 25px;
          height: 25px;
          position: relative;
          img {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
        .cancelSquareButtonDisabled {
          background-color: #53565a;
          width: 25px;
          height: 25px;
          position: relative;
          img {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
        .cancelDisabled {
          background-color: #9b9b9b !important;
        }
      }
    }
  }
}
