
<div id="rightPanel">
  <div class="searchContainer">
   	<span class="glyphicon glyphicon-search search-icon"></span>
    <input id="searchBar" type="search" list="searchDataList" placeholder="Search" autocomplete="off">
  </div>
  <input type = "button" id = "go" style = "display: none" />
  <!-- <datalist id="searchDataList">
    <option value="{{comp.name}}" ng-repeat="comp in data.competenciesList" />
  </datalist> -->

  <ul id="searchResults">
    <li ng-class="{ showMe : comp.cat === data.competencies[macroIndex].name }" ng-repeat="comp in data.competenciesList" style="display:none">
      <div class="resultsWrapper">
        <div class="col-md-1 compTextBox" ng-if="comp.approvalState =='na'"
             ng-click="sendCompetency([comp.approvalState, comp.value, comp.sys_id, comp.updated, $index, comp.name, comp.sub, comp.cat, comp.macro])"><img src="box_unchecked.svg"/></div>
        <div class="col-md-1 compTextBox" ng-if="comp.approvalState == 'requested' || comp.approvalState == 'approved'"><img src="box check.svg"/></div>
        <div class="col-md-1 compTextBox" ng-if="comp.approvalState =='new' || comp.approvalState =='added'"><img src="box_add.svg"/></div>
        <div class="resultContainer">
          <a class="compNameSearch" href="#" ng-click="sendCompetency([comp.approvalState, comp.value, comp.sys_id, comp.updated, $index, comp.name, comp.sub, comp.cat, comp.macro])"
             ng-class="{blue: comp.approvalState == 'new' || comp.approvalState == 'added', grey: comp.approvalState == 'requested' || comp.approvalState == 'approved', 'black': comp.approvalState == 'na' }">{{comp.name}}</a>
          <div class="searchTerm" style="display:none">{{comp.searchTerm}}</div>
          <div class="searchTree">{{comp.searchTree}}</div>
        </div>
      </div>
    </li>
  </ul>

  <div class="sidebarContainer">
  <!-- 3 level hierarchy -->
  <ul class="sideUl hierarchy-top" ng-repeat="cat in data.competencies[macroIndex].cats" ng-click="openCat(cat.name)" ng-if="data.competencies[macroIndex].numOfHierarchies === 3">
    <div ng-class="{ catOpen : cat.name === openCatName}" class='catTag'>
      <span ng-if="cat.name != openCatName" class="chivron"><img  class="chivron-img" src="arrow.svg"/></span>
      <span ng-if="cat.name === openCatName" class="chivron"><img  class="chivron-img" src="white%20arrow.svg"/></span>
      {{cat.name}}</div>
    <ul ng-class="{ showMe : cat.name === openCatName , subCatOpen:  cat.name === openCatName}" ng-repeat="sub in cat.subs track by $index" ng-click="$event.stopPropagation() ; openSubCat(sub.name)" class="sideUl collapsable">
      <div class='catSubTag' ng-class="{ subCatOpen : sub.name === openSubCatName}">
        <span ng-if="sub.name != openSubCatName" class="chivron"><img src="arrow_direita.svg" class="chivron-img"/></span>
        <span ng-if="sub.name === openSubCatName" class="chivron"><img src="arrow_blue.svg"/></span>
        {{sub.name}}</div>
      <ul ng-class="{ showMe : sub.name === openSubCatName, addPossible : comp.approvalState === 'na'}" ng-repeat="comp in sub.comps" ng-click="$event.stopPropagation() ; sendCompetency([comp.approvalState, comp.value, comp.sys_id, comp.updated, comp.compIndex, comp.name, sub.name, cat.name])" class="compsUl collapsable">
        <div class="compTextWrapprer">
        <div class="compTextBox" ng-if="comp.approvalState =='na'"><img src="box_unchecked.svg"/></div>
        <div class="compTextBox" ng-if="comp.approvalState == 'requested' || comp.approvalState == 'approved'"><img src="box check.svg"/></div>
        <div class="compTextBox" ng-if="comp.approvalState =='new' || comp.approvalState =='added'"><img src="box_add.svg"/></div>
          <span class="compText" ng-class="{blue: comp.approvalState == 'new' || comp.approvalState == 'added', grey: comp.approvalState == 'requested' || comp.approvalState == 'approved', 'black': comp.approvalState == 'na' }">
            {{comp.name}}
          </span>
        </div>
      </ul>
    </ul>
  </ul>

<!-- 2 level hierarchy -->
  <ul class="sideUl hierarchy-top" ng-repeat="sub in data.competencies[macroIndex].subs" ng-click="openSubCat(sub.name)" ng-if="data.competencies[macroIndex].numOfHierarchies === 2">
        <div class='catSubTag' ng-class="{ subCatOpen: sub.name === openSubCatName}">
          <span ng-if="sub.name != openSubCatName" class="chivron"><img src="arrow_direita.svg" class="chivron-img"/></span>
          <span ng-if="sub.name === openSubCatName" class="chivron"><img src="arrow_blue.svg"/></span>
          {{sub.name}}</div>
        <ul ng-class="{showMe : sub.name === openSubCatName, addPossible : comp.approvalState === 'na'}" ng-repeat="comp in sub.comps" ng-click="$event.stopPropagation() ; sendCompetency([comp.approvalState, comp.value, comp.sys_id, comp.updated, comp.compIndex, comp.name, sub.name])" class="compsUl collapsable">
          <div class="compTextWrapprer">
            <div class="compTextBox" ng-if="comp.approvalState =='na'"><img src="box_unchecked.svg"/></div>
            <div class="compTextBox" ng-if="comp.approvalState == 'requested' || comp.approvalState == 'approved'"><img src="box check.svg"/></div>
            <div class="compTextBox" ng-if="comp.approvalState =='new' || comp.approvalState =='added'"><img src="box_add.svg"/></div>
            <span class="compText" ng-class="{blue: comp.approvalState == 'new' || comp.approvalState == 'added', grey: comp.approvalState == 'requested' || comp.approvalState == 'approved', 'black': comp.approvalState == 'na' }">
              {{comp.name}}
            </span>
          </div>
        </ul>
      </ul>

<!-- 1 level hierarchy -->
  <ul ng-repeat="comp in data.competencies[macroIndex].comps" ng-click="sendCompetency([comp.approvalState, comp.value, comp.sys_id, comp.updated, comp.compIndex, comp.name])" class="compsUl hierarchy-top" ng-if="data.competencies[macroIndex].numOfHierarchies === 1">
        <div class="compTextWrapprer">
          <div class="compTextBox" ng-if="comp.approvalState =='na'"><img src="box_unchecked.svg"/></div>
          <div class="compTextBox" ng-if="comp.approvalState == 'requested' || comp.approvalState == 'approved'"><img src="box check.svg"/></div>
          <div class="compTextBox" ng-if="comp.approvalState =='new' || comp.approvalState =='added'"><img src="box_add.svg"/></div>
          <span class="compText" ng-class="{blue: comp.approvalState == 'new' || comp.approvalState == 'added', grey: comp.approvalState == 'requested' || comp.approvalState == 'approved', 'black': comp.approvalState == 'na' }">
            {{comp.name}}
          </span>
        </div>
      </ul>

  </div>
</div>
