$non-large-width: "(max-width: 1024px)";

@media #{$non-large-width} {
  #rightPanel {
    display: none;
  }
}

.searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #d0d0ce;
	span.search-icon{
  	width: 45px;
    color: #00a3e0;
    text-align:center;
  }
  input {
    color: #00a3e0;
  }
  ::-webkit-input-placeholder {
    color: #00a3e0;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: #00a3e0;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #00a3e0;
  }
  :-ms-input-placeholder {
    color: #00a3e0;
  }
}
.resultContainer{
	padding-left:5px;
  .compNameSearch {
  	color: blue;
	}
}

#searchResults {
  list-style: none;
  padding-left: 0px;
  background-color: white;
  li {
    border: 1px solid rgba(208, 208, 206, 1);
    padding-left: 10px;
  }
  .resultsWrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    a {
      color: black;
      font-weight: normal;
    }
        .blue {
      color: rgba(10, 119, 169, 1);
    }
    .grey {
      color: rgba(208, 208, 206, 1);
    }
    .black {
      color: black;
    }
    /* hover link */
    a:hover {
      color: rgba(10, 119, 169, 1)
    }
    /* selected link */
    .resultBox {
      margin-right: 15px;
      width: 15px;
      height: 57px;
    }
  }
  .searchTree {
    color: rgba(0, 163, 224, 1);
  }
}
.sidebarContainer {
	padding-top: 25px;
  .hierarchy-top {
    border: 1px solid rgba(208, 208, 206, 1);
    margin-bottom: 0px;
    font-size: 12pt;
    padding-left: 0px;
  }
  .compTextWrapprer {
    display: flex;
    align-items: center;
    cursor: pointer;
    .compTextBox {
      display: flex;
      align-items: center;
      margin-top: 1px;
      margin-right: 10px;
    }
    .blue {
      color: rgba(10, 119, 169, 1);
    }
    .grey {
      color: rgba(208, 208, 206, 1);
    }
    .black {
      color: black;
    }
     :hover {
      color: rgba(10, 119, 169, 1);
    }
  }
}
.collapsable {
  display: none;
  height: auto;
  transition: height 1s;
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -o-transition: height 1s;
  padding-left: 0px;
}
.collapsable.showMe {
  display: block;
}
.addPossible {
  color: black;
}
#rightPanel {
	margin-top: 20px;
  position: absolute;
  width: calc(100% - 15px);
  margin-left:-10px;
}
#searchBar {
  width: 100%;
  height: 40px;
  border: 0px solid rgba(208, 208, 206, 1);
  font-size: 12pt;
}
.glyphicon-menu-right {
  width: 7.8px;
  height: 13.5px;
  color: #ffffff;
}
.sideUl {
  .chiv-blue {
    color: #006d96;
  }
  .catTag {
    color: rgba(176, 190, 197, 1);
    background-color: white;
    min-height: 30px;
    line-height: 30px;
    cursor: pointer;
    &.catOpen {
      background-color: #006d96;
      color: white;
      &:hover {
        color: white;
      }
    }
    &:hover {
      color: #006d96;
    }
  }
  .catSubTag {
    color: rgba(176, 190, 197, 1);
    min-height: 30px;
    line-height: 30px;
    background-color: white;
    padding-left: 10px;
    cursor: pointer;
        &:hover {
      color: #006d96;
    }
  }
  .subCatOpen {
    color: #006d96;
  }
  .chivron {
    margin-left: 15px;
    margin-right: 15px;
  }
  .chivron-img {
    min-width: 12px;
    height: 12px;
    width: 12px;
  }
  .compsUl {
    margin-bottom: 0px;
    margin-top: 0px;
    //display: flex;
    align-items: center;
    margin-left: 25px;
  }
  .checkboxDiv {
    display: flex;
    margin-right: 15px;
    margin-top: 1px;
  }
}
.categorie {
  display: table-cell;
  line-height: 29px;
  padding-left: 14px;
}
