<div class="main">
  <!--ng-app="cenas" ng-controller="mycontr"-->

  <!-- NEW PROJECT HEADER -->
  <div class="macro-title-div">
    <div class="title">
      <span class="macro-title" ng-if="!data.projectId">New Project</span> <span class="macro-title" ng-if="data.projectId">Edit Project</span>
    </div>
  </div>

  <!-- New Project
-->
  <div class="row new-project-form" id="new-project-form">
    <div class="row project-header">
      <div class="col-md-3 col-xs-12 options-project-name">
        <span class="form-header-tags"> Smart Project Name<a class="red-text"> *</a></span>
        <div style="height: 8px;"></div>
        <!-- set as date -->
        <input name="smartProjectName" class="resource-info-title form-control" placeholder="Project Name" type="text" aria-describedby="sizing-addon3" ng-model="data.newprojects.projectName" ng-readonly="data.projectId" required>
      </div>


      <div class="col-md-3 col-xs-12 options-project-name">
        <span class="form-header-tags">Smart Project Type<a class="red-text"> *</a></span>
        <div style="height: 8px;"></div>
        <div class="dropdown">
          <div class="custom-select-desktop" class="btn dropdown-toggle" data-toggle="dropdown" ng-class="{'disabled': data.myApprovals.length === 0}">
            <div class="mainDiv">
              <div class="mainText ">{{data.selectedType.name | limitTo:characterLimit}}{{data.selectedType.length > characterLimit ? '...' : ''}}</div>
            </div>
            <div class="carret">
              <span class="glyphicon glyphicon-menu-down"></span>
            </div>
          </div>
          <ul class="dropdown-menu scrollable-menu">
            <li ng-repeat="type in data.projectTypes" ng-click="selectedTypeChanged(type)">
              <a class="optContainer">
                <div class=optionMainText>{{type.name | limitTo:characterLimit}}{{type.length > characterLimit ? '...' : ''}}</div>
              </a>
            </li>
          </ul>
        </div>
      </div>



      <div class="col-md-3 col-xs-12 options-project-name">
        <span class="form-header-tags">Smart Project Status<a class="red-text"> *</a></span>
        <div style="height: 8px;"></div>
        <div class="dropdown">
          <div class="custom-select-desktop" class="btn dropdown-toggle" data-toggle="dropdown" ng-class="{'disabled': data.myApprovals.length === 0}" ng-disabled="isTypeSelected()">
            <div class="mainDiv">
              <div class="mainText ">{{data.selectedStatus.name | limitTo:characterLimit}}{{data.selectedStatus.name.length > characterLimit ? '...' : ''}}</div>
            </div>
            <div class="carret">
              <span class="glyphicon glyphicon-menu-down"></span>
            </div>
          </div>
          <ul class="dropdown-menu scrollable-menu">
            <li ng-repeat="status in data.selectedType.status" ng-click="selectedStatusChanged(status)">
              <a class="optContainer">
                <div class=optionMainText>{{status.name | limitTo:characterLimit}}{{status.name.length > characterLimit ? '...' : ''}}</div>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!--div class="col-md-3 options-project-name" style="height: 100%">
</div-->
      <div class="col-md-3 col-xs-12 options-project-name align-allow-outsourcing-div">
        <!-- style="float:right;height:100%;display:table;" -->
        <div class="checkbox checkbox-primary allCheckboxDiv align-allow-outsourcing">
          <input id="checkboxAll" class="align-checkbox" type="checkbox" ng-click="changeOutsourcingValue()" checked>
          <label class="outsourcing-desc outsourcing" for="checkboxAll">Allow Outsourcing</label>
        </div>
        <div class="input-group input-group-sm not-allowing-outsourcing-reason" ng-if="isMandatoryCommentShown">
          <textarea ng-disabled="true" id="allowOutsourcing">{{data.currentMessage}}</textarea>
        </div>
      </div>
    </div>
    <div class="row divisionRight">
      <div class="col-md-6">
        <div class="macro-project-id">Short Description<a class="red-text"> *</a></div>
        <div class="input-group input-group-sm discription">
          <textarea name="textarea" ng-model="data.newprojects.description"></textarea>
        </div>
      </div>

      <div class="col-md-6">
        <div class="macro-project-id">Location<a class="red-text"> *</a></div>
        <div class="bottom-spacing">
          <div class="input-group input-group-sm search-competency">
            <span class="glyphicon glyphicon-search search-icon"></span>
            <!--<input id="searchInputLocation" type="search" placeholder="Search" autocomplete="on" ng-model="locationSearchName" aria-describedby="sizing-addon3" list="searchDataListLocation">-->
            <md-autocomplete md-min-length="0" md-no-cache="true" md-selected-item="locationSelectedItem" md-search-text="locationSearchText" md-items="location in locsToSearch(locationSearchText)" md-item-text="location.name">
              <span md-highlight-text="locationSearchText">{{location.name}}</span>
            </md-autocomplete>
            <span class="input-group-btn aux-btn">
                          <button class="btn btn-default add-button" type="button" ng-click="addLocation()" ng-disabled="!canAddLocation()">Add</button>
                        </span>
          </div>
          <!--datalist id="searchDataListLocation">
            <option value="{{location.name}}" ng-repeat="location in locsToSearch()"></option>
          </datalist-->
        </div>
        <div class="box-list-width">
          <div class="scrollable-box-list locationBoxes">
            <ul id="locationBoxList" class="box-list-wrapper" size="8">
              <li value="{{el.name}}" class="box-list" ng-repeat="el in data.addedLocations">{{el.name}}
                <button class="button-delete-box-in-list" type="button" ng-click="removeLocation(el.name)">x</button>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--div class="col-md-3">
        <div class="macro-project-id">Cluster<a class="red-text"> *</a></div>
        <div class="dropdown">
          <div class="custom-select-desktop" style="width:100%;" class="btn dropdown-toggle" data-toggle="dropdown" ng-class="{'disabled': data.projectId}">
            <div class="mainDiv">
              <div class="mainText ">{{data.selectedCluster.name | limitTo:characterLimit}}{{data.selectedCluster.name.length > characterLimit ? '...' : ''}}</div>
            </div>
            <div class="carret" ng-if="!data.projectId">
              <span class="glyphicon glyphicon-menu-down"></span>
            </div>
          </div>
          <ul class="dropdown-menu scrollable-menu clusterScroll">
            <li ng-repeat="cluster in data.clusterList" ng-click="selectedClusterChanged(cluster.sys_id)">
              <a class="optContainer">
                <div class="optionMainText">{{cluster.name | limitTo:characterLimit}}{{cluster.name.length > characterLimit ? '...' : ''}}</div>
              </a>
            </li>
          </ul>
        </div>
      </div-->
      <div class="col-md-6">
        <div class="macro-project-id">Client<a class="red-text"> *</a></div>
        <div class="input-group input-group-sm search-competency" ng-class="{ 'invalid': invalidClient}">
          <span class="glyphicon glyphicon-search search-icon"></span>

          <!--  <input id="searchDataClient" type="search" placeholder="Search" autocomplete="on" list="searchDataListClients" aria-describedby="sizing-addon3" ng-readonly="data.projectId || !data.selectedCluster"> -->

          <md-autocomplete ng-readonly="data.projectId"  md-min-length="0" md-no-cache="true" md-selected-item="data.clientsadded" md-search-text="searchClientText" md-items="client in clientOptions()"
            md-item-text="client.code+' - '+client.name" md-selected-item-change="clearEngagements()">
            <span md-highlight-text="searchText">{{client.code+' - '+client.name}}</span>
            </md-autocomplete>
        </div>
      </div>
      <div class="col-md-3">
        <div class="dates">
          <div class="macro-project-id">Start Date<a class="red-text"> *</a></div>

          <md-datepicker ng-model="start_date" class="start_date" ng-change="endDateBiggerthanStartDate()"></md-datepicker>
        </div>
      </div>
      <div class="col-md-3">
        <div class="dates">
          <div class="macro-project-id">End Date</div>

          <md-datepicker ng-model="end_date" md-placeholder="Pick a date" class="end_date" md-min-date="minMaxDate"></md-datepicker>
        </div>
      </div>
    </div>
    <div class="row compAndEng">
      <div class="col-md-6 form-division">

        <div class="engagement-row">
          <div class="macro-project-id">Engagement<a class="red-text"> *</a></div>
          <div class="input-group input-group-sm search-competency" ng-class="{'invalid':invalidEngagement}" id="engInput">
            <span class="glyphicon glyphicon-search search-icon"></span>
            <md-autocomplete ng-disabled="!data.clientsadded" md-min-length="0" md-no-cache="true" md-selected-item="selectedEng" md-search-text="engSearchTerm" md-items="e in engSearchOptions()" md-item-text="e.description+' - '+e.number">
              <span md-highlight-text="searchText">{{e.description+' - '+e.number}}</span>
            </md-autocomplete>
            <!--<input id="searchInputEngagements" type="search" placeholder="Search" autocomplete="on" ng-model="engagementSearchName" aria-describedby="sizing-addon3" list="searchDataListEngagements" ng-disabled="!data.clientsadded">-->
            <span class="input-group-btn aux-btn">
                          <button class="btn btn-default higher-add-button" type="button" ng-click="addEngagement()" ng-disabled="!canAddEngagement()">Add</button>
                        </span>
          </div>
          <!--datalist id="searchDataListEngagements">
            <option value="{{v.number}}" ng-repeat="(k,v) in filterEngagementsBySelectedClient(data.engagementList)">{{v.description}}</option>
          </datalist-->

          <table class="table table-fixed">
            <thead ng-class="{'headerPadding': data.newprojects.engagements.length > 4}">
              <tr>
                <th class="col-xs-4 col-md-3">#CODE</th>
                <th class="col-xs-8 col-md-5">DESCRIPTION</th>
                <th class="date col-md-2 hideMobile">START DATE</th>
                <th class="date col-md-2 hideMobile">END DATE</th>

              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="eng in data.engagementsadded">
                <td class="col-xs-4 col-md-3 code">
                  <input value="{{eng.number}}" type="text" class="form-control" aria-describedby="sizing-addon3">
                </td>
                <td class="col-xs-8 col-sm-5 descriptionTD">
                  <input value="{{eng.description}}" type="text" class="form-control" aria-describedby="sizing-addon3">
                  <button class="btn btn-default btn-xs hideNonMobile removeButton" ng-click=removeTheLineEngagementTable(eng) style="align='right'"> X </button>
                </td>
                <td class="col-md-2 date hideMobile">
                  <input value="{{eng.start_date}}" type="text" aria-describedby="sizing-addon3">
                </td>
                <td class="col-md-2 date hideMobile endDateTD">
                  <input value="{{eng.end_date}}" type="text" aria-describedby="sizing-addon3">
                  <button class="btn btn-default btn-xs removeButton" ng-click=removeTheLineEngagementTable(eng) style="align='right'"> X </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="engagement-row">
          <div class="macro-project-id">Engagement Owners<a class="red-text"> *</a></div>
          <div class="input-group input-group-sm search-competency">
            <span class="glyphicon glyphicon-search search-icon"></span>
            <md-autocomplete md-min-length="0" md-no-cache="true" md-selected-item="selectedEngOwner" md-search-text="engOwnerSearchTerm" md-items="user in engOwnersSearchOptions()" md-item-text="user.name">
              <span md-highlight-text="searchText">{{user.name}}</span>
            </md-autocomplete>
            <!--<input id="searchInputProjectManager" type="search" placeholder="Search" autocomplete="on" ng-model="searchName" aria-describedby="sizing-addon3" list="searchDataListProjectManagers">-->
            <span class="input-group-btn aux-btn">
                        <button class="btn btn-default higher-add-button" type="button" ng-click="addProjectManager()" ng-disabled="!canAddProjectManager()">Add</button>
                      </span>
          </div>
          <!--<datalist id="searchDataListProjectManagers">
                        <option value="{{user.username}}" ng-repeat="user in data.managersObjects">{{user.name}}</option>
                    </datalist>-->
          <table class="table table-fixed">
            <thead ng-class="{'headerPadding': data.newprojects.engagements.length > 4}">
              <tr>
                <th class="col-md-2 col-xs-4 ">#NUMBER</th>
                <th class="col-md-4 hideMobile">USERNAME</th>
                <th class="col-md-6 col-xs-8">NAME</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in data.managersadded">
                <td class="col-md-2 col-xs-4 code">
                  <input value="{{user.number}}" type="text" class="form-control" aria-describedby="sizing-addon3">
                </td>
                <td class="col-md-4 hideMobile">
                  <input value="{{user.username}}" type="text" class="form-control" aria-describedby="sizing-addon3">
                </td>
                <td class="col-md-6 col-xs-8 date usernameTD">
                  <input value="{{user.name}}" type="text" aria-describedby="sizing-addon3">
                  <button class="btn btn-default btn-xs removeButton" ng-click=removeTheLineManagerTable(user) style="align='right'"> X </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--
<div class="row">
<div class="scrollable-box-list projectManagersBoxes">
<ul id="projectManagerBoxList" class="box-list-wrapper" size="8">
<li value="{{el.username}}" class="box-list" ng-repeat="el in data.managersadded track by $index">{{el.username}}<button class="button-delete-box-in-list" type="button" ng-click="removeProjectManager($index)">x</button></li>
</ul>
</div>
</div>
-->

      </div>

      <div class="col-md-6 form-division">
        <div class=" align-competencies-vertical">
          <div class="macro-project-id">Competencies</div>
          <div class="input-group input-group-sm options-competencies-name">
            <span class="glyphicon glyphicon-search search-icon"></span>
            <md-autocomplete md-min-length="0" md-no-cache="true" md-selected-item="currentlySelectedCompetency" md-search-text="compSearchTerm" md-items="comp in competenciesForSearch()" md-item-text="comp.name">
              <span md-highlight-text="searchText">{{comp.name}}</span>
            </md-autocomplete>
            <!--<input id="searchBar" type="search" list="searchSkills" placeholder="Competencies Search" autocomplete="on">-->
            <button class="addBtn hideMobile" ng-click="compTypeToAdd.func()" ng-disabled="!canAddCompetency()">{{'Add '+compTypeToAdd.name}}</button>
            <button class="toggleBtn hideMobile" ng-click="toggleCompTypeToAdd()"><span class="glyphicon glyphicon-retweet"></span></button>
          </div>
          <div class="mobileButtonsContainer">
            <div class="mobileAddButtons">
              <button class="addBtn" ng-click="compTypeToAdd.func()" ng-disabled="!canAddCompetency()">{{'Add '+compTypeToAdd.name}}</button>
              <button class="toggleBtn" ng-click="toggleCompTypeToAdd()"><span class="glyphicon glyphicon-retweet"></span></button>
            </div>
          </div>
          <!--
                    <datalist id="searchSkills">
                      <option value="{{comp}}" ng-repeat="comp in data.competenciesList track by $index"/>
                    </datalist>
                  -->
        </div>


        <div class="compotenciesRow">
          <div class="modal-half competenciesBoxes" style="float: left;">
            <div class="competenciesBoxesOptionsMacro">
              <span class="form-header-tags">Mandatory</span>
            </div>
            <div>
              <div style="height: 16px;"></div>
              <div class="competenciesBoxesDivs">
                <span class="competenciesBoxesTitles">Technology</span>
              </div>
              <div class="scrollable-box-list">
                <ul class="box-list-wrapper" size="8">
                  <li class="box-list" ng-repeat="comp in data.mandatory.technology track by $index">{{comp}}
                    <button ng-click="removeComp(comp)" class="button-delete-box-in-list" type="button">x</button>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <div class="competenciesBoxesDivs">
                <span class="competenciesBoxesTitles">Business</span>
              </div>
              <div class="scrollable-box-list">
                <ul class="box-list-wrapper" size="8">
                  <li class="box-list" ng-repeat="comp in data.mandatory.business track by $index">{{comp}}
                    <button ng-click="removeComp(comp)" class="button-delete-box-in-list" type="button">x</button>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <div class="competenciesBoxesDivs">
                <span class="competenciesBoxesTitles">Languages</span>
              </div>
              <div class="scrollable-box-list">
                <ul class="box-list-wrapper" size="8">
                  <li class="box-list" ng-repeat="comp in data.mandatory.languages track by $index">{{comp}}
                    <button ng-click="removeComp(comp)" class="button-delete-box-in-list" type="button">x</button>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <div class="competenciesBoxesDivs">
                <span class="competenciesBoxesTitles">Client Knowledge</span>
              </div>
              <div class="scrollable-box-list">
                <ul class="box-list-wrapper" size="8">
                  <li class="box-list" ng-repeat="comp in data.mandatory.clientKnowledge track by $index">{{comp}}
                    <button ng-click="removeComp(comp)" class="button-delete-box-in-list" type="button">x</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="modal-half competenciesBoxes" style="float: right;">
            <div class="competenciesBoxesOptionsMacro">
              <span class="form-header-tags">Optional</span>
            </div>
            <div>
              <div style="height: 16px;"></div>
              <div class="competenciesBoxesDivs">
                <span class="competenciesBoxesTitles">Technology</span>
              </div>
              <div class="scrollable-box-list">
                <ul class="box-list-wrapper" size="8">
                  <li class="box-list" ng-repeat="comp in data.optional.technology track by $index">{{comp}}
                    <button ng-click="removeComp(comp)" class="button-delete-box-in-list" type="button">x</button>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <div class="competenciesBoxesDivs">
                <span class="competenciesBoxesTitles">Business</span>
              </div>
              <div class="scrollable-box-list">
                <ul class="box-list-wrapper" size="8">
                  <li class="box-list" ng-repeat="comp in data.optional.business track by $index">{{comp}}
                    <button ng-click="removeComp(comp)" class="button-delete-box-in-list" type="button">x</button>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <div class="competenciesBoxesDivs">
                <span class="competenciesBoxesTitles">Languages</span>
              </div>
              <div class="scrollable-box-list">
                <ul class="box-list-wrapper" size="8">
                  <li class="box-list" ng-repeat="comp in data.optional.languages track by $index">{{comp}}
                    <button ng-click="removeComp(comp)" class="button-delete-box-in-list" type="button">x</button>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <div class="competenciesBoxesDivs">
                <span class="competenciesBoxesTitles">Client Knowledge</span>
              </div>
              <div class="scrollable-box-list">
                <ul class="box-list-wrapper" size="8">
                  <li class="box-list" ng-repeat="comp in data.optional.clientKnowledge track by $index">{{comp}}
                    <button ng-click="removeComp(comp)" class="button-delete-box-in-list" type="button">x</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Bottom row - Init-->
    <div class="row align-bottom-row">
      <div class="col-md-6 ">
        <span class="red-text">* Required fields</span>
      </div>
      <div class="col-md-6 align-action-button-div">

        <button class="btn cancelNew-project" data-toggle="tooltip" title="Cancel" ng-click="changeToSchedulingHome()">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button class="btn create-and-continue-project" data-toggle="tooltip" title="Submit project" ng-click="createNewProject()" ng-disabled="!areMandatoryFieldsFilled()">
          <span ng-if="!data.projectId" class="glyphicon glyphicon-save"></span>
          <span ng-if="data.projectId" class="glyphicon glyphicon-floppy-disk"></span>
        </button>

        <button class="btn create-and-continue-project" data-toggle="tooltip" title="Submit project & request resource" ng-click="createNewProjectAndResource()" ng-disabled="!areMandatoryFieldsFilled()" ng-if="!data.projectId">
          <span class="glyphicon glyphicon-save"></span>
          <span class="glyphicon glyphicon-user"></span>
        </button>
      </div>
    </div>

    <!--Bottom row - End-->
  </div>

  <!--Allow outsourcing Comment modal(Desktop) - Beggining-->

  <div class="modal fade" id="desktopCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="panel-heading">
          <h4 class="modal-title" id="myModalLabel">Why not?</h4>
          <button class="btn closed" type="button" data-dismiss="modal" ng-click="changeOutsourcingValue()">
						<div data-toggle="tooltip" title="Close">
							<span class="glyphicon glyphicon-remove"></span>
						</div>
					</button>
        </div>
        <div class="modal-body">
          <textarea type="text" ng-model="data.currentMessage" placeholder="Type your reason here"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary close-btn" data-dismiss="modal" ng-click="changeOutsourcingValue()">
						<div data-toggle="tooltip" title="Close">
							<span class="glyphicon glyphicon-remove"></span>
						</div>
					</button>
          <button type="button" class="btn btn-primary save-btn" data-dismiss="modal" ng-class="{ 'disabled':!data.currentMessage}" ng-click="changeMandatoryJustificationShowningStatus()">
						<div data-toggle="tooltip" title="Submit">
							<span class="glyphicon glyphicon-save"></span>
						</div>
					</button>
        </div>
      </div>
    </div>
  </div>

  <!--Allow outsourcing Comment modal(Desktop) - End-->



</div>

<style>
  .md-pane-open {
    z-index: 1999;
  }
</style>
