$mobile: "(max-width: 750px)";
$tablet: "(min-width: 751px) and (max-width: 1024px)";
$desktop: "(min-width: 1025px)";
$non-mobile: "(min-width: 751px)";
$non-desktop: "(max-width: 1024px)";
input[type="search"] {
  width: 400px;
}
md-autocomplete {
  flex-grow: 1;
  width: 400px;
  md-autocomplete-wrap {
    box-shadow: none;
    input {
      width: 400px;
    }
    button {
      display: none;
    }
  }
}
.table-fixed td.usernameTD {
  display: flex;
  justify-content: space-between;
}
.mobileButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: -10px;
  .mobileAddButtons {
    display: none;
    margin-bottom: 10px;
    border: solid 1px #d4d5d6;
    border-radius: 4px;
    @media #{$mobile} {
      display: block;
      .addBtn {
        width: 150px;
        border-left: none;
      }
    }
  }
}
.addBtn {
  height: 40px;
  width: 150px;
  background: none;
  border: none;
  border-left: solid 1px #d4d5d6;
  border-right: solid 1px #d4d5d6;
  &:not([disabled]) {
    color: black;
  }
}
.toggleBtn {
  height: 40px;
  background: none;
  border: none;
  width: 40px;
}
td {
  .removeButton {
    background: none;
    background-color: #53565a;
    color: white;
    border-radius: 0px;
    border: none;
    width: 26px;
    text-align: center;
    font-size: 16px;
  }
}
@media #{$mobile} {
  .table-fixed {
    th.hideMobile, td.hideMobile {
      display: none;
    }
    td.descriptionTD {
      display: flex;
      justify-content: space-between;
    }
  }
}
@media #{$non-mobile} {
  .table-fixed {
    td.endDateTD {
      display: flex;
      justify-content: space-between;
    }
  }
}
@media #{$desktop} {
	div.input-group {
		max-width: 433px;
	}
}
div.input-group {
  display: flex;
  justify-content: center;
  border: solid 1px #d4d5d6;
  border-radius: 4px;
  &.invalid {
    border: 1px solid red;
  }
  span.search-icon {
    height: 39px;
    width: 40px;
    display: flex;
    align-items: center;
    margin-top: -1px;
    padding-left: 10px;
    background: none;
  }
  span.aux-btn {
    display: block;
    width: 50px;
    height: 100%;
    border: none;
    border-left: solid 1px #d4d5d6;
    button {
      border: none;
    }
  }
  input {
    height: 35px;
    background: none;
    background-image: none;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: .1px;
    color: #000000;
    border: none;
    width: 400px;
  }
}
@media #{$non-mobile} {
  .hideNonMobile {
    display: none;
  }
}
@media #{$mobile} {
  .hideMobile {
    display: none;
  }
  .main {
    margin-right: -10px;
    margin-left: -10px;
  }
}
.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */
}
.datepickerdemoBasicUsage md-content {
  padding-bottom: 200px;
}
.bottom-spacing {
  padding-bottom: 5px;
}
.form-header-tags {
  //margin-left: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: .1px;
  color: #000000;
}
.datepickerdemoBasicUsage .validation-messages {
  font-size: 12px;
  color: #dd2c00;
  margin-left: 15px;
}
.create-project {
  background-color: #069a48;
  box-shadow: 0 1px 0 0 #004a21;
  border: solid 1px #004a21;
}
.cancelNew-project {
  background-color: #53565a;
  box-shadow: 0 1px 0 0 #000000;
  border: solid 1px #000000;
}
.create-and-continue-project {
  background-color: #069a48;
  box-shadow: 0 1px 0 0 #004a21;
  border: solid 1px #004a21;
}
.resource-info-title {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  //background-color: #fdfdfd;
  border: solid 1px #d4d5d6;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  color: #53565a;
}
.resources {
  margin-top: 44px;
  position: inherit;
  height: 38px;
  display: flex;
  align-items: center;
  margin-left: 1.5%;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  font-family: "Open Sans", sans-serif;
  color: #CFCDD0;
  .resources-title {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.engagement-row {
  height: 204px;
}
.title {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  color: #000000;
}
.macro-title-div {
  margin-top: 46px;
  position: inherit;
  height: 38px;
  display: flex;
  align-items: center;
  margin-left: 1.5%;
  .title {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.title-project-id {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  color: #069a48;
}
.macro-project-id-div {
  margin-top: 35px;
  position: inherit;
  height: 19px;
  display: flex;
  align-items: center;
  margin-left: 1.5%;
  justify-content: space-between;
  .title {
    height: 100%;
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.2px;
    color: #069a48;
  }
}
.new-project-form {
  textarea, input, button {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
  }
  textarea {
    padding-left: 12px;
    padding-right: 12px;
  }
  margin: auto;
  margin-top: 9px;
  background-color: white;
  width: 97%;
  //height: 930px;
  border-radius: 1px;
  background-color: #ffffff;
  border: solid 2px #069a48;
  .align-bottom-row {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    .col-md-6 {
      padding-top: 15px;
      padding-right: 15px;
    }
    .align-action-button-div {
      color: #ffffff;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      button {
        margin-top: 10px;
        margin-right: 10px;
      }
    }
  }
}
.project-header {
  background-color: #f6f6f6;
  margin: 0;
  padding-left: 15px;
  line-height: 93px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  &.row:before{
    width: 0px;
  }
  .options-project-name {
    line-height: normal;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    @media #{$non-mobile} {
      &.align-allow-outsourcing-div {
        margin-top: 35px;
        //display: flex;
        justify-content: center;
      }
    }
    svg {
      line-height: 1px;
      vertical-align: middle;
    }
    .search-icon {
      //background-color: white;
      border-right: white;
    }
    input {
      //width: 309px;
      //height: 35px;
      border-radius: 4px;
      background-color: #ffffff;
      border: solid 1px #d4d5d6;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.1px;
      color: #000000;
      //margin-left:10px;
    }
     ::-webkit-input-placeholder {
      color: #53565a;
    }
     :-moz-placeholder {
      /* Firefox 18- */
      color: #53565a;
    }
     ::-moz-placeholder {
      /* Firefox 19+ */
      color: #53565a;
    }
     :-ms-input-placeholder {
      color: #53565a;
    }
  }
}
.macro-project-id {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 8px;
}
.divisionRight {
  padding-left: 15px;
  margin-left: 0px;
  margin-right: 0px;
  .col-md-3, .col-md-6 {
    margin-top: 10px;
    padding-right: 15px;
    padding-left: 0px;
    .dates {
      div {
        margin-bottom: 8px;
      }
      md-datepicker {
        margin-left: -15px;
      }
    }
  }
}
.compAndEng {
  padding-left: 15px;
  margin-left: 0px;
  margin-right: 0;
  .form-division {
    margin-top: 30px;
    padding-left: 0px;
    .macro-project-id {
      margin-bottom: 8px;
    }
    .engagement-row {
      margin-top: 20px;
      table {
        background-color: #dfdfdf;
        border-collapse: collapse;
        margin-top: 10px;
      }
    }
    .align-competencies-vertical {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 10px;
    }
  }
}
.date-choice {
  width: 100%;
  input {
    width: 100%;
    height: 35px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #ffffff, #fcfcfc);
    border: solid 1px #d4d5d6;
  }
  input:before {
    position: absolute;
    content: attr(data-date);
  }
  input::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button {
    display: none;
  }
  input::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0;
    color: black;
  }
}
div.input-group.discription {
  width: 100%;
  max-width: none;
  textarea {
    width: 100%;
    resize: none;
    height: 109px;
    border: none;
    background: none;
  }
}
.not-allowing-outsourcing-reason {
  width: 100%;
  margin-left: 0;
  #allowOutsourcing {
    width: 100%;
    resize: none;
    border-radius: 4px !importantalign-checkbox;
    background-image: linear-gradient(to bottom, #ffffff, #fcfcfc);
    border: solid 1px #d4d5d6;
    //height: 53px;
    word-wrap: break-word;
    padding-right: 0;
  }
}
.search-competency {
  svg {
    line-height: 1px;
    vertical-align: middle;
  }
  .search-icon {
    //background-color: white;
    border-right: white;
  }
  input {
    width: 100%;
    width: 400px;
    height: 36px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #ffffff, #fcfcfc);
    border: solid 1px #d4d5d6;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
    color: #000000;
    border-left: white;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
  #searchDataClient {
    height: 38px;
  }
  #searchInputEngagements, #searchInputProjectManager {
    height: 38px;
  }
   ::-webkit-input-placeholder {
    color: #53565a;
  }
   :-moz-placeholder {
    /* Firefox 18- */
    color: #53565a;
  }
   ::-moz-placeholder {
    /* Firefox 19+ */
    color: #53565a;
  }
   :-ms-input-placeholder {
    color: #53565a;
  }
}
.dates {
  width: 100%;
}
.input-field {
  vertical-align: middle;
  display: inline-table;
  line-height: normal;
  width: 100%;
  input {
    height: 35px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #ffffff, #fcfcfc);
    border: solid 1px #d4d5d6;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
    color: #000000;
  }
}

/*.outsourcing-desc {
font-family: "Open Sans", sans-serif;
font-size: 14px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
letter-spacing: 0.2px;
color: #000000;
float:left;
}*/

.create-and-continue-project {
  height: 34px;
  background-color: #069a48;
  box-shadow: 0 1px 0 0 #004a21;
  border: solid 1px #004a21;
}
.create-project {
  height: 34px;
  background-color: #53565a;
  box-shadow: 0 1px 0 0 #000000;
  border: solid 1px #000000;
}
.action-buttons {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  color: #ffffff;
  float: right;
  //margin-right: 10px;
  .create-project {
    background-color: #069a48;
    box-shadow: 0 1px 0 0 #004a21;
    border: solid 1px #004a21;
  }
  .cancelNew-project {
    background-color: #53565a;
    box-shadow: 0 1px 0 0 #000000;
    border: solid 1px #000000;
    padding-top: 8px;
  }
  .create-and-continue-project {
    background-color: #069a48;
    box-shadow: 0 1px 0 0 #004a21;
    border: solid 1px #004a21;
  }
  a {
    color: white;
  }
}
.align-action-button-div {
  padding-right: 0;
}
//TABLE
th, td {
  text-align: left;
  padding: 8px;
  color: black;
}
.table-fixed tbody {
  input {
    display: block;
    padding: 5px;
    margin: 0 !important;
    border: 0 !important;
    width: 100% !important;
    border-radius: 0 !important;
    line-height: 1 !important;
    height: 25px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
    color: #53565a;
    border: 0.1px solid white;
  }
  td {
    margin: 0 !important;
    padding: 0 !important;
  }
  tr:nth-child(even) {
    td, input {
      background-color: #f0f0f0
    }
  }
  tr:nth-child(odd) {
    td, input {
      background-color: #f6f6f6;
    }
  }
}
th {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  color: #000000;
  background-color: #dfdfdf;
}
td {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  color: #53565a;
  border: 0.1px solid white;
  .code {
    font-weight: 600;
  }
}
.date {
  text-align: center !important;
  input {}
  input:before {
    position: absolute;
    content: attr(data-date);
  }
  input::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button {
    display: none;
  }
  input::-webkit-calendar-picker-indicator {
    //position: absolute;
    left: 1px;
    color: black;
  }
}
.add-engagement {
  color: #CFCDD0;
  cursor: pointer;
  height: 25px;
  line-height: 25px;
}
.table-fixed thead {
  width: 100%;
  &.headerPadding {
    padding-right: 3%;
  }
}
.table-fixed tbody {
  max-height: 54px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead>tr>th {
  float: left;
}
.table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>th, .table>tfoot>tr>td {
  border-top: 0.1px solid white !important;
}
.align-engagement-buttons {
  text-align: center;
  button {
    height: 25px;
    background-color: grey;
    color: white;
  }
}
//RESOURCES HEADER
.resources-table th {
  background-color: #C0C0C0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff;
  .sub-title-2 {
    font-weight: bold;
  }
}
.resources-table table {
  margin-left: 1.5%;
  margin-top: 9px;
  width: 97%;
  height: 35px;
}
//CHECKBOX
.checkbox {
  vertical-align: middle;
  margin-left: 9px;
}
.checkbox label {
  display: inline-block;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  //padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -10px;
  border: 1px solid #cccccc;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"] {
  opacity: 0;
}
.checkbox input[type="checkbox"]:focus+label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked+label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled+label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled+label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}
.checkbox-primary input[type="checkbox"]:checked+label::before {
  background-color: white;
  border-color: black;
}
.checkbox-primary input[type="checkbox"]:checked+label::after {
  color: black;
  margin-left: -10px;
}
//DROPDOWN
.dropdown-menu>li>a:hover {
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #ffffff, #fcfcfc);
  border: solid 1px #d4d5d6;
  color: #000000;
  font-family: "Open Sans", sans-serif;
}
.dropdown-menu>li>a {
  padding: 3px 10px;
  overflow: hidden;
}
ul.dropdown-menu {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: 0 2px 0 0 #d4d5d6;
}
div#custom-select-desktop:active {
  width: 100%;
  text-align: left;
  box-shadow: 0 2px 0 0 #d4d5d6;
}
li a {
  padding-top: 0;
  padding-bottom: 0;
}
div.remainingDiv {
  display: table-cell;
  vertical-align: middle;
  margin-left: 6px;
  background-color: #53565a;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 7px;
  color: white;
  line-height: 270%;
  font-size: 8px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin-right: 3px;
}
.mainDiv div.remainingDiv, a:hover div .remainingDiv {
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #ffffff, #fcfcfc);
  border: solid 1px #d4d5d6;
}
ul.dropdown-menu {
  padding: 0;
  border-radius: 4px;
}
li {
  padding: 0;
}
.dropdown-menu {
  width: 375px;
}
div.mainText {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: .1px;
  color: #000000;
}
div.auxSelected {
  float: left;
}
div.optionAuxText.optionOnSelect {
  display: inline-block;
  margin: auto;
}
div.optionMainText {
  position: relative;
  top: 20%;
  height: 60%;
  float: left;
  font-size: 12px;
  margin: auto;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
div.optionAuxText {
  position: relative;
  top: 15%;
  height: 70%;
  margin-left: 5%;
  background: #ededed;
  font-size: 10px;
  font-weight: 600;
  border-radius: 4px;
  float: right;
  padding: 0;
}
.scrollable-menu {
  height: auto;
  max-height: 210px;
  overflow-x: hidden;
}
a.optContainer {
  display: block;
  overflow: auto;
  height: 35px;
  border-bottom: 2px solid;
  border-color: #ededed;
  padding: 0 3%;
}
.dropdown-toggle {
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #ffffff, #fcfcfc);
  border: solid 1px #d4d5d6;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  div.carret {
    display: flex;
    align-items: center;
    height: 37px;
    line-height: 24px;
    text-align: end;
  }
  div.mainDiv {}
}
.scrollable-menu {
  width: 100%
}
.box-list-wrapper {
  list-style-type: none;
  padding-left: 10px;
  padding-top: 3px;
  //margin-left: 2px;
}
.button-delete-box-in-list {
  background-color: Transparent;
  border: none;
  margin: 0px;
  padding: 0px 8px 0px 8px;
  float: right;
}
.scrollable-box-list {
  max-height: 62px;
  overflow-y: auto;
}
.delOptsDiv {
  max-height: 75px;
  overflow-y: scroll;
  margin-top: 1px;
  padding-left: 10px;
  background-color: white;
  border-radius: 4px;
  width: 232px;
  .delOpt {
    display: flex;
    align-items: center;
    height: 25px;
    font-size: 11px;
  }
}
.projectManagersBoxes {
  //max-height: 65;
  margin-left: 10px;
  margin-right: 30px;
}
.align-allow-outsourcing-div {
  //display: flex;
  margin-left: 0;
  .checkbox{
    margin-left: 12px;
  }
  //align-items: center;
  //align-items: center;
  //width: 22%;
  //width: 22%;
  //height: 100%
  //height: 100%;
  //padding-right: 0;
}

/*
.locationBoxes{
max-height: 100px;
}*/

.locationScroll {
  width: 67%;
}
.clusterScroll {
  width: 100%;
}
.checkbox label::after {
  padding-top: 3px
}
.red-text {
  color: red;
  font-size: 12px;
  font-weight: 900;
  font-family: "Open Sans", sans-serif;
}
.compotenciesRow {
  text-align: center;
}
.competenciesBoxes {
  text-align: left;
  width: calc(50% - 6px);
  padding-left: 0;
  //padding-right: 0;
  .competenciesBoxesOptionsMacro {
    text-align: center;
  }
  .competenciesBoxesTitles {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: .1px;
    color: #000000;
    background-color: #dfdfdf;
    text-transform: uppercase;
  }
  .competenciesBoxesOptions {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: .1px;
    color: #000000;
    margin-left: 5px;
  }
  .competenciesBoxesDivs {
    height: 30px;
    line-height: 30px;
    background-color: #dcdcdc;
    padding-left: 5px;
  }
}

/*
.row{
text-align: center;
}
*/

.availability {
  display: inline-block;
  width: 10.89%;
  text-align: center;
}
.box-list {
  line-height: 23px;
  min-height: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  @media #{$mobile} {
    font-size: 10px;
    font-weight: 100;
  }
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  color: #53565a;
  background-color: #EDEDED;
  border: 1px solid #000;
  display: -moz-inline-stack;
  display: inline-block;
  margin: 2px;
  *display: inline;
  border-radius: 1px;
  border: solid 1px #cccccc;
  padding-left: 5px;
}
.scrollable-box-list {
  max-height: 65px;
  overflow-y: auto;
}
.box-list-wrapper {
  list-style-type: none;
  padding-left: 0px !important;
}
.scrollable-box-list {
  max-height: 65px;
  overflow-y: auto;
  height: 65px;
  //border: 1px solid #dcdcdc;
  border: none;
}
.buttons-choice {
  vertical-align: middle;
  cursor: pointer;
}
.add-button {
  height: 40px !important;
  margin-left: 0px !important;
}
.higher-add-button {
  height: 41.7px !important;
  margin-left: 0px !important;
}
div.input-group.options-competencies-name {
  line-height: normal;
  margin-bottom: 20px;
  @media #{$non-mobile} {
    max-width: none;
    width: 100%;
  }
  @media #{$mobile} {
    width: 100%;
  }
  svg {
    line-height: 1px;
    vertical-align: middle;
  }
  .search-icon {
    //background-color: white;
    border-right: white;
  }
  input {
    flex-grow: 1;
  }
   ::-webkit-input-placeholder {
    color: #53565a;
  }
   :-moz-placeholder {
    /* Firefox 18- */
    color: #53565a;
  }
   ::-moz-placeholder {
    /* Firefox 19+ */
    color: #53565a;
  }
   :-ms-input-placeholder {
    color: #53565a;
  }
}
//Allow outsourcing modal
#desktopCommentModal {
  .modal-dialog {
    max-width: 400px;
  }
  .modal-body {
    padding-bottom: 0px;
    textarea {
      width: calc(100% - 2px);
      margin-left: 1px;
      padding-left: 12px;
      padding-right: 12px;
      height: 110px;
      resize: none;
    }
  }
}
////////////////////////////////////

/*
.commentBaloon {
margin-left: 14px;
margin-right: 14px;
margin-bottom: 10px;
padding: 25px;
padding-left: 24px;
padding-right: 65px;
padding-bottom: 14px;
border-radius: 15px;
background-color: #f4f4f4;
}
.commentBaloon p {
color: black;
font-size: 18px;
}
*/

///////////////////////cenas da modal
.modal-dialog {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  button, input, textarea {
    font-family: "Open Sans", sans-serif;
  }
  .panel-heading {
    background-color: #000000;
    color: white;
    font-size: 20px;
    border-bottom: double 2px #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button.closed {
      background-color: #000000;
			&:hover {
				color: #ffffff;
			}
    }
  }
  .modal-body {
    background-color: white;
    //min-height: 200px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    .commentsContainer {
      flex-grow: 1;
    }
  }
  .modal-footer {
    margin-right: 15px;
    margin-left: 15px;
    .btn {
      border: 1px solid #004a21;
      box-shadow: 0 1px 0 0 #004a21;
    }
    .save-btn {
      background-color: #069a48;
			&:hover {
				color: black;
			}
    }
    .close-btn {
      background-color: #53565a;
      color: white;
      &:hover {
        color: black;
      }
    }
  }
}
.modal-content {
  border-radius: 0px;
}
.modal {
  position: fixed;
  top: 20% !important;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0%);
}
