<div id="myModal" class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width:1000px;top: 65px;">
      <div class="modal-header">
        <button type="button" ng-click="stopVideo('vidHome')" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      </div>
      <div class="modal-body">
        <iframe ng-if="::(data.userInfo.isPeopleConnect || data.userInfo.isHeadOfPeopleConnect || data.userInfo.isValidator || data.userInfo.isManagement)" id="vidHome" src="https://player.vimeo.com/video/193745413?autoplay=0" style="width:950px;height:535px"
          frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <iframe ng-if="::(!data.userInfo.isPeopleConnect && !data.userInfo.isHeadOfPeopleConnect && !data.userInfo.isValidator && !data.userInfo.isManagement)" id="vidHome" src="https://player.vimeo.com/video/193745413?autoplay=0" style="width:950px;height:535px"
            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="maintopbar hide-mobile">
  <div id="navbar-selector" class="navtopbar navbar-default">
    <ul id="topNavUl" class="nav navbar-nav">
      <li class="topNavbar" ng-click="noFilter()" ng-class="{'active' : currentMacroIndex === ''}">View All
        <div ng-if="data.newCompetencies.length !== 0" class="counterList">
          {{data.newCompetencies.length}}
        </div>
        <div class="loading">
          <img src="http://www.lettersmarket.com/uploads/lettersmarket/blog/loaders/common_metal/ajax_loader_metal_512.gif" />
        </div>
      </li>
      <li class="topNavbar" ng-if="macro.name" ng-class="{'active' : currentMacroIndex === data.indexes[macro.name].index}" ng-click="selectedMacro(macro.name)" ng-repeat="macro in data.competencies track by $index">{{macro.name}}
        <div class="loading" ng-class="{'active' : (currentMacroIndex === data.indexes[macro.name].index && loadingFilter)}">
          <img src="http://www.lettersmarket.com/uploads/lettersmarket/blog/loaders/common_metal/ajax_loader_metal_512.gif" />
        </div>
      </li>
    </ul>
    <div class="buttons hideNonDesktop">
      <button class="btn btn-default Save" data-toggle="modal" data-target="#waitingModal" ng-click="save()">
        <img src="save_.svg" class="buttonIcon"> SAVE ALL
      </button>
      <div class="divider"></div>
      <button class="btn btn-default Submit" data-toggle="modal" data-target="#waitingModal" ng-click="submit()" ng-class="{'submitDisabled': $root.disableSubmit}">
        <img src="submiticon.svg" class="buttonIcon"> SUBMIT ALL
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="waitingModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modalImg">
          <img src="http://www.lettersmarket.com/uploads/lettersmarket/blog/loaders/common_metal/ajax_loader_metal_512.gif" />
        </div>
        <div class="modalTxt">
          <span>Saving your competencies...</span>
          <br>
          <span class="smallTxt">Please wait until this process is finished</span>
        </div>
      </div>
    </div>
  </div>
	<div class="modal-backdrop fade in"></div>
</div>
